/*mixin */
#mainBanner .bannerList .listItem .coverPic {
  width: 320px;
  height: 153px;
}

.articleTagWrap {
  position: relative;
  zoom: 1;
}
.articleTagWrap:before {
  content: "";
  display: table;
}
.articleTagWrap:after {
  content: "";
  display: table;
  clear: both;
}
.articleTagWrap > * {
  vertical-align: text-top;
}
.articleTagWrap .a_searchBar {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #adadad;
  position: relative;
  float: right;
  margin: 0;
  padding: 0;
  height: 28px;
  cursor: pointer;
  display: inline-block;
}
.articleTagWrap .a_searchBar .lgTxt {
  border: none;
  margin: 0;
  padding-right: 35px;
  padding-left: 5px;
  vertical-align: text-top;
  display: inline-block;
}
.articleTagWrap .a_searchBar .searchBtn {
  position: absolute;
  top: 0;
  right: 0;
  width: 30px;
  height: 100%;
  background-image: url("../images/g/searchIcon.png");
  background-position: 50% 50%;
  border: none;
}

.joinMemberBox .container {
  line-height: 26px;
}
.joinMemberBox .container a {
  display: block;
}
.joinMemberBox .container a.pTxt {
  text-decoration: underline;
}
.joinMemberBox .container .gTxt {
  margin-right: 5px;
}
.joinMemberBox .container .pinkBtn {
  width: 100%;
  height: 30px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
  line-height: 30px;
  margin: 10px 0;
}

#r_keywordIconBox {
  position: relative;
  width: 320px;
  height: 220px;
  margin: auto;
}
#r_keywordIconBox .manList .listItem {
  width: 25%;
  height: 25%;
  float: left;
  cursor: pointer;
  margin-top: 5px;
}
#r_keywordIconBox .manList .listItem .picWrap {
  width: 80%;
  margin: auto;
}
#r_keywordIconBox .manList .listItem .s_name {
  font-size: 60%;
  display: block;
  text-align: center;
  color: #626262;
}

/*# sourceMappingURL=articleList.css.map */
