/*mixin */
.articleTagWrap {
  position: relative;
  zoom: 1;
}
.articleTagWrap .sponsor {
  display: inline-block;
}
.articleTagWrap:before {
  content: "";
  display: table;
}
.articleTagWrap:after {
  content: "";
  display: table;
  clear: both;
}
.articleTagWrap > * {
  vertical-align: text-top;
}
.articleTagWrap .a_searchBar {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #adadad;
  position: relative;
  float: right;
  margin: 0;
  padding: 0;
  height: 28px;
  cursor: pointer;
  display: inline-block;
}
.articleTagWrap .a_searchBar .lgTxt {
  border: none;
  margin: 0;
  padding-right: 35px;
  padding-left: 5px;
  vertical-align: text-top;
  display: inline-block;
}
.articleTagWrap .a_searchBar .searchBtn {
  position: absolute;
  top: 0;
  right: 0;
  width: 30px;
  height: 100%;
  background-image: url("../images/g/searchIcon.png");
  background-position: 50% 50%;
  border: none;
}

.infoWrap .period {
  float: left;
  display: block;
}
.infoWrap .author {
  float: right;
  display: block;
}

.columnistInfoWrap .coverPic {
  width: 55px;
  height: 55px;
  overflow: hidden;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  float: left;
  margin-top: 6px;
}
.columnistInfoWrap .txt {
  overflow: hidden;
  padding: 10px;
  min-height: 75px;
}

.colunmist_rB .columnistInfoWrap .pinkBtn {
  width: 100%;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
}
.colunmist_rB .pBox .area {
  margin-right: 10px;
}
.colunmist_rB .pBox .author {
  margin-right: 10px;
}

.preWord {
  color: #757575;
}

.articleTitle {
  width: 320px;
  margin: 0 auto;
  margin-top: 15px;
}

.infoWrap {
  width: 320px;
  margin: 0 auto;
  margin-top: 5px;
}

.articleWrap {
  width: 320px;
  margin: 0 auto;
}
.articleWrap p {
  padding: 10px 0;
}
.articleWrap a {
  text-decoration: none;
  color: #1860a8;
}
.articleWrap a:hover {
  text-decoration: underline;
  color: #1860a8;
}

.articleTagWrap {
  width: 320px;
  margin: 0 auto;
}
.articleTagWrap.mt_s {
  margin-top: 15px;
}

.columnistInfoWrap {
  width: 320px;
  margin: 0 auto;
}
.columnistInfoWrap.mt_s {
  margin-top: 15px;
}

.likeBox {
  width: 320px;
  margin: 0 auto;
}
.likeBox.mt_s {
  margin-top: 15px;
}

.shareBox {
  width: 320px;
  margin: 0 auto;
}
.shareBox.mt_s {
  margin-top: 15px;
}

.voteBox {
  width: 320px;
  margin: 0 auto;
}
.voteBox.mt_s {
  margin-top: 15px;
}

.relatedArticleBox {
  width: 320px;
  margin: 0 auto;
}
.relatedArticleBox.mt_s {
  margin-top: 15px;
}

.viewRankBox {
  width: 320px;
  margin: 0 auto;
}
.viewRankBox.mt_s {
  margin-top: 15px;
}

.discussBox {
  width: 320px;
  margin: 0 auto;
}
.discussBox.mt_s {
  margin-top: 15px;
}

.fb_discussBox {
  width: 320px;
  margin: 0 auto;
}
.fb_discussBox.mt_s {
  margin-top: 15px;
}

.i_unLock {
  margin: 0 auto;
  margin-top: 15px;
}

.voteBox {
  overflow: hidden;
}
.voteBox .icon_redHeart {
  margin-left: 5px;
}
.voteBox ul {
  width: 320px;
  margin-top: 20px;
  padding-left: 14px;
}
.voteBox ul .listItem {
  width: 95px;
  margin: 0 5px 10px 0;
  float: left;
}
.voteBox ul .listItem .rate {
  margin-right: 4px;
}

.pointBox {
  background-color: #FBE6F2;
  margin: 0 auto;
}
.pointBox ul {
  list-style-type: disc;
  padding-left: 15px;
  margin: 10px 0;
}
.pointBox ul a {
  display: block;
}

.mp3Box {
  background-color: #f2f2f0;
  position: relative;
}
.mp3Box audio {
  width: 259px;
  margin: 15px 0;
}

#r_keywordIconBox {
  position: relative;
  width: 320px;
  height: 220px;
  margin: auto;
}
#r_keywordIconBox .manList .listItem {
  width: 25%;
  height: 25%;
  float: left;
  cursor: pointer;
  margin-top: 5px;
}
#r_keywordIconBox .manList .listItem .picWrap {
  width: 80%;
  margin: auto;
}
#r_keywordIconBox .manList .listItem .s_name {
  font-size: 60%;
  display: block;
  text-align: center;
  color: #626262;
}

/*# sourceMappingURL=article.css.map */
