/*mixin */
.rankMenu {
  padding: 8px 0;
}

.tabWrap {
  border-bottom: 3px solid #e4007f;
}
.tabWrap .tab {
  width: 20%;
  background-color: #e8e8e8;
  text-align: center;
  height: 25px;
  line-height: 25px;
  float: left;
}
.tabWrap .tab:hover {
  background-color: #e4007f;
  color: white;
}
.tabWrap .tab.active {
  background-color: #e4007f;
  color: white;
}

/*# sourceMappingURL=articleRank.css.map */
