/*mixin */
div {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.mBox {
  width: 296px;
  margin: 8px auto;
}

.articleTagWrap .dib {
  display: inline-block;
  vertical-align: sub;
}

.articleWrap {
  margin: 0 auto;
  width: 320px;
}

.shareBox {
  margin: 0 auto;
  width: 320px;
}

.qaWrap .qBox .qTitle.grayTxt {
  color: #373737;
}

.askBox {
  min-height: 120px;
  margin-top: 15px;
}
.askBox .memberBox {
  float: left;
  width: 60px;
  text-align: center;
}
.askBox .memberBox .picWrap {
  width: 55px;
  height: 55px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  overflow: hidden;
  margin: 0px auto;
}
.askBox .memberBox .m_info {
  margin-top: 5px;
}
.askBox .memberBox .m_info .editBtn {
  margin-top: 5px;
}
.askBox .memberBox .m_info .editBtn a:hover {
  text-decoration: none;
}
.askBox .memberBox .m_info .editBtn .i_gEdit {
  margin-top: 2px;
}
.askBox .a_articleBox {
  overflow: hidden;
  padding: 0;
  padding-left: 10px;
  border: none;
}
.askBox .a_articleBox .atBox .articleTitle {
  width: auto;
  margin-top: 0;
  line-height: 1.5rem;
}
.askBox .a_articleBox .a_infobox {
  margin-top: 5px;
}

.answerBox {
  padding: 10px;
  background-color: #fffff1;
}
.answerBox .a_content {
  border-top: 1px solid #bcbcbc;
  padding-top: 15px;
}
.answerBox .mp3Box {
  background-color: inherit;
}
.answerBox .mp3Box audio {
  margin: 5px 0;
  width: 100%;
}
.answerBox .pointBox {
  background-color: inherit;
}
.answerBox .pointBox ul {
  padding-left: 20px;
}
.answerBox .pointBox ul li {
  margin-bottom: 5px;
}

.ansBtn {
  width: 100%;
}

.answerPop {
  position: relative;
}
.answerPop .q_textarea {
  width: 100%;
  min-height: 150px;
}
.answerPop input[type="text"] {
  width: 100%;
  display: block;
}
.answerPop .bigBtn {
  width: 100%;
  height: 30px;
  line-height: 30px;
  text-align: center;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
}

@media screen and (max-width: 481px) {
  #mainContainer .askBox .articleBox {
    width: 235px;
  }
}
@media screen and (min-width: 481px) {
  .mBox {
    width: 296px;
    margin: 8px auto;
  }
}

/*# sourceMappingURL=askArticle.css.map */
