/*mixin */
.mt_s {
  margin-top: 15px;
}

.mt_b {
  margin-top: 30px;
}

.askTabWrap {
  border-bottom: 3px solid #e4007f;
}
.askTabWrap .tabItem {
  float: left;
  height: 28px;
  background-color: #f2f2f2;
  line-height: 28px;
  color: black;
}
.askTabWrap .tabItem a {
  padding: 0 15px;
}
.askTabWrap .tabItem.active {
  color: white;
  background-color: #e4007f;
}
.askTabWrap .tabItem:hover {
  color: white;
  background-color: #e4007f;
}

.askExpertList {
  position: relative;
}
.askExpertList .groupTitle {
  display: block;
  margin-bottom: 15px;
}
.askExpertList .a_group {
  padding-top: 15px;
}
.askExpertList .listItem {
  width: 100%;
  height: 130px;
  border: 1px solid #CBCBCB;
  margin: 0px 15px 15px 0px;
  position: relative;
  overflow: hidden;
  padding: 15px 10px;
}
.askExpertList .listItem.shadow {
  -moz-box-shadow: 2px 2px 6px 2px rgba(51, 51, 102, 0.1);
  -webkit-box-shadow: 2px 2px 6px 2px rgba(51, 51, 102, 0.1);
  box-shadow: 2px 2px 6px 2px rgba(51, 51, 102, 0.1);
}
.askExpertList .listItem a:hover {
  text-decoration: none;
}
.askExpertList .listItem .fl {
  float: left;
  width: 95px;
  text-align: center;
}
.askExpertList .listItem .fr {
  overflow: hidden;
  height: 100%;
  position: relative;
}
.askExpertList .listItem .a_pic {
  width: 78px;
  height: 78px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 auto;
}
.askExpertList .listItem .a_name {
  text-align: center;
}
.askExpertList .listItem .a_title {
  text-align: center;
  margin-top: 10px;
  line-height: 25px;
}
.askExpertList .listItem .a_content {
  line-height: 20px;
  color: #6f6f6f;
}
.askExpertList .listItem .followBtn {
  padding: 0 10px;
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
  border-radius: 30px;
  position: absolute;
  bottom: 11px;
  left: 106px;
  width: 85px;
  height: 30px;
  line-height: 30px;
  text-align: center;
}
.askExpertList .listItem .followBtn .whiteLineHeart {
  margin-left: 5px;
}
.askExpertList .listItem .moreBtn {
  position: absolute;
  right: 0;
  bottom: 0;
}
.askExpertList .listItem .moreBtn:hover {
  color: inherit;
}

/*# sourceMappingURL=askExpert.css.map */
