/*mixin */
.bBigBtn {
  width: 100%;
}

.searchKeyword {
  width: 100%;
  height: 30px;
}
.searchKeyword .searchAsk {
  width: 85%;
  height: 30px;
  padding: 2px 8px;
}
.searchKeyword .searchBtn {
  position: relative;
  top: 3px;
  float: right;
  width: 12%;
  height: 30px;
  background-image: url("../images/g/searchIcon.png");
  background-position: 50% 50%;
  border: none;
}

#mainContainer > .roundDiv {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

.gBg {
  background-color: #eaeaea;
}

.wBg {
  background-color: #FFF;
}

#footer {
  margin-top: 0;
}

.pl_b {
  padding-left: 62px;
}

.filterBox .filterName {
  float: left;
  line-height: 30px;
}
.filterBox .q_name {
  display: block;
}
.filterBox .filterWrap {
  margin-top: 15px;
  margin-left: 10px;
  overflow: hidden;
}
.filterBox .filterWrap input[type=radio] {
  display: none;
}
.filterBox .filterWrap input[type=radio]:checked + label {
  background-color: #e4007f;
  color: white;
}
.filterBox .filterWrap input[type=checkbox] {
  display: none;
}
.filterBox .filterWrap input[type=checkbox]:checked + label {
  background-color: #e4007f;
  color: white;
}
.filterBox .filterWrap .redBtn {
  float: left;
  margin-left: 10px;
  margin-bottom: 8px;
  padding: 0 10px;
  height: 30px;
  -moz-border-radius: 14px;
  -webkit-border-radius: 14px;
  border-radius: 14px;
  border: 1px solid #e4007f;
  text-align: center;
  line-height: 30px;
  color: #e4007f;
  position: relative;
  cursor: pointer;
}

.editBox {
  padding-bottom: 30px;
}
.editBox .gbd_input {
  width: 100%;
  height: 30px;
  margin-top: 5px;
  padding: 2px 8px;
}
.editBox .gbd_input_big {
  min-height: 200px;
  margin-top: 15px;
}
.editBox .grayBtn {
  width: 100%;
  padding: 8px 0;
  text-align: center;
  display: block;
  background-color: #b6b6b6;
  color: #fff;
}
.editBox .i_camara {
  margin-top: -2px;
  margin-right: 3px;
}
.editBox .pic_preview {
  display: none;
  border: 1px solid #adadad;
  overflow: hidden;
  width: 100%;
  position: relative;
}
.editBox .pic_preview:hover .deleBtnWrap {
  display: block;
}
.editBox .pic_preview .deleBtnWrap {
  position: absolute;
  width: 100%;
  height: 100%;
}
.editBox .pic_preview .deleBtnWrap .deleBtn {
  position: absolute;
  right: -1px;
  top: -1px;
  cursor: pointer;
  padding: 8px 10px;
  background-image: url("../images/g/black.png");
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7;
}
.editBox .pic_preview .deleBtnWrap .deleBtn:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}
.editBox .pic_preview .deleBtnWrap .deleBtn .i_delBtn {
  margin-left: 5px;
}
.editBox .pic_preview img {
  vertical-align: bottom;
}
.editBox .relatedArticleBox ul li {
  margin-top: 0;
}
.editBox .relatedArticleBox .bdt {
  border-top: 1px dotted #ABABAB;
  padding-top: 20px;
}
.editBox .tdu {
  border-bottom: 1px solid #bbb;
  display: inline-block;
}

.grayBorderBtn {
  padding: 0 2px;
  border: 1px solid #adadad;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  height: 25px;
  display: block;
  line-height: 24px;
  text-align: center;
  background-color: #FFF;
}
.grayBorderBtn.nobd {
  border: none;
}
.grayBorderBtn:hover {
  background-color: #dfdfdf;
  text-decoration: none;
}
.grayBorderBtn.active {
  border: 1px solid #dfdfdf;
  background-color: #dfdfdf;
}

.nextBtnWrap {
  text-align: center;
}
.nextBtnWrap .noBtn {
  display: inline-block;
  vertical-align: text-top;
}
.nextBtnWrap .yesBtn {
  display: inline-block;
  vertical-align: text-top;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
  height: 30px;
  line-height: 30px;
}
.nextBtnWrap .yesBtn.sBtn {
  width: 120px;
}
.nextBtnWrap input[type="checkbox"] {
  margin-top: 5px;
  vertical-align: text-top;
}

.askTip ol {
  list-style-type: decimal;
  padding-left: 20px;
}
.askTip ol li {
  margin-top: 15px;
}

.searchFilterBox {
  padding-right: 4px;
}

/*# sourceMappingURL=askEdit.css.map */
