/*mixin */
.mt_s {
  margin-top: 15px;
}

.mt_b {
  margin-top: 30px;
}

.tagWrap {
  position: relative;
}
.tagWrap .a_searchBar {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #adadad;
  position: absolute;
  right: 8px;
  left: 88px;
  top: 4px;
  margin: 0;
  padding: 0;
  height: 28px;
  cursor: pointer;
}
.tagWrap .a_searchBar .lgTxt {
  border: none;
  margin: 0;
  padding-left: 5px;
  padding-top: 4px;
  vertical-align: text-top;
  width: 170px;
}
.tagWrap .a_searchBar .searchBtn {
  position: absolute;
  top: 0;
  right: 0;
  width: 30px;
  height: 100%;
  background-image: url("../images/g/searchIcon.png");
  background-position: 50% 50%;
  border: none;
}

#mainBanner {
  width: 320px;
  overflow: hidden;
  margin: 0 auto;
  position: relative;
}
#mainBanner .swiper-pagination {
  position: absolute;
  top: 0;
  right: 5px;
  bottom: auto;
  width: auto;
  left: auto;
}
#mainBanner .swiper-pagination .swiper-pagination-bullet {
  margin: 0 3px;
  background: url("../images/g/switchDot.png") no-repeat 0 -7px;
  background-size: 6px 13px;
  width: 6px;
  height: 6px;
  border: none;
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}
#mainBanner .swiper-pagination .swiper-pagination-bullet-active {
  background: url("../images/g/switchDot.png") no-repeat 0 0;
  background-size: 6px 13px;
  width: 6px;
  height: 6px;
}
#mainBanner .coverPic {
  width: 320px;
  height: 178px;
}

.askList .tagBox {
  border-bottom: 1px solid #ABABAB;
  margin-bottom: 15px;
}
.askList .tagBox .tagWrap {
  float: left;
}
.askList .tagBox .tagWrap ul li {
  display: inline-block;
}
.askList .tagBox .tagWrap ul .tagItem {
  margin-right: 8px;
  height: 30px;
}
.askList .tagBox .tagWrap ul .tagItem.active {
  color: #e4007f;
}
.askList .tagBox .tagWrap ul .tagItem:hover {
  color: #e4007f;
}
.askList .tagBox .sortWrap {
  float: right;
  line-height: 25px;
  vertical-align: top;
}
.askList .tagBox .sortWrap ul li {
  display: inline-block;
  margin-left: 5px;
  vertical-align: top;
}

.grayBorderBtn {
  border: 1px solid #adadad;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  height: 25px;
  display: block;
  line-height: 24px;
  text-align: center;
  background-color: #FFF;
  width: 48px;
}
.grayBorderBtn.nobd {
  border: none;
}
.grayBorderBtn:hover {
  background-color: #dfdfdf;
  text-decoration: none;
}
.grayBorderBtn.active {
  border: 1px solid #ffd8ee;
  background-color: #ffd8ee;
  color: #ea3e97;
}

.qaWrap {
  padding: 5px 0;
  border-bottom: 1px dotted #adadad;
}
.qaWrap.sponsor {
  background-color: #f3f3f3;
}
.qaWrap .qBox .lWrap {
  width: 180px;
  max-width: 580px;
  float: left;
}
.qaWrap .qBox .lWrap .qTitle.grayTxt {
  color: #373737;
}
.qaWrap .qBox .lWrap .q_info {
  margin-top: 15px;
}
.qaWrap .qBox .lWrap .q_info .greenBorderBtn {
  float: none;
  display: inline-block;
  height: 25px;
  line-height: 24px;
  vertical-align: text-top;
  margin-top: -3px;
}
.qaWrap .qBox .lWrap .q_info a:hover {
  text-decoration: none;
}
.qaWrap .qBox .lWrap .q_info .i_gEdit {
  margin-left: 10px;
}
.qaWrap .qBox .l_title {
  overflow: hidden;
}
.qaWrap .qBox .dealBox {
  width: 110px;
  text-align: center;
  margin-right: 5px;
}
.qaWrap .qBox .dealBox .grayBorderBtn {
  margin-bottom: 7px;
}
.qaWrap .qBox .dealBox .rBox {
  float: left;
}
.qaWrap .qBox .dealBox .lBox {
  float: left;
  margin-right: 5px;
  padding-right: 5px;
}
.qaWrap .qBox .dealBox i {
  vertical-align: text-top;
}
.qaWrap .aBox {
  background-color: #fffff1;
  width: 90%;
  float: right;
  padding: 15px;
  margin: 15px;
}
.qaWrap .aBox .manPicWrap {
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  overflow: hidden;
  float: left;
  width: 63px;
  height: 63px;
  margin: 0 20px;
}
.qaWrap .aBox .rBox {
  float: none;
  overflow: hidden;
  min-height: 63px;
}
.qaWrap .aBox .rBox .a_txt i {
  line-height: 1.5;
}
.qaWrap .aBox .rBox .a_info {
  margin-top: 15px;
}
.qaWrap .aBox .rBox .a_info .greenTxt {
  color: #87a800;
}
.qaWrap .aBox .rBox .a_info .a_time {
  margin-left: 10px;
}
.qaWrap .aBox .rBox .a_info .a_time .i_clock {
  margin-top: 2px;
}

#editBox {
  padding-bottom: 0;
}

.faqListTitle {
  font-size: 110%;
  margin-left: 5px;
  color: #373737;
}

/*# sourceMappingURL=askList.css.map */
