/*mixin */
#mainBanner {
  width: 320px;
  overflow: hidden;
  margin: 0 auto;
  position: relative;
}
#mainBanner .swiper-pagination {
  position: absolute;
  top: 0;
  right: 5px;
  bottom: auto;
  width: auto;
  left: auto;
}
#mainBanner .swiper-pagination .swiper-pagination-bullet {
  margin: 0 3px;
  background: url("../images/g/switchDot.png") no-repeat 0 -7px;
  background-size: 6px 13px;
  width: 6px;
  height: 6px;
  border: none;
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}
#mainBanner .swiper-pagination .swiper-pagination-bullet-active {
  background: url("../images/g/switchDot.png") no-repeat 0 0;
  background-size: 6px 13px;
  width: 6px;
  height: 6px;
}
#mainBanner .coverPic {
  width: 320px;
  height: 178px;
}

.bk_booklistBox2 {
  padding: 10px 0;
}
.bk_booklistBox2 .picWrap {
  -moz-background-size: contain;
  -o-background-size: contain;
  -webkit-background-size: contain;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  width: 100px;
  height: 100px;
  float: left;
  display: block;
}
.bk_booklistBox2 .picWrap .seeMoreItem {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  line-height: 100px;
  text-align: center;
  color: white;
  display: block;
}
.bk_booklistBox2 .txtWrap {
  padding: 15px 0 15px 10px;
  overflow: hidden;
  min-height: 100px;
  display: block;
}

.bk_booklistBox {
  padding: 15px 0 20px;
  border-bottom: 1px solid #adadad;
}
.bk_booklistBox.withoutBd {
  border-bottom: none;
}
.bk_booklistBox .blb_tag {
  font-size: 15px;
}
.bk_booklistBox .blb_title {
  margin-top: 5px;
}
.bk_booklistBox .blb_info {
  font-size: 14px;
  margin-top: 5px;
}
.bk_booklistBox .blb_books {
  margin-top: 15px;
}
.bk_booklistBox .blb_books .blb_book {
  display: inline-block;
  width: 90px;
  height: 90px;
  vertical-align: text-top;
  -moz-background-size: contain;
  -o-background-size: contain;
  -webkit-background-size: contain;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.bk_booklistBox .blb_books .blb_book .seeMoreItem {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  line-height: 90px;
  text-align: center;
  color: white;
}

.bk_filterBox {
  border-bottom: 1px solid #adadad;
  padding-bottom: 10px;
}
.bk_filterBox .i_bookSelect {
  float: left;
  margin-right: 10px;
  margin-top: 5px;
}
.bk_filterBox .tagWrap {
  overflow: hidden;
}
.bk_filterBox .tagWrap .grayLineBtn {
  display: inline-block;
  vertical-align: text-top;
  padding: 0 15px;
  height: 30px;
  line-height: 30px;
  margin: 0px 5px 5px 0;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
}

.bk_bookBox {
  padding: 15px 0 20px;
  border-bottom: 1px dotted #ABABAB;
}
.bk_bookBox.withoutBd {
  border-bottom: none;
}
.bk_bookBox .picBox {
  width: 90px;
  height: 90px;
  display: inline-block;
  vertical-align: text-top;
}
.bk_bookBox .txtBox {
  width: 173px;
  min-height: 90px;
  display: inline-block;
  vertical-align: text-top;
  line-height: 1.15rem;
}
.bk_bookBox .txtBox .infoBox {
  display: block;
  height: 17px;
}
.bk_bookBox .txtBox .subinfo {
  line-height: 1rem;
}
.bk_bookBox .txtBox .starScore {
  margin-top: 0;
  display: inline-block;
  vertical-align: text-top;
  height: 20px;
}
.bk_bookBox .txtBox .bk_icon {
  display: inline-block;
  vertical-align: text-top;
  margin-top: 2px;
}
.bk_bookBox .colectionBtn {
  display: inline-block;
  vertical-align: text-top;
  width: 30px;
}
.bk_bookBox .colectionBtn.active .i_collect {
  background: url("../images/g/bookIcon.png") no-repeat -27px -24px;
  background-size: 75px 75px;
  width: 22px;
  height: 27px;
}
.bk_bookBox .colectionBtn .i_collect {
  margin: 0 auto;
  display: block;
}
.bk_bookBox .colectionBtn .lgTxt {
  text-align: center;
  padding-top: 2px;
}
.bk_bookBox .subTxtBox {
  display: block;
}

.bk_searchBox {
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
  overflow: hidden;
}
.bk_searchBox .sb_tagWrap {
  zoom: 1;
}
.bk_searchBox .sb_tagWrap:before {
  content: "";
  display: table;
}
.bk_searchBox .sb_tagWrap:after {
  content: "";
  display: table;
  clear: both;
}
.bk_searchBox .sb_tagWrap .sb_tag {
  text-align: center;
  height: 40px;
  float: left;
  background-color: #dedede;
  color: #626262;
  line-height: 40px;
  width: 50%;
  font-size: 16px;
  position: relative;
}
.bk_searchBox .sb_tagWrap .sb_tag.active {
  background-color: #cccbcb;
  color: #e4007f;
}
.bk_searchBox .sb_tagWrap .sb_tag.active:after {
  content: "";
  position: absolute;
  bottom: -8px;
  left: 50%;
  margin-left: -8px;
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 8px solid #cccbcb;
}
.bk_searchBox .sb_container {
  background-color: #ebebeb;
}
.bk_searchBox .sb_container .searchFilterForm {
  padding: 25px 0;
}
.bk_searchBox .sb_container .searchFilterForm .sb_searchBar {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #adadad;
  position: relative;
  overflow: hidden;
  width: 100%;
  margin: 0;
  padding: 0;
  height: 28px;
  line-height: 28px;
  margin-bottom: 15px;
}
.bk_searchBox .sb_container .searchFilterForm .sb_searchBar input[type="text"] {
  border: none;
  margin: 0;
  width: 100%;
  height: 100%;
  display: block;
  padding-right: 35px;
  padding-left: 10px;
  font-size: 13px;
}
.bk_searchBox .sb_container .searchFilterForm .sb_searchBar .searchBtn {
  position: absolute;
  top: 0;
  right: 0;
  width: 30px;
  height: 100%;
  background-image: url("../images/g/searchIcon.png");
  background-position: 50% 50%;
  border: none;
}
.bk_searchBox .sb_container .searchFilterForm input[type="submit"] {
  margin: 0 auto;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
  height: 30px;
  line-height: 30px;
  font-size: 14px;
  margin-top: 25px;
}

.c_filterBox {
  margin-bottom: 15px;
}
.c_filterBox .filterName {
  float: left;
  padding-top: 1px;
  margin-right: 5px;
}
.c_filterBox .filterWrap {
  overflow: hidden;
}
.c_filterBox .filterWrap input[type=radio] {
  display: none;
}
.c_filterBox .filterWrap input[type=radio]:checked + label {
  background-color: #e4007f;
  color: white;
}
.c_filterBox .filterWrap input[type=checkbox] {
  display: none;
}
.c_filterBox .filterWrap input[type=checkbox]:checked + label {
  background-color: #e4007f;
  color: white;
}
.c_filterBox .filterWrap .redBtn {
  float: left;
  margin-right: 5px;
  margin-bottom: 8px;
  padding: 0 15px;
  height: 30px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
  border: 1px solid #e4007f;
  text-align: center;
  line-height: 30px;
  color: #e4007f;
  position: relative;
  cursor: pointer;
}
.c_filterBox .filterWrap .noteTxt {
  font-size: 10px;
}

.starScore {
  display: inline-block;
  vertical-align: text-top;
  margin-top: 2px;
}
.starScore.bigStar {
  margin-top: -1px;
}
.starScore li {
  background: url("../images/g/bookIcon.png") no-repeat -20px -2px;
  width: 14px;
  height: 13px;
  display: inline-block;
  vertical-align: text-top;
}
.starScore.s1 li:nth-child(1) {
  background: url("../images/g/bookIcon.png") no-repeat -2px -2px;
}
.starScore.s2 li:nth-child(1), .starScore.s2 li:nth-child(2) {
  background: url("../images/g/bookIcon.png") no-repeat -2px -2px;
}
.starScore.s3 li:nth-child(1), .starScore.s3 li:nth-child(2), .starScore.s3 li:nth-child(3) {
  background: url("../images/g/bookIcon.png") no-repeat -2px -2px;
}
.starScore.s4 li:nth-child(1), .starScore.s4 li:nth-child(2), .starScore.s4 li:nth-child(3), .starScore.s4 li:nth-child(4) {
  background: url("../images/g/bookIcon.png") no-repeat -2px -2px;
}
.starScore.s5 li:nth-child(1), .starScore.s5 li:nth-child(2), .starScore.s5 li:nth-child(3), .starScore.s5 li:nth-child(4), .starScore.s5 li:nth-child(5) {
  background: url("../images/g/bookIcon.png") no-repeat -2px -2px;
}
.starScore.bigStar li {
  background: url("../images/g/bookIcon.png") no-repeat -38px -18px;
  width: 30px;
  height: 27px;
  cursor: pointer;
}
.starScore.bigStar.s1 li:nth-child(1) {
  background: url("../images/g/bookIcon.png") no-repeat 0 -18px;
}
.starScore.bigStar.s2 li:nth-child(1), .starScore.bigStar.s2 li:nth-child(2) {
  background: url("../images/g/bookIcon.png") no-repeat 0 -18px;
}
.starScore.bigStar.s3 li:nth-child(1), .starScore.bigStar.s3 li:nth-child(2), .starScore.bigStar.s3 li:nth-child(3) {
  background: url("../images/g/bookIcon.png") no-repeat 0 -18px;
}
.starScore.bigStar.s4 li:nth-child(1), .starScore.bigStar.s4 li:nth-child(2), .starScore.bigStar.s4 li:nth-child(3), .starScore.bigStar.s4 li:nth-child(4) {
  background: url("../images/g/bookIcon.png") no-repeat 0 -18px;
}
.starScore.bigStar.s5 li:nth-child(1), .starScore.bigStar.s5 li:nth-child(2), .starScore.bigStar.s5 li:nth-child(3), .starScore.bigStar.s5 li:nth-child(4), .starScore.bigStar.s5 li:nth-child(5) {
  background: url("../images/g/bookIcon.png") no-repeat 0 -18px;
}

.bookInfoBox {
  padding: 10px 0;
  border-bottom: 1px solid #adadad;
  margin-top: -1px;
}
.bookInfoBox .evaluateBtn {
  padding: 0 10px;
  width: auto;
  float: none;
  display: inline-block;
  vertical-align: text-top;
  margin: 0;
  margin-top: 3px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
.bookInfoBox .bPic {
  width: 100%;
  height: 180px;
}
.bookInfoBox .txtWrap {
  overflow: hidden;
  min-height: 180px;
  position: relative;
  color: #373737;
}
.bookInfoBox .txtWrap .pr_b {
  padding-right: 60px;
}
.bookInfoBox .txtWrap .colectionBtn {
  position: absolute;
  right: 0;
  top: 0;
  width: 60px;
  cursor: pointer;
}
.bookInfoBox .txtWrap .colectionBtn .i_collect {
  margin: 0 auto;
}
.bookInfoBox .txtWrap .colectionBtn .lgTxt {
  text-align: center;
  display: none;
}
.bookInfoBox .txtWrap .colectionBtn:hover .lgTxt {
  display: block;
}
.bookInfoBox .txtWrap .colectionBtn:hover .i_collect {
  background: url("../images/g/bookIcon.png") no-repeat -88px -4px;
}
.bookInfoBox .txtWrap .colectionBtn.active .i_collect {
  background: url("../images/g/bookIcon.png") no-repeat -55px -4px;
}
.bookInfoBox .txtWrap .recommendBox .lBox {
  padding-right: 10px;
  border-right: 1px solid #94b706;
  margin-right: 10px;
}
.bookInfoBox .txtWrap .evaluateStarBox {
  background-color: #ebebeb;
  padding: 10px 15px 15px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  display: inline-block;
}
.bookInfoBox .txtWrap .evaluateStarBox .greenBtn {
  display: inline-block;
  vertical-align: text-top;
  margin-top: 5px;
  padding: 0 20px;
  height: 28px;
  line-height: 28px;
  width: 80px;
}

.whiteMaskTxtBox {
  zoom: 1;
  position: relative;
}
.whiteMaskTxtBox:before {
  content: "";
  display: table;
}
.whiteMaskTxtBox:after {
  content: "";
  display: table;
  clear: both;
}
.whiteMaskTxtBox.active .r_txt {
  height: auto;
}
.whiteMaskTxtBox.active .r_mask {
  display: none;
}
.whiteMaskTxtBox.active .r_slideBtn {
  display: none;
}
.whiteMaskTxtBox .r_slideBtn {
  position: relative;
  z-index: 10;
  margin-top: 15px;
  text-align: right;
}
.whiteMaskTxtBox .r_txt {
  overflow: hidden;
  height: 78px;
}
.whiteMaskTxtBox .r_mask {
  width: 100%;
  height: 31px;
  background-image: url("../images/g/whiteUp.png");
  position: absolute;
  left: 0;
  bottom: 31px;
}

.bk_recommendBox .recommendTxt {
  position: relative;
  padding-bottom: 15px;
}
.bk_recommendBox .recommendTxt:not(:last-child) {
  border-bottom: 1px dotted #ABABAB;
}

.bk_resourceBox .titleBtn .classBtn {
  text-align: center;
  width: 45%;
  display: inline-block;
  vertical-align: top;
}

.shareBox {
  margin: 0 auto;
  width: 320px;
}

.bk_bookList_2 .b_item {
  display: inline-block;
  vertical-align: text-top;
  width: 49%;
  padding: 10px 0;
}
.bk_bookList_2 .b_item .picBox {
  height: 188px;
}
.bk_bookList_2 .b_item .txtBox {
  padding: 5px;
}
.bk_bookList_2 .b_item .i_bDelete {
  display: block;
  margin: 15px auto;
}

.articleTagWrap {
  position: relative;
  zoom: 1;
}
.articleTagWrap .sponsor {
  display: inline-block;
}
.articleTagWrap:before {
  content: "";
  display: table;
}
.articleTagWrap:after {
  content: "";
  display: table;
  clear: both;
}
.articleTagWrap > * {
  vertical-align: text-top;
}
.articleTagWrap .a_searchBar {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #adadad;
  position: relative;
  float: right;
  margin: 0;
  padding: 0;
  height: 28px;
  cursor: pointer;
  display: inline-block;
}
.articleTagWrap .a_searchBar .lgTxt {
  border: none;
  margin: 0;
  padding-right: 35px;
  padding-left: 5px;
  vertical-align: text-top;
  display: inline-block;
}
.articleTagWrap .a_searchBar .searchBtn {
  position: absolute;
  top: 0;
  right: 0;
  width: 30px;
  height: 100%;
  background-image: url("../images/g/searchIcon.png");
  background-position: 50% 50%;
  border: none;
}

/*# sourceMappingURL=book.css.map */
