/*mixin */
.columnistBox .columnistList .listItem .fullDiv {
  margin-top: 5px;
}
.columnistBox .columnistList .listItem .coverPic {
  border: none;
}
.columnistBox .columnistList .listItem .txt {
  position: relative;
}
.columnistBox .columnistList .listItem .date {
  position: absolute;
  top: 0;
  right: 0;
}

.columnArticleList .listItem {
  padding: 15px 0;
}
.columnArticleList .listItem .c_author {
  float: left;
  margin-top: 7px;
}
.columnArticleList .listItem .c_date {
  float: right;
  margin-top: 10px;
}

/*# sourceMappingURL=columnistArticleList.css.map */
