/*mixin */
.errorPic {
  width: 266px;
  height: 313px;
  background: url("../images/g/errorPic.png");
  margin: 20px auto;
}

.pLineBtn {
  margin-top: 20px;
  width: auto;
  height: 30px;
  line-height: 27px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
  padding: 0 27px;
  display: inline-block;
  float: none;
}

.linkListBox {
  margin-top: 35px;
}
.linkListBox li {
  margin-top: 10px;
}

.i_ghb {
  margin-right: 7px;
  vertical-align: text-top;
  margin-top: 4px;
}

/*# sourceMappingURL=error.css.map */
