/*mixin */
.hotArticleBox .coverPic {
  width: 296px;
  height: 96px;
  overflow: hidden;
}
.hotArticleBox .h_title {
  margin-top: 10px;
}

.titleListBox {
  margin-top: 15px;
}
.titleListBox ul {
  margin-top: 10px;
  list-style-type: disc;
  margin-left: 25px;
}
.titleListBox ul li {
  margin-bottom: 10px;
}

.f_RABox {
  background-color: #f2f2f2;
}

/*# sourceMappingURL=feature.css.map */
