@charset "UTF-8";
/*mixin */
@media screen and (max-width: 481px) {
  #mainContainer {
    width: 320px;
  }
  #mainContainer #mainBanner {
    width: 100%;
  }
  #mainContainer #mainBanner > .bannerList {
    display: block;
  }
  #mainContainer #mainBanner > .bannerList > .listItem {
    display: block;
  }
  #mainContainer #mainBanner > .bannerList > .listItem > a {
    width: 100%;
  }
  #mainContainer #mainBanner .coverPic {
    width: 100%;
  }
  #mainContainer #mainBanner.sponsor .wideBlock {
    width: 100%;
  }
  #mainContainer .articleBox {
    width: 95%;
  }
  #mainContainer .articleBox .lWrap {
    width: 25%;
  }
  #mainContainer .articleBox .lWrap .coverPic {
    width: 100%;
  }
  #mainContainer .articleBox .rWrap {
    width: 75%;
  }
  #mainContainer .articleTagWrap, #mainContainer .articleTitle, #mainContainer .columnistInfoWrap, #mainContainer .articleWrap, #mainContainer .likeBox, #mainContainer .relatedArticleBox, #mainContainer .viewRankBox, #mainContainer .columnistBox, #mainContainer .askListBox {
    width: 95%;
  }
  #mainContainer .discussBox {
    width: 95%;
    margin-top: 20px;
  }
  #mainContainer .fb_discussBox, #mainContainer .personBox, #mainContainer .recommendRankBox, #mainContainer .parentOnlineBookStore {
    width: 95%;
  }
  #mainContainer .featureList {
    width: 100%;
  }
  #mainContainer .featureList .picTxtList .listItem.bItem {
    width: 100%;
  }
  #mainContainer .titleBtn {
    width: 100%;
  }
  #mainContainer .picTxtList {
    width: 100%;
  }
  #mainContainer .picTxtList .listItem.mItem {
    width: 50%;
    margin: 0;
  }
  #mainContainer .picTxtList .listItem.mItem a.fullDiv {
    padding: 0 16px 15px 0;
  }
  #mainContainer .columnistList div.txt, #mainContainer .recommendRankBox div.txt {
    width: 75%;
  }
}
@media screen and (max-width: 321px) {
  #mainContainer .columnistList div.txt, #mainContainer .recommendRankBox div.txt {
    width: 75%;
  }
}
/*global_css */
html, body {
  width: 100%;
  font-size: 115%;
  position: absolute;
  font-family: Helvetica, Arial, "LiHei Pro", 新細明體, PMingLiU, sans-serif;
}

.hide {
  display: none !important;
}

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.dp_b {
  display: block;
}

.dp_ib {
  display: inline-block;
}

#mainContainer {
  width: 100%;
  margin: 0 auto;
  margin-top: 45px;
  padding: 10px 0;
}

.blackBg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../images/g/black.png");
}

.clear {
  clear: both !important;
  display: block !important;
}

.oneLineLimitTxt {
  white-space: nowrap;
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}

.lh_175 {
  line-height: 1.75rem;
}

.lh_125 {
  line-height: 1.25rem;
}

.lh_115 {
  line-height: 1.15rem;
}

.lh_1 {
  line-height: 1rem;
}

.sr-only {
  font-size: 0 !important;
  padding: 0 !important;
  margin: 0 !important;
  height: 0 !important;
  width: 0 !important;
  position: absolute !important;
}

.wideBlock {
  width: 320px;
  margin: 0 auto;
}

.mBox {
  margin: 8px auto;
  width: 310px;
}

.pBox {
  padding: 8px 12px;
}

.rbDiv {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

a {
  text-decoration: none;
  color: inherit;
}
a:hover {
  text-decoration: underline;
  color: inherit;
}

.fullDiv {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: inline-block;
}
.fullDiv:hover {
  text-decoration: none;
}

.coverPic {
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.containPic {
  -moz-background-size: contain;
  -o-background-size: contain;
  -webkit-background-size: contain;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.checkboxWrap {
  position: relative;
  display: block;
  margin: 15px 0;
}
.checkboxWrap label {
  cursor: pointer;
  min-height: 25px;
  padding-left: 20px;
  display: inline-block;
}
.checkboxWrap label input[type='checkbox'] {
  position: absolute;
  margin-left: -20px;
  vertical-align: text-top;
  margin-top: 6px;
}

@-moz-keyframes slidein {
  from {
    margin-left: 20px;
    opacity: 0;
  }
  to {
    margin-left: 0px;
    opacity: 1;
  }
}
@-webkit-keyframes slidein {
  from {
    margin-left: 20px;
    opacity: 0;
  }
  to {
    margin-left: 0px;
    opacity: 1;
  }
}
@keyframes slidein {
  from {
    margin-left: 20px;
    opacity: 0;
  }
  to {
    margin-left: 0px;
    opacity: 1;
  }
}
@-moz-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
#headerWrap {
  position: absolute;
  height: 45px;
  width: 100%;
  z-index: 999;
}
#headerWrap #header {
  width: 100%;
  height: 45px;
  background-color: #e4007f;
  position: relative;
  z-index: 30;
}
#headerWrap #header.fixedHeader {
  position: fixed;
  top: 0;
}
#headerWrap #header.fixedHeader #h_fixMenu {
  display: block;
  -moz-animation: 0.6s;
  -webkit-animation: 0.6s;
  animation: 0.6s;
  -moz-animation-name: slidein;
  -webkit-animation-name: slidein;
  animation-name: slidein;
}
#headerWrap #header.fixedHeader #h_searchBtn {
  display: none;
}
#headerWrap #header.fixedHeader #h_loginBtn {
  display: none;
}
#headerWrap #header.fixedHeader #h_memberBox {
  display: none;
}
#headerWrap #header.fixedHeader #h_logo {
  display: none;
}
#headerWrap #header #h_fixMenu {
  display: none;
  position: absolute;
  top: 0;
  left: 48px;
  right: 0;
  height: 45px;
  line-height: 45px;
}
#headerWrap #header #h_fixMenu .h_menuBtn {
  float: left;
}
#headerWrap #header #h_fixMenu .h_menuWrap {
  overflow-x: scroll;
}
#headerWrap #header #h_fixMenu .h_menuWrap .h_fixMenuWrap {
  width: 1400px;
}
#headerWrap #header #h_fixMenu .h_menuWrap .h_fixMenuWrap li {
  display: inline-block;
  margin: 0 10px;
  position: relative;
}
#headerWrap #header #h_fixMenu .h_menuWrap .h_fixMenuWrap li.active:after {
  content: "";
  position: absolute;
  width: 100%;
  border-bottom: 2px solid #fff;
  left: 0;
  bottom: 3px;
}
#headerWrap #header #h_fixMenu .h_menuWrap .h_fixMenuWrap .hf_loginBtn {
  width: 70px;
}
#headerWrap #header #h_menuBtn {
  position: absolute;
  left: 12px;
  top: 12px;
}
#headerWrap #header #h_searchBtn {
  position: absolute;
  left: 48px;
  top: 12px;
}
#headerWrap #header #h_logo {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-top: -12px;
  margin-left: -40px;
}
#headerWrap #header #h_logo.cgmh {
  background-image: none;
  width: 300px;
  margin-left: -150px;
  text-align: center;
}
#headerWrap #header #h_logo.cgmh .l1 {
  background: url("../images/g/mainLogo_cgmh_01.png") no-repeat 0 0;
  background-size: 67px 25px;
  width: 67px;
  height: 25px;
  display: inline-block;
  vertical-align: text-top;
}
#headerWrap #header #h_logo.cgmh .l2 {
  background: url("../images/g/mainLogo_cgmh_02.png") no-repeat 0 0;
  background-size: 16px 25px;
  width: 16px;
  height: 25px;
  display: inline-block;
  vertical-align: text-top;
}
#headerWrap #header #h_logo.cgmh .l3 {
  background: url("../images/g/mainLogo_cgmh_03.png") no-repeat 0 0;
  background-size: 68px 25px;
  width: 68px;
  height: 25px;
  display: inline-block;
  vertical-align: text-top;
}
#headerWrap #header #h_loginBtn {
  width: 50px;
  position: absolute;
  right: 5px;
  top: 12px;
}
#headerWrap #header .h_memberBox {
  position: absolute;
  right: 5px;
  top: 10px;
  width: 80px;
}
#headerWrap #header .h_memberBox .i_Bmember {
  display: block;
  margin-right: 5px;
}
#headerWrap #header .h_memberBox .txtWrap {
  position: absolute;
  top: 0;
  left: 25px;
  line-height: 14px;
  margin-top: -1px;
  width: 40px;
}
#headerWrap #header .h_memberBox .txtWrap .coinNum {
  color: #fff100;
}
#headerWrap #header .h_memberBox .txtWrap .f9 {
  color: white;
}
#headerWrap #menu {
  z-index: 999;
  position: absolute;
  top: 35px;
  left: 0;
  width: 100%;
  background-color: #FFF;
}
#headerWrap #menu.fixedMenu {
  position: fixed;
}
#headerWrap #menu.show {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}
#headerWrap #menu.hide {
  visibility: hidden;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  margin-top: -100px;
}
#headerWrap #menu .menu_wrap {
  position: absolute;
  z-index: 19;
  background-color: white;
}
#headerWrap #menu .menu_tel {
  width: 100%;
  text-align: center;
  padding: 20px 0;
}
#headerWrap #menu .menuItem {
  position: relative;
}
#headerWrap #menu .menuItem .greenBtn {
  width: 100%;
  text-align: left;
  padding: 0 15px;
  margin-bottom: 5px;
  min-height: 40px;
  line-height: 40px;
  position: relative;
  height: auto;
}
#headerWrap #menu .menuItem .mr_btn {
  position: absolute;
  width: 40px;
  height: 40px;
  right: 0;
  top: 0;
  cursor: pointer;
}
#headerWrap #menu .menuItem .mr_btn .arr {
  margin-top: 15px;
  margin-left: 15px;
  background: url("../images/g/articleIcon.png") no-repeat -84px -5px;
  background-size: 120px 101px;
  width: 16px;
  height: 9px;
}
#headerWrap #menu .menuItem .subNav {
  background-color: #FFF;
  overflow: hidden;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  display: block;
  visibility: hidden;
  max-height: 0;
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
#headerWrap #menu .menuItem .subNav.show {
  max-height: 350px;
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
  visibility: visible;
  -moz-transition: all 0.8s;
  -o-transition: all 0.8s;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}
#headerWrap #menu .menuItem .subNav .gLine {
  width: 100%;
  height: 1px;
  display: block;
  background-color: #adadad;
  float: left;
}
#headerWrap #menu .menuItem .subNav .subNavItem {
  float: left;
  list-style-type: disc;
  margin-left: 25px;
  width: 40%;
  min-height: 40px;
  line-height: 40px;
  padding-top: 5px;
  color: #000;
}
#headerWrap #menu .clozBtn {
  padding: 20px 117px;
  background-color: #e2e2e2;
  text-align: center;
}
#headerWrap #menu .clozBtn .gTxt {
  display: inline-block;
}
#headerWrap #menu .clozBtn .i_cloz {
  display: inline-block;
  margin-top: 3px;
  vertical-align: text-top;
  margin-top: 1px;
}

.pBg {
  background-color: #fbe6f2;
}

.pinkBtn {
  background-color: #e4007f;
  cursor: pointer;
  height: 21px;
  line-height: 21px;
  color: white;
  text-align: center;
  width: 150px;
  border: none;
  display: block;
}
.pinkBtn:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=95);
  opacity: 0.95;
  text-decoration: none;
  color: white;
}
.pinkBtn.bigBtn {
  height: 30px;
  line-height: 30px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
  width: 100%;
}
.pinkBtn.largeBtn {
  height: 40px;
  line-height: 40px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  width: 100%;
}

.greenBtn {
  background-color: #94b706;
  cursor: pointer;
  height: 21px;
  line-height: 21px;
  color: white;
  text-align: center;
  width: 150px;
  border: none;
  display: block;
}
.greenBtn:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=95);
  opacity: 0.95;
  text-decoration: none;
  color: white;
}
.greenBtn.bigBtn {
  height: 30px;
  line-height: 30px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
  width: 100%;
}
.greenBtn.largeBtn {
  height: 40px;
  line-height: 40px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  width: 100%;
}

.lgBtn {
  background-color: #e6efc2;
  cursor: pointer;
  height: 21px;
  line-height: 21px;
  color: white;
  text-align: center;
  width: 150px;
  border: none;
  display: block;
  color: #373737;
}
.lgBtn:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=95);
  opacity: 0.95;
  text-decoration: none;
  color: white;
}
.lgBtn.bigBtn {
  height: 30px;
  line-height: 30px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
  width: 100%;
}
.lgBtn.largeBtn {
  height: 40px;
  line-height: 40px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  width: 100%;
}

.greenBorderBtn {
  margin-right: 10px;
  margin-bottom: 10px;
  width: 75px;
  height: 28px;
  -moz-border-radius: 14px;
  -webkit-border-radius: 14px;
  border-radius: 14px;
  border: 1px solid #94b706;
  cursor: pointer;
  display: block;
  text-align: center;
  line-height: 28px;
  color: #94b706;
}
.greenBorderBtn:hover {
  background-color: #94b706;
  color: white;
}
.greenBorderBtn.active {
  background-color: #94b706;
  color: white;
}
.greenBorderBtn:hover {
  background-color: #f8ffde;
  color: #94b706;
}

.pinkBorderBtn {
  margin-right: 10px;
  margin-bottom: 10px;
  width: 75px;
  height: 28px;
  -moz-border-radius: 14px;
  -webkit-border-radius: 14px;
  border-radius: 14px;
  border: 1px solid #e4007f;
  cursor: pointer;
  display: block;
  text-align: center;
  line-height: 28px;
  color: #e4007f;
}
.pinkBorderBtn:hover {
  background-color: #e4007f;
  color: white;
}
.pinkBorderBtn.active {
  background-color: #e4007f;
  color: white;
}

.grayLine {
  width: 100%;
  max-width: 310px;
  margin: 0 auto;
  display: block;
  border-bottom: 1px solid #adadad;
}

.gLineBtn {
  height: 24px;
  -moz-border-radius: 12px;
  -webkit-border-radius: 12px;
  border-radius: 12px;
  border: 1px solid #94b706;
  text-align: center;
  line-height: 22px;
  cursor: pointer;
  color: #94b706;
}
.gLineBtn.active {
  background-color: #94b706;
  color: white;
  text-decoration: none;
}
.gLineBtn:hover {
  background-color: #94b706;
  color: white;
  text-decoration: none;
}

.pLineBtn {
  height: 24px;
  -moz-border-radius: 12px;
  -webkit-border-radius: 12px;
  border-radius: 12px;
  border: 1px solid #e4007f;
  text-align: center;
  line-height: 22px;
  cursor: pointer;
  color: #e4007f;
}
.pLineBtn.active {
  background-color: #e4007f;
  color: white;
  text-decoration: none;
}
.pLineBtn:hover {
  background-color: #e4007f;
  color: white;
  text-decoration: none;
}

.grayLineBtn {
  height: 24px;
  -moz-border-radius: 12px;
  -webkit-border-radius: 12px;
  border-radius: 12px;
  border: 1px solid #bcbcb4;
  text-align: center;
  line-height: 22px;
  cursor: pointer;
  color: #bcbcb4;
  color: #727066;
}
.grayLineBtn.active {
  background-color: #bcbcb4;
  color: white;
  text-decoration: none;
}
.grayLineBtn:hover {
  background-color: #bcbcb4;
  color: white;
  text-decoration: none;
}

.gBd, .grayBd, .gBorder {
  border: 1px solid #adadad;
}

.greenTag {
  height: 23px;
  padding: 0 15px;
  font-size: 0.625rem;
  color: white;
  background-color: #94b706;
  line-height: 23px;
  text-align: center;
  display: inline-block;
  margin-right: 5px;
}

.pinkTag {
  height: 23px;
  padding: 0 15px;
  font-size: 0.625rem;
  color: white;
  background-color: #e4007f;
  line-height: 23px;
  text-align: center;
  display: inline-block;
  margin-right: 5px;
}

.grayTag {
  height: 23px;
  padding: 0 15px;
  font-size: 0.625rem;
  color: white;
  background-color: #a8a8a8;
  line-height: 23px;
  text-align: center;
  display: inline-block;
  margin-right: 5px;
}

.oTag {
  height: 23px;
  padding: 0 15px;
  font-size: 0.625rem;
  color: white;
  background-color: #ff7430;
  line-height: 23px;
  text-align: center;
  display: inline-block;
  margin-right: 5px;
}

.ad_320x70_img {
  width: 320px;
  height: 70px;
  margin: 0 auto;
  margin: 0 auto;
}

.ad_320x50 {
  width: 320px;
  height: 50px;
  margin: 0 auto;
}

.ad_300x250 {
  width: 300px;
  height: 250px;
  margin: 0 auto;
}

.fix_b_ad {
  position: fixed;
  left: 50%;
  bottom: 0;
  z-index: 1000;
  margin-left: -160px;
}

.c_dotList > *:not(:last-child) {
  border-bottom: 1px dotted #ABABAB;
}

.c_borderList > *:not(:last-child) {
  border-bottom: 1px solid #adadad;
}

.c_txtAricleBox {
  padding: 15px 0 20px;
  border-bottom: 1px solid #adadad;
  margin: 0 auto;
  max-width: 296px;
}
.c_txtAricleBox .tab_txt {
  margin-top: 8px;
}

.c_buyBookBox {
  padding: 15px;
}
.c_buyBookBox .lBox {
  padding-right: 15px;
  border-right: 1px dotted #ABABAB;
  float: left;
}
.c_buyBookBox .lBox .picBox {
  -moz-background-size: contain;
  -o-background-size: contain;
  -webkit-background-size: contain;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  width: 95px;
  height: 95px;
}
.c_buyBookBox .rBox {
  overflow: hidden;
  min-height: 95px;
  padding-left: 15px;
}
.c_buyBookBox .buyBtn {
  display: block;
  margin-top: 15px;
  height: 30px;
  line-height: 30px;
  width: 100px;
}

.c_roundPicWithTxtBox .picBox {
  float: left;
  margin-right: 10px;
  width: 55px;
  height: 55px;
  overflow: hidden;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  display: block;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.c_roundPicWithTxtBox .picBox.noRound {
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
}
.c_roundPicWithTxtBox .txtBox {
  overflow: hidden;
  min-height: 55px;
}

.c_pageTagWrap {
  zoom: 1;
}
.c_pageTagWrap:before {
  content: "";
  display: table;
}
.c_pageTagWrap:after {
  content: "";
  display: table;
  clear: both;
}
.c_pageTagWrap > * {
  vertical-align: text-top;
}
.c_pageTagWrap .a_searchBar {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #adadad;
  position: relative;
  float: right;
  margin: 0;
  padding: 0;
  height: 28px;
  line-height: 28px;
  cursor: pointer;
  display: inline-block;
}
.c_pageTagWrap .a_searchBar .lgTxt {
  border: none;
  margin: 0;
  padding-right: 35px;
  padding-left: 5px;
  vertical-align: text-top;
  display: inline-block;
  font-size: 11px;
}
.c_pageTagWrap .a_searchBar .searchBtn {
  position: absolute;
  top: 0;
  right: 0;
  width: 30px;
  height: 100%;
  background-image: url("../images/g/searchIcon.png");
  background-position: 50% 50%;
  border: none;
}

.recommendRankBox {
  width: 320px;
  margin: 0 auto;
}

.viewRankBox {
  width: 320px;
  margin: 0 auto;
}

.articleBox {
  min-height: 90px;
  border-top: 1px dotted #7f7f7f;
  padding: 10px 0 8px 0;
  position: relative;
  width: 296px;
  margin: 0 auto;
}
.articleBox.noBorder {
  border-top: none;
}
.articleBox .titleWrap .txtTitle {
  float: left;
  margin-right: 10px;
}
.articleBox .titleWrap .sponsorTag {
  float: left;
  margin-right: 10px;
  height: 16px;
  line-height: 16px;
  margin-top: 2px;
}
.articleBox .txtTitle {
  margin-bottom: 10px;
}
.articleBox .classTag {
  margin: -5px 0 5px 0;
  display: block;
  width: 100%;
}
.articleBox .flag {
  width: 48px;
  height: 26px;
  background: url("../images/../images/g/flagBg.png");
  position: absolute;
  right: 0;
  top: -1px;
  color: white;
  text-align: center;
}
.articleBox .lWrap {
  float: left;
  width: 88px;
}
.articleBox .lWrap .coverPic {
  width: 88px;
  height: 60px;
}
.articleBox .rWrap {
  float: left;
  width: 206px;
  padding: 0 0 0 10px;
}
.articleBox .rWrap .content {
  padding-top: 0px;
  line-height: 24px;
}
.articleBox .rWrap .btn {
  margin-top: 10px;
}
.articleBox .sponsorName {
  position: absolute;
  right: 10px;
  bottom: 5px;
}
.articleBox.sponsor {
  background-color: #f2f2f2;
}
.articleBox.voteItem .content {
  padding: 0;
}
.articleBox.voteItem .coinInfoBtn {
  margin-top: 10px;
}

.titleBtn {
  font-size: 1.15rem;
  width: 310px;
  position: relative;
  text-align: left;
  padding-left: 15px;
  height: 31px;
  line-height: 31px;
  margin: 10px auto;
}
.titleBtn a {
  display: block;
  width: 100%;
  height: 100%;
}
.titleBtn:after {
  content: "";
  position: absolute;
  right: 10px;
  top: 8px;
  font-weight: bold;
  background: url("../images/g/articleIcon.png") no-repeat -4px -34px;
  background-size: 120px 101px;
  width: 10px;
  height: 17px;
}
.titleBtn.without_arr:after {
  display: none;
}
.titleBtn .rTxt {
  display: inline-block;
  position: absolute;
  top: 0;
  right: 15px;
}

.searchBar {
  width: 256px;
  height: 30px;
  padding: 0 40px 0 15px;
  line-height: 30px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
  position: relative;
  margin: 20px auto;
}
.searchBar input[type=text] {
  border: 0;
  width: 100%;
  overflow: hidden;
}
.searchBar .searchBtn {
  position: absolute;
  top: 5px;
  right: 15px;
}

.dicsList {
  list-style-type: disc;
  padding-left: 1.25rem;
}
.dicsList li {
  margin-bottom: 5px;
}

.numList .listItem {
  min-height: 60px;
  border-bottom: 1px solid #adadad;
  width: 100%;
}
.numList .listItem .l_num {
  color: #e4007f;
  font-size: 2.125rem;
  text-align: right;
  width: 39px;
  font-weight: bold;
  margin-right: 10px;
  display: block;
  float: left;
}
.numList .listItem .txt {
  overflow: hidden;
  min-height: 70px;
  line-height: 20px;
  padding: 17px 0;
}

.picTxtList {
  position: relative;
  width: 320px;
  overflow: hidden;
}
.picTxtList .listItem {
  float: left;
  margin: 0 16px 15px 0;
}
.picTxtList .listItem.bItem {
  width: 296px;
}
.picTxtList .listItem.bItem .coverPic {
  height: 152px;
}
.picTxtList .listItem.bItem .containPic {
  height: 152px;
}
.picTxtList .listItem.mItem {
  width: 140px;
}
.picTxtList .listItem.mItem .coverPic {
  height: 85px;
}
.picTxtList .listItem.mItem .containPic {
  height: 85px;
}
.picTxtList .listItem.mgItem {
  width: 140px;
}
.picTxtList .listItem.mgItem .coverPic {
  height: 168px;
}
.picTxtList .listItem.mgItem .containPic {
  height: 168px;
}
.picTxtList .listItem .coverPic {
  width: 100%;
}
.picTxtList .listItem .txt {
  margin-top: 5px;
  width: 100%;
  line-height: 16px;
}

.parentOnlineBookStore {
  width: 320px;
  margin: 0 auto;
  overflow: hidden;
  margin-top: 15px;
}
.parentOnlineBookStore .picTxtList {
  overflow: visible;
}
.parentOnlineBookStore .swiper-container {
  width: 320px;
  height: 250px;
}
.parentOnlineBookStore .swiper-container .picTxtList .listItem .containPic {
  height: 159px;
}

.gBg {
  background-color: #fffff1;
}

.a_discussBox {
  width: 320px;
  margin: 20px auto;
  position: relative;
  margin-top: 25px;
  padding: 10px;
}
.a_discussBox .boxTitle {
  margin-bottom: 5px;
}
.a_discussBox .joinTalkBox {
  border-top: 1px solid #000;
  padding-top: 30px;
}
.a_discussBox .joinTalkBox .picWrap {
  height: 55px;
  width: 55px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  overflow: hidden;
  float: left;
}
.a_discussBox .joinTalkBox .lWrap {
  overflow: hidden;
  padding-left: 20px;
}
.a_discussBox .joinTalkBox .lWrap textarea {
  width: 100%;
  height: 70px;
  line-height: 20px;
  padding: 10px 10px;
  border: 1px solid #adadad;
}
.a_discussBox .joinTalkBox .lWrap .t_name {
  margin-bottom: 10px;
}
.a_discussBox .joinTalkBox .lWrap .pinkBtn {
  width: 150px;
  height: 27px;
  line-height: 27px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  margin: 10px auto;
}
.a_discussBox .talkNum {
  margin-bottom: 10px;
}
.a_discussBox .boxTitle {
  font-size: 138.5%;
}
.a_discussBox .tips {
  position: absolute;
  top: 0;
  right: 0;
}
.a_discussBox .talkList {
  padding-top: 5px;
}
.a_discussBox .talkList .talkItem {
  margin-top: 15px;
}
.a_discussBox .talkList .talkItem .picWrap {
  height: 55px;
  width: 55px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  overflow: hidden;
  float: left;
}
.a_discussBox .talkList .talkItem .txtWrap {
  overflow: hidden;
  padding-left: 10px;
  min-height: 70px;
  padding-top: 5px;
}
.a_discussBox .talkList .talkItem .txtWrap .t_time {
  color: #9a9a9a;
  margin-left: 10px;
  font-size: 80%;
}
.a_discussBox .talkList .talkItem .txtWrap .content {
  margin-top: 5px;
}
.a_discussBox .talkList .talkItem .txtWrap .content img {
  width: 100px;
  height: auto;
}
.a_discussBox .talkBox {
  background-color: #e6efc2;
  padding: 8px;
}
.a_discussBox .talkBox .picWrap {
  height: 63px;
  width: 63px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  overflow: hidden;
  float: left;
}
.a_discussBox .talkBox form {
  padding: 0 5px;
  overflow: hidden;
  position: relative;
  margin-top: 5px;
}
.a_discussBox .talkBox form input[type='text'] {
  height: 52px;
  line-height: 52px;
  padding: 0 15px;
  width: 100%;
  border: 1px solid #adadad;
}
.a_discussBox .talkBox form input[type='submit'] {
  width: 120px;
  height: 35px;
  float: right;
  margin-top: 10px;
}
.a_discussBox .talkList > .talkItem {
  padding-bottom: 15px;
  border-bottom: 1px solid #b1b1b1;
}
.a_discussBox .talkList .talkItem {
  position: relative;
}
.a_discussBox .talkList .talkItem .txtWrap .t_commentBox {
  margin-top: 5px;
}
.a_discussBox .talkList .talkItem .txtWrap .t_commentBox .gHeart {
  margin-right: 0;
  margin-left: 5px;
}
.a_discussBox .talkList .talkItem .subTalkList .picWrap {
  width: 26px;
  height: 26px;
  margin-top: 5px;
}
.a_discussBox .talkList .talkItem .subTalkList .talkItem .txtWrap {
  border-left: 1px solid #adadad;
  margin-left: 40px;
  padding: 0;
  padding-left: 15px;
}
.a_discussBox .talkList .talkItem .subTalkList .talkBox {
  padding: 0;
  background: none;
  margin-top: 15px;
  overflow: auto;
}

#ParentCommentPOImg {
  position: relative;
  width: 270px;
  height: 90px;
  float: left;
}
#ParentCommentPOImg .bookWrap {
  padding: 0;
  width: 73%;
  position: relative;
  overflow: hidden;
  margin: 0 auto;
}
#ParentCommentPOImg .leftRightBtn {
  position: absolute;
  top: -20px;
  left: 0px;
  width: 100%;
}
#ParentCommentPOImg .leftRightBtn .btn {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 50px;
  background-image: url("../images/g/postBtn.png");
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
  cursor: pointer;
}
#ParentCommentPOImg .leftRightBtn .btn:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}
#ParentCommentPOImg .leftRightBtn .lBtn {
  left: 0;
}
#ParentCommentPOImg .leftRightBtn .rBtn {
  right: 0;
  background-position: -30px 0;
}
#ParentCommentPOImg .commentimgList {
  width: 9999px;
  position: relative;
  left: 0;
  list-style: none;
}
#ParentCommentPOImg .commentimgList .listItem {
  width: 66px;
  height: auto;
  position: relative;
  float: left;
  list-style: none;
}
#ParentCommentPOImg .commentimgList .listItem .containPic {
  width: 60px;
  height: auto;
  margin: 0px auto;
}
#ParentCommentPOImg .commentimgList .listItem .containAlt {
  vertical-align: middle;
  display: inline-block;
  font-size: 12px;
  margin-left: 20px;
  margin-top: -25px;
}

.swiper-pagination-bullet {
  background-color: white;
  border: 1px solid #000;
}

.swiper-pagination-bullet-active {
  background-color: black;
  opacity: 0.2;
}

.askListBox {
  width: 320px;
  margin: 0 auto;
  overflow: hidden;
}

.columnistBox {
  width: 320px;
  margin: 0 auto;
  overflow: hidden;
}
.columnistBox .columnistList .pBox {
  padding: 2px 12px;
}
.columnistBox .columnistList .listItem .coverPic {
  width: 55px;
  height: 55px;
  overflow: hidden;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  border: 2px solid #e4007f;
  float: left;
  margin-top: 6px;
}
.columnistBox .columnistList .listItem .txt {
  width: 200px;
  padding: 0 10px;
  float: left;
}

.pageNav {
  text-align: center;
  margin-bottom: 25px;
}
.pageNav .pLineBtn {
  width: 75px;
  height: 24px;
  line-height: 24px;
  -moz-border-radius: 12px;
  -webkit-border-radius: 12px;
  border-radius: 12px;
  display: inline-block;
  margin-right: 10px;
}

.relatedArticleBox .pBox {
  position: relative;
}
.relatedArticleBox .pBox .more {
  position: absolute;
  right: 12px;
  top: 12px;
}
.relatedArticleBox ul li {
  list-style-type: disc;
  min-height: 28px;
  line-height: 16px;
  margin-top: 5px;
  margin-left: 25px;
  padding: 5px;
}
.relatedArticleBox ul a {
  line-height: 1.6;
}
.relatedArticleBox .sponsor {
  background-color: #f3f3f3;
  font-size: 0.875rem;
}

.viewRankBox .rBarList .listItem {
  border-bottom: 1px dotted #7f7f7f;
  min-height: 47px;
  padding: 5px 0 5px 5px;
}
.viewRankBox .rBarList .listItem .icon_num {
  line-height: 44px;
  font-size: 2.125rem;
  float: left;
  display: block;
  color: #e4007f;
  font-weight: bold;
  margin-right: 8px;
}
.viewRankBox .rBarList .listItem a {
  float: left;
  display: block;
  padding: 10px 0;
  line-height: 1.6;
  width: 85%;
}

.recommendRankBox .recommendList .pBox {
  padding: 4px 12px;
}
.recommendRankBox .recommendList .listItem .tag {
  width: 55px;
  height: 55px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  color: white;
  padding: 10px 9px;
  text-align: center;
  float: left;
  background-color: #e4007f;
  border: 1px solid #ff85be;
  line-height: 17px;
}
.recommendRankBox .recommendList .listItem .txt {
  float: left;
  width: 215px;
}

.colunmistList .colunmistBox {
  float: left;
  width: 33%;
  height: 155px;
}
.colunmistList .colunmistBox .picWrap {
  width: 75px;
  height: 75px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 auto;
}
.colunmistList .colunmistBox .c_area {
  text-align: center;
  color: #adadad;
  padding-top: 5px;
}
.colunmistList .colunmistBox .c_name {
  text-align: center;
}

.shareBox {
  padding: 20px 20px;
  position: relative;
}
.shareBox a {
  display: block;
  float: left;
}
.shareBox .gLine {
  margin: 0 10px;
  width: 1px;
  height: 45px;
  background-color: #adadad;
  float: left;
}
.shareBox .i_sLine {
  margin-right: 10px;
}
.shareBox .i_bMark {
  margin-right: 10px;
}
.shareBox .s_tWrap {
  position: absolute;
  left: 29px;
  bottom: 15px;
  text-align: center;
}
.shareBox .s_tWrap .i_sTxt {
  display: inline-block;
  vertical-align: text-top;
  margin-top: 2px;
}
.shareBox .s_tWrap .i_counNum {
  display: inline-block;
  vertical-align: text-top;
}

.lineBox {
  width: 320px;
  margin: 0 auto;
  padding: 20px 20px;
  position: relative;
}
.lineBox a {
  display: block;
}

.fwb {
  font-weight: bold;
}

.f1_15 {
  font-size: 1.15rem;
}

.f8 {
  font-size: 0.5rem;
}

.f9 {
  font-size: 0.563rem;
}

.f10 {
  font-size: 0.625rem;
}

.f11 {
  font-size: 0.688rem;
}

.f12 {
  font-size: 0.75rem;
}

.f13 {
  font-size: 0.813rem;
}

.f14 {
  font-size: 0.875rem;
}

.f15 {
  font-size: 0.938rem;
}

.f16 {
  font-size: 1rem;
}

.f18 {
  font-size: 1.125rem;
}

.f19 {
  font-size: 1.188rem;
}

.f24 {
  font-size: 1.5rem;
}

.gTxt {
  color: #94b706;
}

.greenTxt {
  color: #94b706;
}

.pTxt {
  color: #e4007f;
}

.grayTxt {
  color: #626262;
}

.lgTxt {
  color: #939393;
}

.dgTxt {
  color: #7b9807;
}

.bTxt {
  color: #01aeb4;
}

.blueTxt {
  color: #0356c1;
}

.blackTxt {
  color: black;
}

.oTxt {
  color: #ff7430;
}

.wTxt {
  color: white;
}

.mt_ss {
  margin-top: 5px;
}

.mb_ss {
  margin-bottom: 5px;
}

.mt_s {
  margin-top: 15px;
}

.mt_b {
  margin-top: 30px;
}

.mb_s {
  margin-bottom: 15px;
}

.mb_b {
  margin-bottom: 30px;
}

.mr_s {
  margin-right: 5px;
}

.ml_s {
  margin-left: 5px;
}

.ta_c {
  text-align: center;
}

.ta_l {
  text-align: left;
}

.ta_r {
  text-align: right;
}

.askBtn {
  background: url("../images/g/askBtn.png") no-repeat 0 0;
  background-size: 71px 51px;
  width: 71px;
  height: 51px;
  position: fixed;
  right: 5px;
  top: 70%;
  z-index: 50;
}

.roundDiv {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

.i_com {
  background: url("../images/g/icon1.png") no-repeat 22.727% 4.854%;
  background-size: 29px 65px;
  width: 18px;
  height: 14px;
  display: inline-block;
}

.i_menu {
  background: url("../images/g/icon1.png") no-repeat 50% 44.211%;
  background-size: 29px 65px;
  width: 24px;
  height: 18px;
}

.i_search {
  background: url("../images/g/icon1.png") no-repeat 26.316% 94.565%;
  background-size: 29px 65px;
  width: 20px;
  height: 19px;
}

.i_mLogo {
  background: url("../images/g/mainLogo.png") no-repeat 0 0;
  background-size: 81px 25px;
  width: 81px;
  height: 25px;
}

.lineIcon {
  background: url("../images/m-line_03.png") no-repeat 0 0;
  width: 282px;
  height: 56px;
  display: block;
  margin: 0 auto;
  margin-bottom: 15px;
}

.icon_redPlay {
  background: url("../images/g/articleIcon.png") no-repeat -3px -3px;
  background-size: 120px 101px;
  width: 12px;
  height: 12px;
  display: inline-block;
  vertical-align: text-top;
  margin-top: 2px;
}

.icon_greenPlay {
  background: url("../images/g/articleIcon.png") no-repeat -3px -17px;
  background-size: 120px 101px;
  width: 12px;
  height: 12px;
  display: inline-block;
  vertical-align: text-top;
}

.i_greenDArr {
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  background: url("../images/g/articleIcon.png") no-repeat -3px -17px;
  background-size: 120px 101px;
  width: 12px;
  height: 12px;
  display: inline-block;
  margin-left: 0px;
  margin-top: 5px;
  vertical-align: text-top;
}

.icon_redHeart {
  background: url("../images/g/articleIcon.png") no-repeat -17px -26px;
  background-size: 120px 101px;
  width: 19px;
  height: 19px;
  vertical-align: text-bottom;
  margin-left: 5px;
  display: inline-block;
}

.redLineHeart {
  background: url("../images/g/articleIcon.png") no-repeat -20px -49px;
  background-size: 120px 101px;
  width: 14px;
  height: 12px;
  display: inline-block;
}

.whiteLineHeart {
  background: url("../images/g/articleIcon.png") no-repeat -39px -49px;
  background-size: 120px 101px;
  width: 14px;
  height: 12px;
  display: inline-block;
}

.icon_greenHeart {
  background: url("../images/g/articleIcon.png") no-repeat -39px -26px;
  background-size: 120px 101px;
  width: 19px;
  height: 19px;
  vertical-align: text-bottom;
  margin-left: 5px;
  display: inline-block;
}

.i_greenHeart2 {
  background: url("../images/g/articleIcon.png") no-repeat -23px -65px;
  background-size: 120px 101px;
  width: 12px;
  height: 9px;
  display: inline-block;
}

.i_ghb {
  background: url("../images/g/articleIcon.png") no-repeat -45px -129px;
  width: 23px;
  height: 18px;
  display: inline-block;
}

.i_openBook {
  background: url("../images/g/articleIcon.png") no-repeat -80px -27px;
  background-size: 120px 101px;
  width: 20px;
  height: 16px;
  display: inline-block;
  vertical-align: text-bottom;
  margin: 0 5px 0 7px;
}

.i_lock {
  background: url("../images/g/articleIcon.png") no-repeat -62px -29px;
  background-size: 120px 101px;
  width: 10px;
  height: 14px;
  display: inline-block;
  margin-left: 5px;
  vertical-align: text-bottom;
  margin-bottom: 2px;
}

.i_unLock {
  background: url("../images/g/dealIcon1.jpg") no-repeat -3px -1px;
  background-size: 288px 116px;
  width: 280px;
  height: 30px;
}

.i_sLine {
  background: url("../images/g/article_line.png") no-repeat 0 0;
  background-size: 59px 24px;
  width: 59px;
  height: 24px;
  display: block;
}

.i_sFb {
  background: url("../images/g/article_fb.png") no-repeat 0 0;
  background-size: 59px 24px;
  width: 59px;
  height: 24px;
  display: block;
}

.i_bMark {
  background: url("../images/g/article_mark.png") no-repeat 0 0;
  background-size: 59px 42px;
  width: 59px;
  height: 42px;
  display: block;
}

.i_sMail {
  background: url("../images/g/dealIcon1.jpg") no-repeat -225px -37px;
  background-size: 288px 116px;
  width: 59px;
  height: 42px;
  display: block;
}

.i_sTxt {
  background: url("../images/g/dealIcon.png") no-repeat -21px -113px;
  background-size: 288px 175px;
  width: 80px;
  height: 16px;
  display: block;
}

.i_coinInfo {
  background: url("../images/g/dealIcon1.jpg") no-repeat 0 -86px;
  background-size: 288px 116px;
  width: 288px;
  height: 30px;
  display: block;
  margin: 0 auto;
  margin-bottom: 15px;
}

.i_article_buyBtn {
  background: url("../images/g/article_buyBtn.png") no-repeat 0 0;
  background-size: 59px 42px;
  width: 59px;
  height: 42px;
}

.i_cloz {
  background: url("../images/g/clozBtn.png") no-repeat 0 0;
  width: 20px;
  height: 20px;
  display: block;
}

.i_Rsearch {
  background: url("../images/g/icon.png") no-repeat 0 0;
  background-size: 20px 19px;
  width: 20px;
  height: 19px;
}

.i_correct {
  background: url("../images/g/i_answer.png") no-repeat 0 0;
  background-size: 26px 51px;
  width: 27px;
  height: 27px;
  display: inline-block;
}

.i_wrong {
  background: url("../images/g/i_answer.png") no-repeat 50% 100%;
  background-size: 26px 51px;
  width: 25px;
  height: 23px;
  display: inline-block;
}

.i_bWhiteArr {
  background: url("../images/g/articleIcon.png") no-repeat -17px -3px;
  background-size: 120px 101px;
  width: 20px;
  height: 20px;
}

.i_bRHeart {
  background: url("../images/g/articleIcon.png") no-repeat -18px -26px;
  background-size: 120px 101px;
  width: 19px;
  height: 19px;
  vertical-align: text-bottom;
  margin-left: 5px;
  display: inline-block;
}

.i_bDelete {
  background: url("../images/g/articleIcon.png") no-repeat -59px -47px;
  background-size: 120px 101px;
  width: 18px;
  height: 20px;
}

.i_bsLine {
  background: url("../images/g/bsIcon.png") no-repeat 0 0;
  background-size: 110px 37px;
  width: 36px;
  height: 36px;
}

.i_bsFb {
  background: url("../images/g/bsIcon.png") no-repeat 48.993% 33.333%;
  background-size: 110px 37px;
  width: 36px;
  height: 36px;
}

.i_bsMail {
  background: url("../images/g/bsIcon.png") no-repeat 99.32% 0;
  background-size: 110px 37px;
  width: 37px;
  height: 37px;
}

.i_Bmember {
  background: url("../images/g/articleIcon.png") no-repeat -3px -75px;
  background-size: 120px 101px;
  width: 20px;
  height: 24px;
}

.i_bigQ {
  background: url("../images/g/askIcon.png") no-repeat 0 0;
  background-size: 60px 60px;
  width: 18px;
  height: 30px;
  display: block;
}

.i_man {
  background: url("../images/g/askIcon.png") no-repeat -35px -1px;
  background-size: 60px 60px;
  width: 11px;
  height: 12px;
  display: inline-block;
  vertical-align: text-top;
  margin-top: 5px;
}

.i_talk {
  background: url("../images/g/askIcon.png") no-repeat -18px 0;
  background-size: 60px 60px;
  width: 16px;
  height: 15px;
  display: inline-block;
  vertical-align: text-top;
  margin-top: 5px;
}

.i_talkBox {
  background: url("../images/g/askIcon.png") no-repeat -34px -16px;
  background-size: 60px 60px;
  width: 14px;
  height: 14px;
  display: inline-block;
  vertical-align: text-top;
  margin-top: 5px;
}

.i_note {
  background: url("../images/g/askIcon.png") no-repeat -19px -16px;
  background-size: 60px 60px;
  width: 12px;
  height: 14px;
  display: inline-block;
  vertical-align: text-top;
  margin-top: 5px;
}

.i_camara {
  background: url("../images/g/askIcon.png") no-repeat -2px -36px;
  background-size: 60px 60px;
  width: 27px;
  height: 22px;
  display: inline-block;
  vertical-align: text-top;
  margin-top: 5px;
}

.i_delBtn {
  background: url("../images/g/askIcon.png") no-repeat -33px -36px;
  background-size: 60px 60px;
  width: 11px;
  height: 11px;
  display: inline-block;
  vertical-align: text-top;
  margin-top: 5px;
}

.i_gEdit {
  background: url("../images/g/askIcon.png") no-repeat -48px -36px;
  background-size: 60px 60px;
  width: 10px;
  height: 10px;
  display: inline-block;
  vertical-align: text-top;
  margin-top: 5px;
}

.gHeart {
  background: url("../images/g/askIcon.png") no-repeat -32px -49px;
  background-size: 60px 60px;
  width: 12px;
  height: 10px;
  display: inline-block;
  vertical-align: text-top;
  margin-top: 5px;
  margin-top: 3px;
}

.icon_video_Living, .icon_video_Reading, .icon_video_Education, .icon_video_Parenting, .icon_video_Feature, .icon_video_Kids {
  display: inline-block;
  background: url("../images/g/icon_video.png") no-repeat;
  overflow: hidden;
  text-indent: -9999px;
  text-align: left;
  vertical-align: sub;
}

.icon_video_Living {
  background-position: 0px 0px;
  width: 37px;
  height: 30px;
  margin-right: 10px;
}

.icon_video_Reading {
  background-position: -37px 0px;
  width: 37px;
  height: 30px;
  margin-right: 10px;
}

.icon_video_Education {
  background-position: -74px 0px;
  width: 37px;
  height: 30px;
  margin-right: 10px;
}

.icon_video_Parenting {
  background-position: -111px 0px;
  width: 37px;
  height: 30px;
  margin-right: 10px;
}

.icon_video_Feature {
  background-position: -148px 0px;
  width: 37px;
  height: 30px;
  margin-right: 10px;
}

.icon_video_Kids {
  background-position: -185px 0px;
  width: 37px;
  height: 30px;
  margin-right: 10px;
}

.i_bigGPlay {
  background: url("../images/g/bookIcon.png") no-repeat -77px -8px;
  width: 15px;
  height: 15px;
  display: inline-block;
  vertical-align: text-top;
  margin-top: 5px;
}

.i_mp3 {
  background: url("../images/g/bookIcon.png") no-repeat -1px -55px;
  background-size: 75px 75px;
  width: 23px;
  height: 14px;
  display: inline-block;
  vertical-align: text-top;
  margin-top: 5px;
}

.i_video {
  background: url("../images/g/bookIcon.png") no-repeat -27px -55px;
  background-size: 75px 75px;
  width: 19px;
  height: 14px;
  display: inline-block;
  vertical-align: text-top;
  margin-top: 5px;
}

.i_collect {
  background: url("../images/g/bookIcon.png") no-repeat -1px -24px;
  background-size: 75px 75px;
  width: 22px;
  height: 27px;
}
.i_collect.active {
  background: url("../images/g/bookIcon.png") no-repeat -27px -24px;
  background-size: 75px 75px;
  width: 22px;
  height: 27px;
}

.i_bookSelect {
  background: url("../images/g/bookIcon.png") no-repeat -51px -1px;
  background-size: 75px 75px;
  width: 22px;
  height: 22px;
  display: inline-block;
  vertical-align: text-top;
}

.i_buy {
  background: url("../images/g/bookIcon.png") no-repeat -55px -27px;
  background-size: 75px 75px;
  width: 17px;
  height: 16px;
  display: inline-block;
  vertical-align: text-top;
  margin-top: 5px;
  margin-top: 0;
}

.i_lineBtn {
  background: url("../images/g/lineBtn.png") no-repeat 0 0;
  background-size: 142px 28px;
  width: 142px;
  height: 28px;
  display: inline-block;
  vertical-align: text-top;
  margin-top: 5px;
  margin-top: 0;
}

#footer {
  width: 100%;
  background-color: #535353;
  margin-top: 20px;
  overflow: hidden;
  padding-bottom: 70px;
}
#footer .fBox {
  margin: 0 auto;
  background-color: #535353;
  width: 320px;
  z-index: 90;
  position: relatives;
}
#footer .fBox > .pBox {
  width: 320px;
  margin: 0 auto;
}
#footer .formWrap {
  text-align: center;
}
#footer .formWrap * {
  display: inline-block;
  vertical-align: middle;
  margin-right: 3px;
}
#footer .formWrap input[type='text'] {
  border: none;
  width: 123px;
  height: 21px;
  line-height: 21px;
  padding-left: 5px;
}
#footer .formWrap .pinkBtn {
  width: 150px;
  height: 20px;
  line-height: 21px;
}
#footer .container {
  margin-top: 15px;
}
#footer .container .containPic {
  width: 87px;
  height: 114px;
  float: left;
  margin-left: 10px;
}
#footer .container .txtWrap {
  overflow: hidden;
}
#footer .container .txtWrap .pinkBtn {
  width: 86px;
  height: 20px;
  padding: 0 10px;
  line-height: 20px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}
#footer .container .txtWrap .m_title {
  margin-top: 18px;
}
#footer .container .txtWrap .period {
  color: #a6a6a6;
  margin-top: 5px;
}
#footer .copyRight {
  margin-top: 15px;
}
#footer .pcBtn .i_com {
  margin-left: 15px;
  margin-right: 5px;
}
#footer .scrollToTop {
  width: 44px;
  height: 44px;
  position: fixed;
  bottom: 80px;
  right: 10px;
  display: block;
  z-index: 100;
  background: url("../images/g/go_top.png") no-repeat 0px 0px;
}
#footer .scrollToTop:hover {
  background-position: 0 -44px;
}

/*pages_css */

/*# sourceMappingURL=global.css.map */
