/*mixin */
#mainBanner {
  width: 320px;
  margin: 0 auto;
}
#mainBanner .coverPic {
  width: 320px;
  height: 153px;
}

.personBox {
  width: 320px;
  margin: 0 auto;
  overflow: hidden;
}

/*# sourceMappingURL=index.css.map */
