/*mixin */
html, body {
  width: 100%;
  height: 100%;
  background-size: cover;
}

.mainContainer {
  width: 100%;
  height: 100%;
  position: relative;
}

.fbregBtn {
  height: 21px;
  background-color: #4F71B6;
  text-align: center;
  line-height: 21px;
  color: white;
  border: 0;
  cursor: pointer;
}
.fbregBtn:hover {
  background-color: #6381BE;
  color: white;
  text-decoration: none;
}

.grayBtn {
  height: 21px;
  background-color: #ABABAB;
  text-align: center;
  line-height: 21px;
  color: white;
  border: 0;
  cursor: pointer;
}
.grayBtn:hover {
  background-color: #CBCBCB;
  color: white;
  text-decoration: none;
}

.processbar-1 {
  background-image: url("../images/g/step1.png");
  background-repeat: no-repeat;
  height: 40px;
  width: 360px;
}

.processbar-2 {
  background-image: url("../images/g/step2.png");
  background-repeat: no-repeat;
  height: 40px;
  width: 360px;
}

.processbar-3 {
  background-image: url("../images/g/step3.png");
  background-repeat: no-repeat;
  height: 40px;
  width: 360px;
}

.processbar-4 {
  background-image: url("../images/g/step4.png");
  background-repeat: no-repeat;
  height: 40px;
  width: 360px;
}

.popPage {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 9999;
  overflow: auto;
}
.popPage .containerbox {
  margin: 8% auto;
  width: 385px;
  padding: 10px;
  background-color: white;
  z-index: 9999;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}
.popPage .titleWrap {
  text-align: center;
}
.popPage .titleWrap .logo {
  display: inline-block;
  margin-bottom: 0;
}
.popPage .titleWrap .pinkTxt {
  font-size: 167%;
}
.popPage .logo {
  width: 106px;
  height: 33px;
  background: url("../images/g/logo_106x33.png");
  margin: 10px auto 30px;
}
.popPage input[type=text], .popPage input[type=password] {
  width: 100%;
  height: 30px;
  line-height: 30px;
  border: none;
  border-bottom: 1px solid #CBCBCB;
}
.popPage input[type=checkbox] {
  margin-right: 5px;
  vertical-align: sub;
}
.popPage .clozBtn {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 20px;
  height: 20px;
  background-image: url("../images/g/clozBtn.png");
  cursor: pointer;
}
.popPage .clozBtn:hover {
  background-position: 0 -20px;
}
.popPage .inputWrap {
  width: 100%;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  border: 1px solid #CBCBCB;
  overflow: hidden;
}
.popPage .inputWrap .noBorder {
  border: none;
}
.popPage .pinkBtn, .popPage .fbregBtn, .popPage .grayBtn {
  height: 33px;
  width: 100%;
  font-size: 116%;
  line-height: 33px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}
.popPage .cTxt {
  text-align: center;
  margin-top: 30px;
}
.popPage .lTxt {
  text-align: left;
  margin-top: 30px;
}
.popPage .mBtnWrap {
  margin-top: 15px;
}
.popPage .inputWrap {
  margin-top: 20px;
  margin-bottom: 5px;
}

.logincontainer {
  padding: 10px 60px 30px 60px;
}
.logincontainer .dotLine {
  margin: 15px 0;
}
.logincontainer .txt {
  font-size: 116%;
}
.logincontainer .txt .coinNum {
  font-size: 182%;
  margin-right: 5px;
  font-weight: bold;
}
.logincontainer .chooseBox {
  margin-top: 15px;
  margin-bottom: 15px;
}
.logincontainer .chooseBox .c_tilte {
  float: left;
  margin-right: 7px;
  font-size: 116%;
  line-height: 35px;
}
.logincontainer .chooseBox .chooseWrap input[type=radio] {
  display: none;
}
.logincontainer .chooseBox .chooseWrap input[type=radio] + label {
  height: 30px;
  padding: 0 12px;
  line-height: 28px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
  color: #e4007f;
  border: 1px solid #e4007f;
  margin-right: 6px;
  text-align: center;
  float: left;
  margin-bottom: 15px;
  cursor: pointer;
  font-size: 116%;
}
.logincontainer .chooseBox .chooseWrap input[type=radio]:checked + label {
  border: 0;
  background-color: #e4007f;
  color: white;
}
.logincontainer .chooseBox .selectWrap {
  height: 30px;
  float: left;
  line-height: 28px;
  margin-right: 6px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  overflow: hidden;
  border: 1px solid #e4007f;
  position: relative;
  font-size: 116%;
  background: url("../images/g/dropDown.png") no-repeat;
  background-position: center right;
}
.logincontainer .chooseBox .selectWrap.yWrap {
  width: 120px;
}
.logincontainer .chooseBox .selectWrap.mWrap {
  width: 73px;
}
.logincontainer .chooseBox .dropDown {
  border: 0;
  background: transparent;
  -webkit-appearance: none;
  padding-left: 8px;
}
.logincontainer .chooseBox .dropDown.year-select {
  width: 120px;
  height: 30px;
}
.logincontainer .chooseBox .dropDown.month-select {
  width: 73px;
  height: 30px;
}
.logincontainer .chooseBox .dropDown:focus {
  border: 0;
}

@media screen and (max-width: 1140px) {
  .articleList {
    width: 580px;
  }
}

/*# sourceMappingURL=login.css.map */
