/*mixin */
.hotMgBox {
  margin-top: 15px;
}
.hotMgBox .coverPic {
  width: 203px;
  height: 270px;
  margin: 10px auto;
}
.hotMgBox .h_list {
  margin: 15px 0;
}
.hotMgBox .h_list li {
  margin-bottom: 5px;
  list-style-type: disc;
  margin-left: 25px;
}
.hotMgBox .h_list li .exchange {
  margin-left: 5px;
}
.hotMgBox .btnWrap {
  text-align: center;
}
.hotMgBox .btnWrap .pLineBtn {
  display: inline-block;
  margin: 0 3px;
  width: 138px;
}

.mGList {
  margin-top: 20px;
}
.mGList.active .picTxtList {
  display: block;
}
.mGList.active .allYList {
  display: block;
}
.mGList .allYList {
  display: none;
}
.mGList .picTxtList {
  display: none;
}
.mGList .picTxtList .listItem {
  height: 230px;
}
.mGList .picTxtList .listItem .txt {
  margin-top: 8px;
}
.mGList .picTxtList .listItem .m_date {
  margin-top: 5px;
}

.allYBox .yearTag {
  float: left;
  margin-right: 15px;
}

.mGBox {
  margin-top: 20px;
  overflow: hidden;
}
.mGBox .mGarticleBox {
  margin-top: 15px;
}
.mGBox .mGarticleBox .boxTitle {
  width: 100%;
  height: 35px;
  line-height: 35px;
  padding-left: 10px;
  color: white;
  position: relative;
  margin-bottom: 15px;
}
.mGBox .mGarticleBox .boxTitle:after {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  bottom: -16px;
  left: 35px;
  border: 8px solid transparent;
}
.mGBox .mGarticleBox .boxTitle.t1 {
  background-color: #e4007f;
}
.mGBox .mGarticleBox .boxTitle.t1:after {
  border-top-color: #e4007f;
}
.mGBox .mGarticleBox .boxTitle.t2 {
  background-color: #afab65;
}
.mGBox .mGarticleBox .boxTitle.t2:after {
  border-top-color: #afab65;
}
.mGBox .mGarticleBox .boxTitle.t3 {
  background-color: #48b691;
}
.mGBox .mGarticleBox .boxTitle.t3:after {
  border-top-color: #48b691;
}
.mGBox .mGarticleBox .boxTitle.t4 {
  background-color: #ff802b;
}
.mGBox .mGarticleBox .boxTitle.t4:after {
  border-top-color: #ff802b;
}
.mGBox .mGarticleBox .boxTitle.t5 {
  background-color: #a4c031;
}
.mGBox .mGarticleBox .boxTitle.t5:after {
  border-top-color: #a4c031;
}
.mGBox .mGarticleBox .mGarticleList .listTitle {
  list-style-type: disc;
  min-height: 45px;
  margin-left: 1.5rem;
  padding: 10px 0px;
  border-bottom: 1px solid #adadad;
}

/*# sourceMappingURL=magazineList.css.map */
