/*mixin */
.memberMenu {
  padding: 8px 0;
}

.tabWrap {
  border-bottom: 3px solid #e4007f;
}
.tabWrap .tab {
  width: 25%;
  background-color: #e8e8e8;
  text-align: center;
  height: 25px;
  line-height: 25px;
  float: left;
}
.tabWrap .tab:hover {
  background-color: #e4007f;
  color: white;
}
.tabWrap .tab.active {
  background-color: #e4007f;
  color: white;
}
.tabWrap .moreWrap {
  border: 1px solid #e4007f;
  border-top: 2px solid #e4007f;
  margin-bottom: -3px;
  max-height: 0px;
  overflow: hidden;
  -moz-transition: all 0.6s;
  -o-transition: all 0.6s;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
}
.tabWrap .moreWrap li {
  height: 35px;
  line-height: 35px;
  margin: 0 15px;
  border-bottom: 1px dotted #adadad;
}
.tabWrap .moreWrap li a {
  display: block;
  width: 100%;
  height: 100%;
}
.tabWrap .moreWrap li:last-child {
  border: none;
}
.tabWrap .moreWrap.show {
  max-height: 250px;
  -moz-transition: all 0.8s;
  -o-transition: all 0.8s;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

.emailBtn {
  margin-top: 30px;
  min-height: 34px;
  height: auto;
  -moz-border-radius: 17px;
  -webkit-border-radius: 17px;
  border-radius: 17px;
  padding: 7px;
  width: 296px;
}
.emailBtn .i_bWhiteArr {
  float: left;
  margin-right: 7px;
}
.emailBtn .txt {
  float: left;
  width: 250px;
  text-align: left;
}

.titleBtn {
  margin-top: 30px;
}

.m_followBox {
  min-height: 115px;
  border-top: none;
  border-bottom: 1px solid #adadad;
}
.m_followBox .lWrap .coverPic {
  width: 80px;
  height: 80px;
}
.m_followBox .cancelBtn {
  position: absolute;
  bottom: 15px;
  right: 0;
  height: 28px;
  line-height: 28px;
  width: 90px;
  -moz-border-radius: 14px;
  -webkit-border-radius: 14px;
  border-radius: 14px;
}

.shareMailBox .mBox .title .icon_mail {
  float: left;
}
.shareMailBox .mBox .title .pinkTxt {
  font-weight: bold;
  float: left;
  margin-top: 5px;
  margin-left: 3px;
}
.shareMailBox .mBox .inputWrap {
  margin-top: 20px;
  margin-bottom: 5px;
}
.shareMailBox .mBox .shareTxt {
  padding: 10px;
  height: 150px;
  margin-bottom: 15px;
}
.shareMailBox .mBox button, .shareMailBox .mBox input, .shareMailBox .mBox select, .shareMailBox .mBox textarea {
  font-size: 14px;
}
.shareMailBox .mBox .noticeList {
  font-size: 14px;
}
.shareMailBox .mBox .noticeList ol li {
  margin-left: 20px;
  list-style-type: decimal;
}
.shareMailBox .mBox .noticeList .pinkNum {
  float: left;
}
.shareMailBox input[type=text], .shareMailBox input[type=password] {
  width: 100%;
  height: 40px;
  line-height: 40px;
  border: none;
  border-bottom: 1px solid #adadad;
  padding-left: 15px;
}
.shareMailBox input[type=checkbox] {
  margin-right: 5px;
  vertical-align: sub;
}
.shareMailBox input[type=submit] {
  height: 40px;
  margin-right: 5px;
  vertical-align: sub;
}
.shareMailBox .inputWrap {
  width: 100%;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  border: 1px solid #adadad;
  overflow: hidden;
}
.shareMailBox .inputWrap input.noBorder {
  border: none;
}
.shareMailBox .pinkBtn {
  height: 33px;
  width: 100%;
  line-height: 33px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

.memberPage_title {
  width: 296px;
  border-bottom: 2px solid #c4b9b5;
  position: relative;
  margin-top: 15px;
  padding: 5px 0;
}
.memberPage_title.withoutGLine:after {
  display: none;
}
.memberPage_title:after {
  content: "";
  width: 110px;
  height: 2px;
  background-color: #95b60f;
  position: absolute;
  left: 0;
  bottom: -2px;
}
.memberPage_title .rbd {
  border-right: 1px solid #adadad;
  padding-right: 5px;
}
.memberPage_title .memberPage_title_subWrap .grLineTag:not(:last-child):after {
  content: " |";
  color: #ababab;
}

.m_infoBox {
  margin-top: 30px;
}
.m_infoBox .m_name {
  float: left;
  padding-right: 8px;
  border-right: 1px solid #adadad;
  margin-right: 8px;
}
.m_infoBox .m_coin {
  float: left;
}
.m_infoBox .m_email {
  margin-top: 5px;
}
.m_infoBox .txt .pTxt {
  margin: 0 4px;
}

.m_historyList .listItem {
  margin-bottom: 15px;
}
.m_historyList .listItem .h_box {
  margin-top: 10px;
  background-color: #f4e9e5;
}
.m_historyList .listItem .h_box .lWrap {
  float: left;
  width: 215px;
}
.m_historyList .listItem .h_box .rWrap {
  float: right;
}

#m_familyEdit {
  margin-top: 15px;
}
#m_familyEdit .chooseBox {
  margin-bottom: 10px;
}
#m_familyEdit .chooseBox .c_tilte {
  float: left;
  width: 68px;
  margin-right: 15px;
}
#m_familyEdit .chooseBox .chooseWrap {
  float: left;
  width: 205px;
}
#m_familyEdit .chooseBox .chooseWrap input[type=radio] {
  display: none;
}
#m_familyEdit .chooseBox .chooseWrap input[type=radio] + label {
  width: 60px;
  height: 30px;
  line-height: 30px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
  color: #e4007f;
  border: 1px solid #e4007f;
  margin-right: 5px;
  text-align: center;
  float: left;
  margin-bottom: 10px;
  cursor: pointer;
}
#m_familyEdit .chooseBox .chooseWrap input[type=radio]:checked + label {
  border: 0;
  background-color: #e4007f;
  color: white;
}
#m_familyEdit .childWrap {
  border-top: 1px solid #adadad;
  margin-top: 25px;
  padding-top: 25px;
}
#m_familyEdit .childWrap .chooseBox {
  margin-bottom: 25px;
}
#m_familyEdit .sendBtn {
  width: 296px;
  height: 36px;
  color: white;
  background-color: #e4007f;
  line-height: 36px;
  text-align: center;
  -moz-border-radius: 18px;
  -webkit-border-radius: 18px;
  border-radius: 18px;
  margin-top: 30px;
  cursor: pointer;
  border: none;
}
#m_familyEdit .sendBtn:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
  text-decoration: none;
}
#m_familyEdit .btnWrap {
  position: absolute;
  bottom: 40px;
}
#m_familyEdit a {
  text-decoration: underline;
  margin-left: 10px;
}
#m_familyEdit .pinkBtn {
  display: inline-block;
  width: 200px;
  margin-left: 10px;
}
#m_familyEdit .selectWrap {
  float: left;
  height: 24px;
  line-height: 24px;
  margin-right: 5px;
  -moz-border-radius: 12px;
  -webkit-border-radius: 12px;
  border-radius: 12px;
  overflow: hidden;
  border: 1px solid #e4007f;
  position: relative;
  background: url("../images/g/dropDownIcon.png") no-repeat;
  background-position: center right;
}
#m_familyEdit .selectWrap.yWrap {
  width: 120px;
}
#m_familyEdit .selectWrap.mWrap {
  width: 73px;
}
#m_familyEdit .dropDown {
  border: 0;
  background: transparent;
  -webkit-appearance: none;
  padding-left: 8px;
}
#m_familyEdit .dropDown.year-select {
  width: 148px;
}
#m_familyEdit .dropDown.month-select {
  width: 101px;
}
#m_familyEdit .dropDown:focus {
  border: 0;
}

.m_bookMarkList .listItem {
  position: relative;
  border-bottom: 1px solid #adadad;
  padding: 15px 12px;
}
.m_bookMarkList .listItem .txt {
  width: 240px;
  display: block;
}
.m_bookMarkList .listItem .i_bDelete {
  position: absolute;
  top: 50%;
  margin-top: -10px;
  right: 15px;
}

.m_copyBtn {
  width: 294px;
  height: 34px;
  line-height: 34px;
  -moz-border-radius: 17px;
  -webkit-border-radius: 17px;
  border-radius: 17px;
}

.rfriendBox p {
  margin-bottom: 35px;
  line-height: 25px;
}

.shareBtnWrap {
  text-align: center;
  margin-top: 15px;
}
.shareBtnWrap .s_btn {
  margin-right: 5px;
  display: inline-block;
}

.edmBox .greenBtn {
  height: 27px;
  line-height: 27px;
  margin-top: 15px;
}

.m_book_list {
  border-bottom: 1px dotted #ABABAB;
}
.m_book_list .mbl_item {
  display: inline-block;
  vertical-align: text-top;
  width: 32%;
}
.m_book_list .mbl_item .picBox {
  height: 90px;
}
.m_book_list .mbl_item .txtBox {
  margin: 5px 0;
  min-height: 55px;
}
.m_book_list .mbl_item .i_bDelete {
  display: block;
  margin: 15px auto;
}

/*# sourceMappingURL=member.css.map */
