/*mixin */
.seeMoreContentBtn {
  margin-left: 15px;
}

.columnistInfoBox .coverPic {
  width: 245px;
  height: 264px;
  margin: 0 auto;
}
.columnistInfoBox .c_info {
  margin-top: 15px;
}
.columnistInfoBox .c_info .c_area {
  float: left;
  margin-right: 20px;
}
.columnistInfoBox .c_info .c_name {
  float: left;
}
.columnistInfoBox .pinkBtn {
  width: 60%;
  height: 25px;
  line-height: 25px;
  margin: 15px auto;
}

.articleTxtBox {
  border-top: 1px solid #adadad;
  padding: 15px 0;
}
.articleTxtBox .a_title {
  margin-top: 10px;
}
.articleTxtBox .txt {
  margin-top: 10px;
  line-height: 14px;
}

/*# sourceMappingURL=oneColumnistArticleList.css.map */
