/*mixin */
.bigTitle .picBox {
  width: 100%;
  height: 100px;
}

.uTubeBox {
  width: 100%;
  height: 167px;
}

.buyList .listItem {
  width: 144px;
  height: 289px;
  float: left;
  margin-right: 10px;
  margin-bottom: 15px;
  padding: 5px;
}
.buyList .listItem .picBox {
  -moz-background-size: contain;
  -o-background-size: contain;
  -webkit-background-size: contain;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  width: 133px;
  height: 183px;
  display: block;
}
.buyList .listItem .txtBox {
  padding: 10px 0;
  height: 70px;
  display: block;
}
.buyList .listItem .pinkBtn {
  display: block;
  height: 30px;
  line-height: 30px;
  width: 100%;
}
.buyList .listItem .pinkBtn .i_buy {
  margin-right: 8px;
  margin-top: 3px;
  vertical-align: text-top;
}

.psBox {
  background-color: #f3f3f3;
}

/*# sourceMappingURL=reading_feature.css.map */
