/*mixin */
.bigTitle .picBox {
  width: 100%;
  height: 100px;
}

.uTubeBox {
  width: 100%;
  height: 167px;
}

.buyList .listItem {
  width: 144px;
  height: 289px;
  float: left;
  padding: 5px;
}
.buyList .listItem .picBox {
  -moz-background-size: contain;
  -o-background-size: contain;
  -webkit-background-size: contain;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  width: 133px;
  height: 183px;
  display: block;
}
.buyList .listItem .txtBox {
  padding: 10px 0;
  height: 70px;
  display: block;
}
.buyList .listItem .pinkBtn {
  display: block;
  height: 30px;
  line-height: 30px;
}
.buyList .listItem .pinkBtn .i_buyLine {
  margin-right: 10px;
  vertical-align: text-top;
}

/*# sourceMappingURL=reading_feature.css.map */
