/*mixin */
.s_infoBox {
  padding-left: 15px;
}

.articleTxtBox {
  padding: 15px 0;
}
.articleTxtBox .a_title {
  margin-top: 10px;
}
.articleTxtBox .txt {
  margin-top: 10px;
  line-height: 14px;
}

/*# sourceMappingURL=search.css.map */
