/*mixin */
#mainBanner {
  width: 320px;
  margin: 0 auto;
  margin-bottom: 15px;
}
#mainBanner .bannerList .listItem .coverPic {
  width: 320px;
  height: 103px;
}
#mainBanner .bannerList .listItem .v_content {
  margin-top: 15px;
}

.pageNav {
  margin-top: 20px;
}

.articleBox .sponsorName {
  top: 15px;
  right: 15px;
}

.questionWrap {
  margin-top: 30px;
}
.questionWrap.txtQ .questionBox .q_list .listItem {
  padding: 12px;
}
.questionWrap.txtQ .questionBox .q_list .listItem .ansTxt {
  float: left;
  width: 90%;
  background-color: #f4e9e5;
}
.questionWrap.txtQ .questionBox .q_list .listItem .q_checkbox {
  float: left;
}
.questionWrap.picQ .questionBox .q_list .rbDiv {
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}
.questionWrap.picQ .questionBox .q_list .listItem {
  float: left;
  margin-right: 14px;
  width: 45%;
  padding: 5px;
  min-height: 145px;
}
.questionWrap.picQ .questionBox .q_list .listItem .q_checkbox {
  margin-top: 8px;
}
.questionWrap .questionBox .q_list {
  margin-top: 15px;
}
.questionWrap .questionBox .q_list .listItem {
  margin-bottom: 15px;
  border: 1px solid #adadad;
  min-height: 45px;
}
.questionWrap .questionBox .q_list .listItem .q_pic {
  width: 125px;
  height: 85px;
}
.questionWrap .questionBox .q_list .listItem .q_checkbox {
  line-height: 20px;
}
.questionWrap .questionBox .q_list .listItem .q_checkbox input[type='checkbox'] {
  width: 20px;
  height: 20px;
  margin-right: 7px;
  vertical-align: bottom;
  float: left;
}
.questionWrap .questionBox .q_list .listItem .q_checkbox .ansTxt {
  float: left;
  width: 100px;
}
.questionWrap .questionBox .q_list .listItem:hover {
  background-color: #f2f2f0;
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}
.questionWrap .questionBox .q_list .listItem.active {
  background-color: #f2f2f0;
}
.questionWrap .resultBox {
  margin-top: 15px;
}
.questionWrap .resultBox .r_list {
  margin-top: 15px;
  max-height: 0px;
  overflow: hidden;
  -moz-transition: ease-out 0.6s;
  -o-transition: ease-out 0.6s;
  -webkit-transition: ease-out 0.6s;
  transition: ease-out 0.6s;
}
.questionWrap .resultBox .r_list.active {
  max-height: 500px;
  -moz-transition: 1s;
  -o-transition: 1s;
  -webkit-transition: 1s;
  transition: 1s;
}
.questionWrap .resultBox .r_list .listItem {
  margin-bottom: 8px;
  position: relative;
}
.questionWrap .resultBox .r_list .listItem .r_title {
  padding-top: 8px;
}
.questionWrap .resultBox .r_list .listItem .r_rateWrap {
  float: left;
  width: 60px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #adadad;
  height: 35px;
  margin-left: 2%;
  position: relative;
  line-height: 35px;
  margin-right: 15px;
}
.questionWrap .resultBox .r_list .listItem .r_rateWrap:after {
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 7px 0px 7px 10px;
  border-color: transparent transparent transparent white;
  position: absolute;
  top: 11px;
  right: -9px;
}
.questionWrap .resultBox .r_list .listItem .r_rateWrap .arr {
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 7px 0px 7px 10px;
  border-color: transparent transparent transparent #adadad;
  position: absolute;
  top: 11px;
  right: -11px;
}
.questionWrap .resultBox .r_list .listItem .r_rateWrap .r_rate {
  text-align: center;
  width: 60px;
  height: 35px;
  line-height: 35px;
}
.questionWrap .resultBox .r_list .listItem.userChoose {
  color: #94b706;
}
.questionWrap .resultBox .r_list .listItem.userChoose .r_bar .bar {
  background-color: #94b706;
}
.questionWrap .resultBox .r_list .listItem.userChoose .r_rateWrap {
  background-color: #94b706;
}
.questionWrap .resultBox .r_list .listItem.userChoose .r_rateWrap:after {
  border-color: transparent transparent transparent #94b706;
}
.questionWrap .resultBox .r_list .listItem.userChoose .r_rateWrap .r_rate {
  color: white;
}
.questionWrap .resultBox .r_list .listItem .correctIcon {
  float: left;
  position: absolute;
  top: 5px;
  left: 0;
}
.questionWrap .resultBox .r_list .listItem .wrongIcon {
  float: left;
  position: absolute;
  top: 5px;
  left: 0;
}
.questionWrap .answerBox {
  margin-top: 20px;
}
.questionWrap .answerBox .a_icon {
  float: left;
  margin-right: 10px;
}
.questionWrap .answerBox .txt {
  float: left;
  width: 250px;
}

.q_sendBtn {
  margin: 0 auto;
  width: 296px;
  height: 40px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  line-height: 40px;
}

.r_countBox {
  padding: 15px;
  background-color: #e7e7e7;
  position: relative;
}
.r_countBox .userScoreWrap {
  border-right: 1px solid black;
}
.r_countBox .scoreWrap {
  width: 50%;
  float: left;
  padding: 10px;
}
.r_countBox .scoreWrap .txt {
  text-align: center;
}
.r_countBox .scoreWrap .score {
  text-align: center;
  font-weight: bold;
  font-size: 3.125rem;
}
.r_countBox .articleListWrap {
  overflow: hidden;
  padding: 15px 15px 15px;
}
.r_countBox .articleListWrap .listItem {
  list-style-type: disc;
  margin: 10px 0 0 15px;
}
.r_countBox .shareWrap {
  position: absolute;
  top: 15px;
  right: 15px;
}

.v_preBtn {
  padding: 0 15px;
  width: auto;
  margin-top: 30px;
}
.v_preBtn:after {
  background: url("../images/g/articleIcon.png") no-repeat -5px -54px;
  background-size: 120px 101px;
  width: 10px;
  height: 16px;
}

/*# sourceMappingURL=voteList.css.map */
