@charset "UTF-8"

#footer
	width: 100% 
	background-color: #535353
	margin-top: 20px
	overflow: hidden
	padding-bottom: 70px
	.fBox
		margin: 0 auto
		background-color: #535353
		width: 320px
		z-index: 90
		position: relatives
		>.pBox
			width: 320px
			margin: 0 auto
	.formWrap
		text-align: center
		* 
			display: inline-block
			vertical-align: middle
			margin-right: 3px
		input[type='text']
			border: none
			width: 123px
			height: 21px
			line-height: 21px
			padding-left: 5px
		.pinkBtn
			width: 150px
			height: 20px
			line-height: 21px

	.container
		margin-top: 15px
		.containPic
			width: 87px
			height: 114px
			float: left
			margin-left: 10px

		.txtWrap
			overflow: hidden

			.pinkBtn
				width: 86px
				height: 20px
				padding: 0 10px
				line-height: 20px
				+border-radius(10px)

			.m_title
				margin-top: 18px
			
			.period
				color: #a6a6a6
				margin-top: 5px
	.copyRight
		margin-top: 15px
	
	.pcBtn
		.i_com
			margin-left: 15px
			margin-right: 5px

	.scrollToTop
		width: 44px 
		height: 44px
		position: fixed
		bottom: 80px
		right: 10px
		display: block
		z-index: 100
		background: url('../images/g/go_top.png') no-repeat 0px 0px
		&:hover 
			background-position: 0 -44px
	