@charset "UTF-8"

.i_com
	background: url('../images/g/icon1.png') no-repeat 22.727% 4.854%
	background-size: 29px 65px
	width: 18px
	height: 14px
	display: inline-block


.i_menu
	background: url('../images/g/icon1.png') no-repeat 50% 44.211%
	background-size: 29px 65px
	width: 24px
	height: 18px


.i_search
	background: url('../images/g/icon1.png') no-repeat 26.316% 94.565%
	background-size: 29px 65px
	width: 20px
	height: 19px


.i_mLogo
	background: url('../images/g/mainLogo.png') no-repeat 0 0
	background-size: 81px 25px
	width: 81px
	height: 25px
.lineIcon
	background: url('../images/m-line_03.png') no-repeat 0 0
	width: 282px
	height: 56px
	display: block
	margin: 0 auto
	margin-bottom: 15px


.icon_redPlay
	background: url('../images/g/articleIcon.png') no-repeat -3px -3px
	background-size: 120px 101px
	width: 12px
	height: 12px
	display: inline-block
	vertical-align: text-top
	margin-top: 2px

.icon_greenPlay
	background: url('../images/g/articleIcon.png') no-repeat -3px -17px
	background-size: 120px 101px
	width: 12px
	height: 12px
	display: inline-block
	vertical-align: text-top

.i_greenDArr
	+rotate(90deg)
	background: url('../images/g/articleIcon.png') no-repeat -3px -17px
	background-size: 120px 101px
	width: 12px
	height: 12px
	display: inline-block
	margin-left: 0px
	margin-top: 5px
	vertical-align: text-top

.icon_redHeart
	background: url('../images/g/articleIcon.png') no-repeat -17px -26px
	background-size: 120px 101px
	width: 19px
	height: 19px
	vertical-align: text-bottom
	margin-left: 5px
	display: inline-block

.redLineHeart
	background: url('../images/g/articleIcon.png') no-repeat -20px -49px
	background-size: 120px 101px
	width: 14px
	height: 12px
	display: inline-block

.whiteLineHeart
	background: url('../images/g/articleIcon.png') no-repeat -39px -49px
	background-size: 120px 101px
	width: 14px
	height: 12px
	display: inline-block

.icon_greenHeart
	background: url('../images/g/articleIcon.png') no-repeat -39px -26px
	background-size: 120px 101px
	width: 19px
	height: 19px
	vertical-align: text-bottom
	margin-left: 5px
	display: inline-block

.i_greenHeart2
	background: url('../images/g/articleIcon.png') no-repeat -23px -65px
	background-size: 120px 101px
	width: 12px
	height: 9px
	display: inline-block

.i_ghb
	background: url('../images/g/articleIcon.png') no-repeat -45px -129px
	width: 23px
	height: 18px
	display: inline-block

.i_openBook
	background: url('../images/g/articleIcon.png') no-repeat -80px -27px
	background-size: 120px 101px
	width: 20px
	height: 16px
	display: inline-block
	vertical-align: text-bottom
	margin: 0 5px 0 7px

.i_lock
	background: url('../images/g/articleIcon.png') no-repeat -62px -29px
	background-size: 120px 101px
	width: 10px
	height: 14px
	display: inline-block
	margin-left: 5px
	vertical-align: text-bottom
	margin-bottom: 2px


.i_unLock
	background: url('../images/g/dealIcon1.jpg') no-repeat -3px -1px
	background-size: 288px 116px
	width: 280px
	height: 30px

.i_sLine
	background: url('../images/g/article_line.png') no-repeat 0 0
	background-size: 59px 24px
	width: 59px
	height: 24px
	display: block

.i_sFb
	background: url('../images/g/article_fb.png') no-repeat 0 0
	background-size: 59px 24px
	width: 59px
	height: 24px
	display: block

.i_bMark
	background: url('../images/g/article_mark.png') no-repeat 0 0
	background-size: 59px 42px
	width: 59px
	height: 42px
	display: block

.i_sMail
	background: url('../images/g/dealIcon1.jpg') no-repeat -225px -37px
	background-size: 288px 116px
	width: 59px
	height: 42px
	display: block
.i_sTxt
	background: url('../images/g/dealIcon.png') no-repeat -21px -113px
	background-size: 288px 175px
	width: 80px
	height: 16px
	display: block

.i_coinInfo
	background: url('../images/g/dealIcon1.jpg') no-repeat 0 -86px
	background-size: 288px 116px
	width: 288px
	height: 30px
	display: block
	margin: 0 auto
	margin-bottom: 15px

.i_article_buyBtn
	background: url('../images/g/article_buyBtn.png') no-repeat 0 0
	background-size: 59px 42px
	width: 59px
	height: 42px


.i_cloz
	background: url('../images/g/clozBtn.png') no-repeat 0 0
	width: 20px
	height: 20px
	display: block

.i_Rsearch
	background: url('../images/g/icon.png') no-repeat 0 0
	background-size: 20px 19px
	width: 20px
	height: 19px

.i_correct
	background: url('../images/g/i_answer.png') no-repeat 0 0
	background-size: 26px 51px
	width: 27px
	height: 27px
	display: inline-block

.i_wrong
	background: url('../images/g/i_answer.png') no-repeat 50% 100%
	background-size: 26px 51px
	width: 25px
	height: 23px
	display: inline-block

.i_bWhiteArr
	background: url('../images/g/articleIcon.png') no-repeat -17px -3px
	background-size: 120px 101px
	width: 20px
	height: 20px

.i_bRHeart
	background: url('../images/g/articleIcon.png') no-repeat -18px -26px
	background-size: 120px 101px
	width: 19px
	height: 19px
	vertical-align: text-bottom
	margin-left: 5px
	display: inline-block

.i_bDelete
	background: url('../images/g/articleIcon.png') no-repeat -59px -47px
	background-size: 120px 101px
	width: 18px
	height: 20px

.i_bsLine
	background: url('../images/g/bsIcon.png') no-repeat 0 0
	background-size: 110px 37px
	width: 36px
	height: 36px

.i_bsFb
	background: url('../images/g/bsIcon.png') no-repeat 48.993% 33.333%
	background-size: 110px 37px
	width: 36px
	height: 36px

.i_bsMail
	background: url('../images/g/bsIcon.png') no-repeat 99.32% 0
	background-size: 110px 37px
	width: 37px
	height: 37px

.i_Bmember
	background: url('../images/g/articleIcon.png') no-repeat -3px -75px
	background-size: 120px 101px
	width: 20px
	height: 24px

.i_bigQ
	background: url('../images/g/askIcon.png') no-repeat 0 0
	background-size: 60px 60px
	width: 18px
	height: 30px
	display: block

@mixin ii
	display: inline-block
	vertical-align: text-top
	margin-top: 5px

.i_man
	background: url('../images/g/askIcon.png') no-repeat -35px -1px
	background-size: 60px 60px
	width: 11px
	height: 12px
	+ii

.i_talk
	background: url('../images/g/askIcon.png') no-repeat -18px 0
	background-size: 60px 60px
	width: 16px
	height: 15px
	+ii
.i_talkBox
	background: url('../images/g/askIcon.png') no-repeat -34px -16px
	background-size: 60px 60px
	width: 14px
	height: 14px
	+ii
.i_note
	background: url('../images/g/askIcon.png') no-repeat -19px -16px
	background-size: 60px 60px
	width: 12px
	height: 14px
	+ii
.i_camara
	background: url('../images/g/askIcon.png') no-repeat -2px -36px
	background-size: 60px 60px
	width: 27px
	height: 22px
	+ii
.i_delBtn
	background: url('../images/g/askIcon.png') no-repeat -33px -36px
	background-size: 60px 60px
	width: 11px
	height: 11px
	+ii

.i_gEdit
	background: url('../images/g/askIcon.png') no-repeat -48px -36px
	background-size: 60px 60px
	width: 10px
	height: 10px
	+ii
.gHeart
	background: url('../images/g/askIcon.png') no-repeat -32px -49px
	background-size: 60px 60px
	width: 12px
	height: 10px
	+ii
	margin-top: 3px

.icon_video_Living,.icon_video_Reading,.icon_video_Education,.icon_video_Parenting,.icon_video_Feature,.icon_video_Kids
	display: inline-block
	background: url('../images/g/icon_video.png') no-repeat
	overflow: hidden
	text-indent: -9999px
	text-align: left
	vertical-align: sub

.icon_video_Living
	background-position: 0px 0px
	width: 37px
	height: 30px
	margin-right: 10px

.icon_video_Reading
	background-position: -37px 0px
	width: 37px
	height: 30px
	margin-right: 10px

.icon_video_Education
	background-position: -74px 0px
	width: 37px
	height: 30px
	margin-right: 10px

.icon_video_Parenting
	background-position: -111px 0px
	width: 37px
	height: 30px
	margin-right: 10px

.icon_video_Feature
	background-position: -148px 0px
	width: 37px
	height: 30px
	margin-right: 10px
.icon_video_Kids
	background-position: -185px 0px
	width: 37px
	height: 30px
	margin-right: 10px

.i_bigGPlay 
	background: url('../images/g/bookIcon.png') no-repeat -77px -8px
	width: 15px
	height: 15px
	+ii

.i_mp3
	background: url('../images/g/bookIcon.png') no-repeat -1px -55px
	background-size: 75px 75px
	width: 23px
	height: 14px
	+ii
.i_video
	background: url('../images/g/bookIcon.png') no-repeat -27px -55px
	background-size: 75px 75px
	width: 19px
	height: 14px
	+ii
.i_collect
	background: url('../images/g/bookIcon.png') no-repeat -1px -24px
	background-size: 75px 75px
	width: 22px
	height: 27px
	&.active
		background: url('../images/g/bookIcon.png') no-repeat -27px -24px
		background-size: 75px 75px
		width: 22px
		height: 27px

.i_bookSelect
	background: url('../images/g/bookIcon.png') no-repeat -51px -1px
	background-size: 75px 75px
	width: 22px
	height: 22px
	display: inline-block
	vertical-align: text-top

.i_buy
	background: url('../images/g/bookIcon.png') no-repeat -55px -27px
	background-size: 75px 75px
	width: 17px
	height: 16px
	+ii
	margin-top: 0

.i_lineBtn
	background: url('../images/g/lineBtn.png') no-repeat 0 0
	background-size: 142px 28px
	width: 142px
	height: 28px
	+ii 
	margin-top: 0