/*mixin*/
@import compass/css3
@import mixin/layout
@import variable



#mainBanner
	.bannerList
		.listItem
			.coverPic
				width: 320px
				height: 153px
.articleTagWrap
	position: relative
	// padding-top: 15px
	+clearfix
	>*
		vertical-align: text-top
	.a_searchBar
		+border-radius(5px)
		border: 1px solid $borderGray 
		// position: absolute
		position: relative
		// right: 0px
		// left: 88px
		// top: 4px
		float: right
		margin: 0 
		padding: 0
		height: 28px
		cursor: pointer	
		display: inline-block
		.lgTxt
			border: none
			margin: 0
			// padding-left: 5px
			// padding-top: 4px
			padding-right: 35px
			padding-left: 5px
			vertical-align: text-top
			display: inline-block
			// width: 170px
		.searchBtn
			position: absolute
			top: 0
			right: 0
			width: 30px
			height: 100%
			background-image: url("../images/g/searchIcon.png")
			background-position: 50% 50%
			border: none				

.joinMemberBox
	.container	
		line-height: 26px
		a 
			display: block
		a.pTxt 
			text-decoration: underline
		.gTxt
			margin-right: 5px
		.pinkBtn
			width: 100%
			height: 30px
			+border-radius(15px)
			line-height: 30px
			margin: 10px 0

#r_keywordIconBox
	position: relative
	width: 320px
	height: 220px
	margin: auto

	.manList
		
		.listItem
			width: 25%
			height: 25%
			float: left
			cursor: pointer
			margin-top: 5px

			.picWrap
				width: 80%
				margin: auto
			
			.s_name
				font-size: 60%
				display: block
				text-align: center
				color: $mainGray


