/*mixin*/
@import compass/css3
@import mixin/layout
@import variable



.mt_s 
	margin-top: 15px
.mt_b 
	margin-top: 30px


.askTabWrap
	border-bottom: 3px solid $mainColor1
	.tabItem  
		float: left
		height: 28px
		background-color: #f2f2f2
		line-height: 28px
		color: black 
		a 
			padding: 0 15px
	.tabItem.active
		color: white 
		background-color: $mainColor1
		
	.tabItem:hover 
		color: white 
		background-color: $mainColor1


.askExpertList
	position: relative
	.groupTitle
		display: block
		margin-bottom: 15px
	.a_group
		padding-top: 15px
	.listItem
		width: 100%
		height: 130px
		border: 1px solid #CBCBCB
		margin: 0px 15px 15px 0px
		position: relative
		// float: left
		overflow: hidden
		padding: 15px 10px
		&.shadow
			+box-shadow(2px 2px 6px 2px rgba(20%,20%,40%,0.1))
		&:hover 
			// background-color: #eee
		a:hover 
			text-decoration: none


		.fl
			float: left
			width: 95px
			text-align: center
		.fr 
			overflow: hidden
			height: 100%
			
			position: relative


		.a_pic
			width: 78px
			height: 78px
			+border-radius(50%)
			// border: 1px solid $borderGray
			overflow: hidden
			margin: 0 auto
		.a_name
			text-align: center
			// margin-top: 10px
		.a_title
			text-align: center
			margin-top: 10px
			line-height: 25px
		.a_content
			line-height: 20px
			color: #6f6f6f
		.followBtn
			padding: 0 10px
			+border-radius(30px) 
			position: absolute
			bottom: 11px 
			left: 106px
			width: 85px
			height: 30px
			line-height: 30px
			text-align: center
			.whiteLineHeart
				margin-left: 5px
		.moreBtn
			position: absolute
			right: 0
			bottom: 0
			&:hover 
				color: inherit


