/*mixin*/
@import compass/css3
@import mixin/layout
@import variable


.mt_s 
	margin-top: 15px
.mt_b 
	margin-top: 30px

.grayTxt
	color: #797b72

.tagWrap
	position: relative
	.greenTag
		// vertical-align: text-top
	.a_searchBar
		+border-radius(5px)
		border: 1px solid $borderGray 
		position: absolute
		right: 8px
		left: 88px
		top: 0
		margin: 0 
		padding: 0
		height: 28px
		input[type='text']
			border: none
			margin: 0
			padding-left: 5px
			vertical-align: text-top
			width: 170px
		input[type='submit']
			position: absolute
			top: 0
			right: 0
			width: 30px
			height: 100%
			background-image: url("../images/g/searchIcon.png")
			background-position: 50% 50%
			border: none
.fwd
	font-weight: bold
#mainBanner
	width: 320px
	overflow: hidden
	margin: 0 auto
	position: relative
	.swiper-pagination
		position: absolute
		top: 0
		right: 5px
		bottom: auto 
		width: auto
		left: auto
		.swiper-pagination-bullet
			margin: 0 3px
			background: url('../images/g/switchDot.png') no-repeat 0 -7px
			background-size: 6px 13px
			width: 6px
			height: 6px
			border: none
			+opacity(1)
		.swiper-pagination-bullet-active
			background: url('../images/g/switchDot.png') no-repeat 0 0
			background-size: 6px 13px
			width: 6px
			height: 6px
	.coverPic
		width: 320px
		height: 153px 
	
.roundDiv
	+border-radius(5px)
.askList
	margin-top: 30px

	.tagBox
		border-bottom: 1px solid $borderGray
		margin-bottom: 15px
		.tagWrap
			float: left

			ul
				li 
					display: inline-block	
				.tagItem
					margin-right: 8px
					height: 30px
					&.active 
						color: $mainColor1
					&:hover 
						color: $mainColor1

		.sortWrap
			float: right
			line-height: 25px
			vertical-align: top
			ul 	
				li 
					display: inline-block
					margin-left: 5px
					vertical-align: top
.grayBorderBtn
	border: 1px solid $bdg
	+border-radius(5px)
	height: 25px
	display: block
	line-height: 24px
	text-align: center
	background-color: #FFF
	width: 48px
	&.nobd	
		border: none

	&:hover 
		background-color: #dfdfdf
		text-decoration: none
	&.active 
		border: 1px solid #ffd8ee
		background-color: #ffd8ee
		color: #ea3e97

.qaWrap
	padding: 5px 0
	border-bottom: 1px dotted $borderGray
	.qBox
		
		.lWrap
			width: 180px
			max-width: 580px
			float: left
			.qTitle.grayTxt
				color: #373737
			.q_info
				margin-top: 15px
				.greenBorderBtn
					float: none
					display: inline-block
					height: 25px
					line-height: 24px
					vertical-align: text-top
					margin-top: -3px
				a 
					&:hover 
						text-decoration: none
				.i_gEdit
					margin-left: 10px
		.dealBox			
			width: 110px
			text-align: center
			margin-right: 5px
			.grayBorderBtn
				margin-bottom: 7px
			.rBox
				float: left
			.lBox
				float: left
				margin-right: 5px
				// border-right: 1px solid $borderGray
				padding-right: 5px
			i 
				vertical-align: text-top

	.aBox
		background-color: #fffff1
		width: 90%
		float: right
		padding: 15px
		margin: 15px
		.manPicWrap
			+border-radius(50%)
			overflow: hidden
			float: left
			// margin-right: 15px
			width: 63px
			height: 63px
			margin: 0 20px
		.rBox
			float: none
			overflow: hidden
			min-height: 63px
			.a_txt
				i
					line-height: 1.5
			.a_info
				margin-top: 15px
				.greenTxt 
					color: #87a800
				.a_time
					margin-left: 10px
					.i_clock
						margin-top: 2px


.expertBox
	.picWrap
		height: 195px
	.noteWrap
		background-color: #ebebeb
		display: none
	.n_btn
		text-align: right
	.eBtn
		width: 100%
		height: 40px
		line-height: 40px
		display: block
		+border-radius(20px)
		margin-top: 15px

	.lbBtn
		border: 1px solid #aeaead
		text-align: center
	.relateBtn
		background-color: #dddddd
	.infoBtn
		background-color: #f2f2f2