/*mixin*/
@import compass/css3
@import mixin/layout
@import variable


.hotArticleBox
	.coverPic 
		width: 296px
		height: 96px
		overflow: hidden
	
	.h_title
		margin-top: 10px
	.h_content
		// max-height: 76px
		// overflow: hidden

.titleListBox
	margin-top: 15px
	ul
		margin-top: 10px
		list-style-type: disc
		margin-left: 25px	
		li
			margin-bottom: 10px

.f_RABox
	background-color: #f2f2f2