/*mixin*/
@import compass/css3
@import mixin/layout

@media screen and (max-width: 601px)
@media screen and (max-width: 568px)

@media screen and (max-width: 481px)
	#mainContainer
		width: 320px
		#mainBanner
			// height: 200px
			width: 100%
			> .bannerList
				display: block
				> .listItem
					display: block
					>a
						width: 100%
			.coverPic
				width: 100%
			&.vote
				// height: 128px
			&.sponsor
				// height: 230px
				.wideBlock
					width: 100%
		.articleBox
			width: 95%
			.lWrap
				width: 25%
				.coverPic
					width: 100%
			.rWrap
				// padding: 0
				width: 75%
				div.content
					// padding-left: 15px
		.articleTagWrap, .articleTitle, .columnistInfoWrap, .articleWrap, .likeBox, .relatedArticleBox, .viewRankBox, .columnistBox, .askListBox
			width: 95%
		.discussBox
			width: 95%
			margin-top: 20px
		.fb_discussBox, .personBox, .recommendRankBox, .parentOnlineBookStore
			width: 95%

		.featureList
			width: 100%
			.picTxtList
				.listItem.bItem
					width: 100%
		.titleBtn
			width: 100%
		.picTxtList
			width: 100%
			.listItem.mItem
				width: 50%
				margin: 0
				a.fullDiv
					padding: 0 16px 15px 0
		.columnistList, .recommendRankBox
			.coverPic
				// width: 20%
			div.txt
				width: 75%
		.ad_320x70_img
			// margin: 0 0 0 10px
// sony z2
@media screen and (max-width: 361px)

// iphone
@media screen and (max-width: 321px)
	#mainContainer
		.columnistList, .recommendRankBox
			.coverPic
				// width: 20%
			div.txt
				width: 75%



/*global_css*/
@import variable
@import page_global
@import icon
@import footer
/*pages_css*/
