/*mixin*/
@import compass/css3
@import mixin/layout
@import variable

#mainBanner
	width: 320px
	margin: 0 auto
	.coverPic
		width: 320px
		height: 153px 

.personBox
	width: 320px
	margin: 0 auto
	overflow: hidden


