/*mixin*/
@import compass/css3
@import mixin/layout
@import variable


html,body 
	width: 100%
	height: 100%
	background-size: cover

.mainContainer
	width: 100%
	height: 100%
	position: relative

.fbregBtn
	height: 21px
	background-color: #4F71B6
	text-align: center
	line-height: 21px
	color: white
	border: 0
	cursor: pointer
	&:hover
		background-color: #6381BE
		color: white
		text-decoration: none

.grayBtn
	height: 21px
	background-color: #ABABAB
	text-align: center
	line-height: 21px
	color: white
	border: 0
	cursor: pointer
	&:hover
		background-color: #CBCBCB
		color: white
		text-decoration: none

.processbar-1
	background-image: url("../images/g/step1.png")
	background-repeat: no-repeat
	height: 40px
	width: 360px

.processbar-2
	background-image: url("../images/g/step2.png")
	background-repeat: no-repeat
	height: 40px
	width: 360px

.processbar-3
	background-image: url("../images/g/step3.png")
	background-repeat: no-repeat
	height: 40px
	width: 360px

.processbar-4
	background-image: url("../images/g/step4.png")
	background-repeat: no-repeat
	height: 40px
	width: 360px

.popPage
	width: 100%
	height: 100%
	top: 0
	left: 0
	z-index: 9999
	overflow: auto
	.containerbox
		margin: 8% auto
		width: 385px
		padding: 10px
		background-color: white
		z-index: 9999
		+border-radius(10px)
	.titleWrap
		text-align: center
		.logo
			display: inline-block
			margin-bottom: 0
		.pinkTxt
			font-size: 167%
	.logo
		width: 106px
		height: 33px
		background: url("../images/g/logo_106x33.png")
		margin: 10px auto 30px
	input[type=text],input[type=password]
		width: 100%
		height: 30px
		line-height: 30px
		border: none
		border-bottom: 1px solid #CBCBCB
	input[type=checkbox]
		margin-right: 5px
		vertical-align: sub
	.clozBtn
		position: absolute
		top: 10px
		right: 10px
		width: 20px
		height: 20px
		background-image: url("../images/g/clozBtn.png")
		cursor: pointer
		&:hover
			background-position: 0 -20px
	.inputWrap
		width: 100%
		+border-radius(8px)
		border: 1px solid #CBCBCB
		overflow: hidden
		.noBorder
			border: none
	.pinkBtn ,.fbregBtn,.grayBtn
		height: 33px
		width: 100%
		font-size: 116%
		line-height: 33px
		+border-radius(10px)
	.cTxt
		text-align: center
		margin-top: 30px
	.lTxt
		text-align: left
		margin-top: 30px
	.mBtnWrap
		margin-top: 15px
	.inputWrap
		margin-top: 20px
		margin-bottom: 5px


.logincontainer
	padding: 10px 60px 30px 60px
	.dotLine
		margin: 15px 0
	.txt
		font-size: 116%
		.coinNum
			font-size: 182%
			margin-right: 5px
			font-weight: bold
	.chooseBox
		margin-top: 15px
		margin-bottom: 15px
		.c_tilte
			float: left
			margin-right: 7px
			font-size: 116%
			line-height: 35px
		.chooseWrap
			input[type=radio]
				display: none
			input[type=radio]+label
				height: 30px
				padding: 0 12px
				line-height: 28px
				+border-radius(15px)
				color: #e4007f
				border: 1px solid #e4007f
				margin-right: 6px
				text-align: center
				float: left
				margin-bottom: 15px
				cursor: pointer
				font-size: 116%
			input[type=radio]:checked+label
				border: 0
				background-color: #e4007f
				color: white
		.selectWrap
			height: 30px
			float: left
			line-height: 28px
			margin-right: 6px
			+border-radius(10px)
			overflow: hidden
			border: 1px solid #e4007f
			position: relative
			font-size: 116%
			background: url("../images/g/dropDown.png") no-repeat
			background-position: center right
			&.yWrap
				width: 120px
			&.mWrap
				width: 73px
		.dropDown
			border: 0
			background: transparent
			-webkit-appearance: none
			padding-left: 8px
			&.year-select
				width: 120px
				height: 30px
			&.month-select
				width: 73px
				height: 30px
			&:focus
				border: 0

@media screen and (max-width: $breakPoint)
	.articleList
		width: 580px