/*mixin*/
@import compass/css3
@import mixin/layout
@import variable




.hotMgBox
	margin-top: 15px

	.coverPic
		width: 203px
		height: 270px
		margin: 10px auto
	.h_list
		margin: 15px 0
		li 
			margin-bottom: 5px
			list-style-type: disc
			//list-style-position: inside
			margin-left: 25px
			.exchange
				margin-left: 5px
	.btnWrap
		text-align: center
		.pLineBtn
			display: inline-block
			margin: 0 3px
			width: 138px
.mGList
	margin-top: 20px

	&.active 
		.picTxtList
			display: block
		.allYList	
			display: block
	.allYList
		display: none
	.picTxtList
		display: none

		.listItem
			height: 230px
			.txt
				margin-top: 8px

			.m_date
				margin-top: 5px
.allYBox
	.yearTag
		float: left
		margin-right: 15px
//
.mGBox
	margin-top: 20px
	overflow: hidden
	.mGarticleBox
		margin-top: 15px
		.boxTitle
			width: 100%
			height: 35px
			line-height: 35px
			padding-left: 10px
			color: white
			position: relative
			margin-bottom: 15px
			

			&:after 
				content: ''
				width: 0
				height: 0
				position: absolute
				bottom: -16px
				left: 35px
				border: 8px solid transparent

			&.t1 
				background-color: $mainColor1
				&:after 
					border-top-color: $mainColor1
			&.t2 
				background-color: #afab65
				&:after 
					border-top-color: #afab65
			&.t3 
				background-color: #48b691
				&:after 
					border-top-color: #48b691
			&.t4 
				background-color: #ff802b
				&:after 
					border-top-color: #ff802b
			&.t5 
				background-color: #a4c031
				&:after 
					border-top-color: #a4c031

		.mGarticleList
			
			

			.listTitle 
				list-style-type: disc
				//list-style-position: inside
				min-height: 45px
				margin-left: 1.5rem
				padding: 10px 0px
				border-bottom: 1px solid $borderGray
				
