/*mixin*/
@import compass/css3
@import mixin/layout
@import variable

.pinkLink
	color: $mainColor1
	text-decoration: underline
	&:hover 
		color: $mainColor1
		
.i_q
	background: url('../images/g/qa.png') no-repeat 0 0
	width: 23px
	height: 24px
	display: inline-block
	vertical-align: text-top
	margin-top: 3px
	margin-right: 7px

.i_a
	background: url('../images/g/qa.png') no-repeat -1px -26px
	width: 21px
	height: 19px
	display: inline-block
	vertical-align: text-top
	margin-top: 3px
	margin-right: 7px
.f24
	font-size: 162.5%

.c_wrap
		
	margin: 0 auto
	position: relative
.centerTxt
	text-align: center
.txt  
	font-size: 100% 
	line-height: 28px

.wTxt 
	color: white 


.header
	background-color: $mainColor1
	width: 100%
	height: 120px
	.h_txt
		display: inline-block
		font-size: 225%
		position: relative
		top: -15px
		left: 10px

	.logo
		+bg('g/mainLogo.png')
		display: inline-block
		vertical-align: text-bottom
.bbCoin
	background-image: url('../images/g/bbb_coin.png')
	width: 80px
	height: 80px
	background-size: contain

	margin: 15px auto 5px

.main_container
	background-color: #eaeaea
	overflow: hidden
	margin-top: 45px
	
	.mBox
		.c_titleBox	

			.f24
				margin-bottom: 15px
				text-align: center

		.wWrap
			+border-radius(5px)
			background-color: white
			margin-top: 20px
			padding: 0px 15px
			overflow: hidden

			.infoBox
				overflow: hidden
				border-bottom: 1px dotted #000
				padding: 25px 0
				position: relative

				&:last-child
					border-bottom: none
				.i_title
					font-size: 116%
					margin-bottom: 10px
					.icon_greenHeart
						margin-right: 5px

				.listWrap	
					.listBox
						// width: 380px
						// margin-right: 10px
						// float: left
						margin-bottom: 15px
						position: relative
						.b_title
							+border-radius(5px)
							background-color: $mainColor2
							+background-image(linear-gradient(#72b229, #9ec835))
							height: 35px
							line-height: 35px
							position: relative
							margin: 8px 0
						ul 
							li 
								position: relative
								padding-top: 6px
								padding-bottom: 6px
			
								border-bottom: 1px solid $mainColor2
								&:last-child
									border-bottom: 2px solid $mainColor2
								.rWrap
									top: 6px
						.lWrap
							padding-left: 15px
							width: 180px
						.rWrap
							position: absolute
							width: 90px
							right: 0
							top: 0


				
			.howMainC		
				.memberDemoPic
					+bg('g/demoMember.png')
					margin: 10px auto 20px
					// position: absolute
					// top: 20px
					// right: 5px
				
					
			.tipC
				.iconWrap
					// margin-top: 15px
					// float: left
					// margin-right: 30px
					margin: 15px 0



					.icon
						display: inline-block
						margin-right: 10px
				.txt
					// overflow: hidden
					// min-height: 100px
					// padding: 20px 0
			.QAC
				.qaList
					margin-top: 20px
					li 
						position: relative
						padding-left: 35px
						margin-bottom: 20px
					.icoin
						position: absolute
						top: -1px
						left: 5px
			.otherC
				ol 
					list-style-type: decimal
					padding-left: 30px
					li 
						margin-bottom: 10px
#footer 
	margin-top: 0


.ai_fb
	background: url('../images/g/bb_socail.png') no-repeat 0 0
	width: 78px
	height: 79px
	&:hover 
		background-position: 0 -82px 
	&.active
		background-position: 0 -82px 
.ai_google
	background: url('../images/g/bb_socail.png') no-repeat -82px 0
	width: 78px
	height: 79px
	&:hover 
		background-position: -82px -82px
	&.active
		background-position: -82px -82px
.ai_rss
	background: url('../images/g/bb_socail.png') no-repeat -163px 0
	width: 78px
	height: 79px 
	&:hover 
		background-position: -163px -84px 
	&.active
		background-position: -163px -84px 
.ai_ss
	background: url('../images/g/bb_socail.png') no-repeat -244px 0
	width: 80px
	height: 80px
	&:hover 
		background-position: -244px -84px
	&.active
		background-position: -244px -84px