/*mixin*/
@import compass/css3
@import mixin/layout
@import variable

.bigTitle
	.picBox
		width: 100%
		height: 100px
.uTubeBox
	width: 100%
	height: 167px
.buyList 
	.listItem
		width: 144px
		height: 289px
		float: left 
		margin-right: 10px
		margin-bottom: 15px
		// border: 1px solid $bdg
		padding: 5px

		.picBox
			+containPic 
			width: 133px
			height: 183px
			display: block
		.txtBox
			padding: 10px 0
			height: 70px
			display: block
		.pinkBtn
			display: block
			height: 30px
			line-height: 30px
			width: 100%

			.i_buy
				// margin-top: 5px
				margin-right: 8px
				margin-top: 3px
				vertical-align: text-top
.psBox
	padding: 15px
	// border: 1px solid $bdg
	background-color: #f3f3f3