/*mixin*/
@import compass/css3
@import mixin/layout
@import variable



.s_infoBox
	padding-left: 15px



.articleTxtBox
	//border-top: 1px solid $borderGray
	padding: 15px 0

	.a_title
		margin-top: 10px

	.txt
		margin-top: 10px
		line-height: 14px
		