/*mixin*/
@import compass/css3
@import mixin/layout
@import variable

#videoCategory
	position: relative
	margin-top: 35px
	width: 320px
	margin: 0 auto
	
	.containerTitle
		font-size: 100%
		display: inline-block
		margin-top: 10px

	.more	
		position: absolute
		right: 0px
		top: 20px
		font-size: 80%
		color: $mainColor1
	.bookWrap
		padding: 0
		width: 100%
		position: relative
		overflow: hidden

	.leftRightBtn
		position: absolute
		top: 0
		left: 0
		width: 100%
		.btn
			position: absolute
			width: 49px
			height: 49px
			top: 110px
			background-image: url("../images/g/arrBtn.png")
			+opacity(0.8)
			cursor: pointer
			&:hover 
				+opacity(1)
		.lBtn
			left: 0
		.rBtn
			right: 0
			background-position: -49px 0
		
	.videoCategoryList
		width: 9999px
		position: relative
		left: 0
		padding-top: 10px
		padding-bottom: 30px

		.listItem
			width: 155px
			height: 200px
			border: 1px solid $borderGray
			margin: 0px 5px 15px 0px
			position: relative
			float: left 
			padding-top: 25px
			&:hover 
				+opacity(0.9)
			
			.containPic
				width: 130px
				height: 100px
				margin: 10px auto 0px auto

				.play_icon
					position: absolute
					margin: auto
					top: 0
					left: 0
					right: 0
					bottom: 0
					width: 50px
					height: 50px
					+opacity(0.6)

			.list_title
				width: 70px
				color: #C2C2C2 
				font-size: 75% 
				line-height: 24px
				position: absolute
				top: 10px
				left: 10px
				z-index: 10
				+opacity(0.6)

				a 
					display: block
					padding-left: 15px
					width: 100%
					height: 100%
					&:hover 
						text-decoration: none

			.coverTitle
				position: absolute 
				background-image: url("../images/g/black.png")
				width: 100%
				height: 56px
				color: white 
				font-size: 70%
				padding: 0 10px
				left: 0
				bottom: 0

				&:before 
					content: ''
					display: inline-block
					vertical-align: middle
					width: 0
					height: 100%
				.txt

					display: inline-block
					font-size: 12px
					vertical-align: middle

			.bgPic
				position: absolute
				left: 0
				top: 0
	