/*mixin*/
@import compass/css3
@import mixin/layout
@import variable



#mainBanner
	width: 320px
	margin: 0 auto
	margin-bottom: 15px
	
	.bannerList
		.listItem
			.coverPic
				width: 320px
				height: 103px

			.v_date
				//margin-top: -5px
			.v_sponsor
				//margin-top: 5px
			
			.v_content
				margin-top: 15px
.pageNav
	margin-top: 20px



.articleBox
	.sponsorName
		top: 15px
		right: 15px

.questionWrap
	margin-top: 30px
	&.txtQ
		.questionBox
			.q_list
				.listItem
					padding: 12px
					.ansTxt
						float: left
						width: 90%
						background-color: #f4e9e5

					.q_checkbox
						float: left
	&.picQ 
		.questionBox
			.q_list
				// width: 350px

				.rbDiv
					+border-radius(2px)
				.listItem
					float: left
					margin-right: 14px
					width: 45%
					padding: 5px
					min-height: 145px
					.q_checkbox
						margin-top: 8px
	.questionBox
		.q_list
			margin-top: 15px

			.listItem
				margin-bottom: 15px
				border: 1px solid $borderGray
				min-height: 45px

				.q_pic
					width: 125px
					height: 85px

				.q_checkbox
					line-height: 20px
					//margin-top: 10px

					input[type='checkbox']
						width: 20px
						height: 20px
						margin-right: 7px
						vertical-align: bottom
						float: left
					.ansTxt
						float: left
						width: 100px
						

				&:hover 
					background-color: #f2f2f0
					+opacity(1)
				&.active
					background-color: #f2f2f0
	.resultBox
		margin-top: 15px

		.r_list
			margin-top: 15px
			max-height: 0px
			overflow: hidden
			+transition(0.6s ease-out)

			&.active 
				max-height: 500px
				+transition(1s)

			.listItem
				margin-bottom: 8px
				position: relative

				.r_title
					padding-top: 8px
				.r_rateWrap
					float: left
					width: 60px
					+border-radius(5px)
					border: 1px solid $borderGray
					height: 35px
					margin-left: 2%
					position: relative
					line-height: 35px
					margin-right: 15px

					&:after 
						content: ''
						width: 0
						height: 0
						border-style: solid
						border-width: 7px 0px 7px 10px
						border-color: transparent transparent transparent white
						position: absolute
						top: 11px
						right: -9px

					.arr
						content: ''
						width: 0
						height: 0
						border-style: solid
						border-width: 7px 0px 7px 10px
						border-color: transparent transparent transparent $borderGray
						position: absolute
						top: 11px
						right: -11px

					.r_rate
						text-align: center
						width: 60px
						height: 35px
						line-height: 35px

				&.userChoose
					color: $mainColor2

					.r_bar
						.bar 
							background-color: $mainColor2

					.r_rateWrap
						background-color: $mainColor2

						&:after 
							border-color: transparent transparent transparent $mainColor2 
						

						.r_rate
							color: white
				
				.correctIcon
					float: left
					position: absolute
					top: 5px
					left: 0
				.wrongIcon
					float: left
					position: absolute
					top: 5px
					left: 0

	.answerBox
		margin-top: 20px
		.a_icon
			float: left
			margin-right: 10px

		.txt
			float: left
			width: 250px
.q_sendBtn
	margin: 0 auto
	width: 296px
	height: 40px
	+border-radius(20px)
	line-height: 40px
.r_countBox
	padding: 15px
	background-color: $bgGray 
	position: relative
	.userScoreWrap
		border-right: 1px solid black 
	.scoreWrap
		width: 50%
		float: left
		padding: 10px
		
		.txt 
			text-align: center
		.score
			text-align: center
			font-weight: bold
			font-size: 3.125rem

	.articleListWrap
		overflow: hidden
		padding: 15px 15px 15px		

		

		.listItem
			list-style-type: disc
			margin: 10px 0 0 15px

	.shareWrap
		position: absolute
		top: 15px
		right: 15px

.v_preBtn
	padding: 0 15px
	width: auto
	margin-top: 30px
	&:after 
		background: url('../images/g/articleIcon.png') no-repeat -5px -54px
		background-size: 120px 101px
		width: 10px
		height: 16px