<a href="#" class="scrollToTop hide"></a>
<div class="fBox">
    <div class="pBox">
        <form class="formWrap">
            <div class="wTxt f12">訂閱電子報</div>
            <input type="submit" class='pinkBtn rbDiv f12' value="立即訂閱">
        </form>
        <div class="container">
            <a href="#">
                <div class="containPic" style="background-image: url(images/demoPic/img_103x137.png);"></div>
            </a>
            <div class="txtWrap pBox">
                <a href="#" class="pinkBtn f12">當期雜誌 </a>
                <h1 class="m_title wTxt f15"><a href="#">100個學會幸福的祕方</a></h1>
                <div class="period f10">2014.12.01 63期</div>
            </div>
            <div class="clear"></div>
        </div>
        <div class="copyRight wTxt f12 pBox">Copyright © 2015 親子天下. All rights reserved. 版權所有，禁止擅自轉貼節錄
        </div>
        <a href="#" class="pcBtn"><i class="i_com"></i><span class="wTxt f10">切換電腦版</span></a>
    </div>
</div>
