<div id="header" class="wideBlock ">
    <div id="h_menuBtn" class="i_menu h_menuBtn"></div>
    <div id="h_fixMenu" class="">
        <div class="h_menuBtn f14 wTxt"> <a href="#">所有分類&nbsp;&nbsp;|</a></div>
        <div class="h_menuWrap">
            <ul class='f14 wTxt h_fixMenuWrap'>
                <li class='active'><a href="#">學前兒</a></li>|
                <li class=''><a href="#">小學生</a></li>|
                <li class=''><a href="#">國中生</a></li>|
                <li class=''><a href="#">教育現場</a></li>|
                <li class=''><a href="#">家庭與生活</a></li>|
                <li class=''><a href="#">人物 &bull; 專輯</a></li>|
                <li class=''><a href="#">部落格</a></li>|
                <li class=''><a href="#">網路書店</a></li>
                <li class="hf_loginBtn greenBtn rbDiv fwb f12">
                    <a href="#" class="fullDiv">登入</a>
                </li>
                <li class="h_memberBox">
                    <div class="i_Bmember"></div>
                    <div class="txtWrap">
                        <div class="coinNum f12">100</div>
                        <div class="f9">親子幣</div>
                    </div>
                    <div class="clear"></div>
                </li>
            </ul>
        </div>
    </div>
    <div id="h_searchBtn" class="i_search">
        <a href="#" class="fullDiv"></a>
    </div>
    <div id="h_logo" class="i_mLogo cgmh">
        <a href="#" class="l1"></a>
        <div class="l2"></div>
        <a href="#" class="l3"></a>
    </div>
    <div id="h_loginBtn" class="greenBtn rbDiv fwb f12  hide"><a href="#" class="fullDiv">登入</a></div>
    <div id="h_memberBox" class='h_memberBox'>
        <div class="i_Bmember"></div>
        <div class="txtWrap">
            <div class="coinNum f12">100</div>
            <div class="f9">親子幣</div>
        </div>
        <div class="clear"></div>
    </div>
</div>
<div id="menu" class="hide">
    <div class="menu_wrap">
        <ul>
            <li class="menuItem">
                <a href="#" class=" greenBtn fullDiv f15">首頁</a>
            </li>
            <li class="menuItem">
                <a href="#" class=" greenBtn fullDiv f15">學前兒(0-6)</a>
                <div class="mr_btn">
                    <div class="arr"></div>
                </div>
                <ul class="subNav f14">
                    <li class="subNavItem"><a href="#" class="fullDiv">愛的管教</a></li>
                    <li class="subNavItem"><a href="#" class="fullDiv">玩中學</a></li>
                    <li class="gLine"></li>
                    <li class="subNavItem"><a href="#" class="fullDiv">健康與營養</a></li>
                    <li class="subNavItem"><a href="#" class="fullDiv">托嬰托育</a></li>
                    <li class="gLine"></li>
                    <li class="subNavItem"><a href="#" class="fullDiv">閲讀</a></li>
                    <div class="clear"></div>
                </ul>
            </li>
            <li class="menuItem">
                <a href="#" class=" greenBtn fullDiv f15">小學生(7-12)</a>
                <div class="mr_btn">
                    <div class="arr"></div>
                </div>
                <ul class="subNav f14">
                    <li class="subNavItem"><a href="#" class="fullDiv">教養 </a></li>
                    <li class="subNavItem"><a href="#" class="fullDiv">學習</a></li>
                    <li class="gLine"></li>
                    <li class="subNavItem"><a href="#" class="fullDiv">情緒管理 </a></li>
                    <li class="subNavItem"><a href="#" class="fullDiv">專注力</a></li>
                    <li class="gLine"></li>
                    <li class="subNavItem"><a href="#" class="fullDiv">特殊教育</a></li>
                    <li class="subNavItem"><a href="#" class="fullDiv">健康與營養</a></li>
                    <li class="gLine"></li>
                    <li class="subNavItem"><a href="#" class="fullDiv">親師溝通 </a></li>
                    <li class="subNavItem"><a href="#" class="fullDiv">閲讀</a></li>
                    <div class="clear"></div>
                </ul>
            </li>
            <li class="menuItem">
                <a href="#" class=" greenBtn fullDiv f15">國中生(13-15)</a>
                <div class="mr_btn">
                    <div class="arr"></div>
                </div>
                <ul class="subNav f14">
                    <li class="subNavItem"><a href="#" class="fullDiv">教養 </a></li>
                    <li class="subNavItem"><a href="#" class="fullDiv">親子溝通</a></li>
                    <li class="gLine"></li>
                    <li class="subNavItem"><a href="#" class="fullDiv">學習 </a></li>
                    <li class="subNavItem"><a href="#" class="fullDiv">12年國教</a></li>
                    <li class="gLine"></li>
                    <li class="subNavItem"><a href="#" class="fullDiv">生涯探索</a></li>
                    <li class="subNavItem"><a href="#" class="fullDiv">健康與兩性</a></li>
                    <li class="gLine"></li>
                    <li class="subNavItem"><a href="#" class="fullDiv">閲讀 </a></li>
                    <div class="clear"></div>
                </ul>
            </li>
            <li class="menuItem">
                <a href="#" class=" greenBtn fullDiv f15">教育現場</a>
                <div class="mr_btn">
                    <div class="arr"></div>
                </div>
                <ul class="subNav f14">
                    <li class="subNavItem"><a href="#" class="fullDiv">新聞話題   </a></li>
                    <li class="subNavItem"><a href="#" class="fullDiv">趨勢</a></li>
                    <li class="gLine"></li>
                    <li class="subNavItem"><a href="#" class="fullDiv">教改追蹤 </a></li>
                    <li class="subNavItem"><a href="#" class="fullDiv">校園故事</a></li>
                    <li class="gLine"></li>
                    <li class="subNavItem"><a href="#" class="fullDiv">翻轉教育</a></li>
                    <div class="clear"></div>
                </ul>
            </li>
            <li class="menuItem">
                <a href="#" class=" greenBtn fullDiv f15">家庭與生活</a>
                <div class="mr_btn">
                    <div class="arr"></div>
                </div>
                <ul class="subNav f14">
                    <li class="subNavItem"><a href="#" class="fullDiv">聊關係</a></li>
                    <li class="subNavItem"><a href="#" class="fullDiv">親子遊</a></li>
                    <li class="gLine"></li>
                    <li class="subNavItem"><a href="#" class="fullDiv">生活妙管家 </a></li>
                    <li class="subNavItem"><a href="#" class="fullDiv">健康與營養</a></li>
                    <li class="gLine"></li>
                    <li class="subNavItem"><a href="#" class="fullDiv">親子做公益 </a></li>
                    <li class="subNavItem"><a href="#" class="fullDiv">新聞與話題 </a></li>
                    <div class="clear"></div>
                </ul>
            </li>
            <li class="menuItem">
                <a href="#" class=" greenBtn fullDiv f15">人物 &bull; 專輯 </a>
                <div class="mr_btn">
                    <div class="arr"></div>
                </div>
                <ul class="subNav f14">
                    <li class="subNavItem"><a href="#" class="fullDiv">人物故事</a></li>
                    <li class="subNavItem"><a href="#" class="fullDiv">專欄</a></li>
                    <li class="gLine"></li>
                    <li class="subNavItem"><a href="#" class="fullDiv">閲讀人物 </a></li>
                    <li class="subNavItem"><a href="#" class="fullDiv">數位專輯</a></li>
                    <div class="clear"></div>
                </ul>
            </li>
            <li class="menuItem">
                <a href="#" class=" greenBtn fullDiv f15">部落格</a>
            </li>
            <li class="menuItem">
                <a href="#" class=" greenBtn fullDiv f15">網路書店</a>
            </li>
        </ul>
        <div class="menu_tel f13">
            讀者服務專線：886-2-2662-0332
        </div>
        <div class="clozBtn" id="h_menuClozBtn">
            <div class="gTxt f15">關閉視窗</div>
            <div class="i_cloz"></div>
            <div class="clear"></div>
        </div>
    </div>
    <div class="blackBg"></div>
</div>
<script>
initHeader();
</script>