<!-- 07. 登入 popup  -->
<div id="pop_loginBox" class='popPage hide'>
    <div class="popBg"></div>
    <div class="container">
        <div class="clozBtn"></div>
        <div class="logo"></div>
        <div class="fbBtn"></div>
        <div class="cTxt">或使用親子帳號登入</div>
        <form action="">
            <div class="inputWrap">
                <input type="text" name='account' placeHolder='帳號'>
                <input type="password" name='password' class='noBorder' placeHolder='密碼'>
            </div>
            <input type="checkbox" name="remember" id="PLB_remember">
            <label for="PLB_remember"> 記住我</label>
            <input type="submit" class='pinkBtn' value="登入">
            <div class="clear"></div>
            <div class="otherStep">
                <a href="#" class='forgetPassword'>忘記密碼</a>｜
                <a href="#" class='signIn'>註冊本站會員</a>
            </div>
        </form>
    </div>
</div>
<!-- 08. 註冊 popup -->
<div id="pop_signIn_1" class='popPage hide'>
    <div class="popBg"></div>
    <div class="container">
        <div class="clozBtn"></div>
        <div class="logo"></div>
        <div class="fbBtn"></div>
        <div class="txt">加入會員，立即享有300親子幣<span class="icon_redHeart"></span></div>
        <form action="">
            <div class="inputWrap">
                <input type="text" name='name' placeHolder='姓名'>
                <input type="text" name='email' placeHolder='Email，此為會員帳號'>
                <input type="text" name='password' placeHolder='密碼'>
                <input type="text" name='passwordConfirm' placeHolder='密碼確認' class='noBorder'>
            </div>
            <div class="txt">我是親子天下雜誌訂戶</div>
            <div class="inputWrap">
                <input type="text" name='memberNum' placeHolder='天下雜誌群訂戶編號' class='noBorder'>
            </div>
            <div class="txt ">若您為天下雜誌群訂戶，登錄會員時將贈送500點天下知識庫親子幣，供您瀏覽過期雜誌文章全文(文字調整) <a href="#" class="pinkTxt">查詢訂戶編號</a></div>
            <input type="submit" value="確認加入" class="pinkBtn ">
            <div class="txt">※ 當您點選「確認加入」時，表示您已經詳閱並同意遵守<a href="" class="pinkTxt">《天下雜誌群會員服務條款》</a>及<a href="" class="pinkTxt">特別聲明</a></div>
        </form>
    </div>
</div>
<!-- 09. 無Email popup -->
<div id="pop_noEmail" class="popPage hide">
    <div class="popBg"></div>
    <div class="container">
        <div class="clozBtn"></div>
        <div class="logo"></div>
        <div class="txt">請填寫您的Email：</div>
        <form action="">
            <div class="inputWrap">
                <input type="text" name='email' class='noBorder' placeHolder='Email'>
            </div>
            <input type="submit" value="驗證Email" class="pinkBtn">
        </form>
    </div>
</div>
<!-- 10. 會員註冊步驟2 popup -->
<div id="pop_signIn_2" class="popPage hide">
    <div class="popBg"></div>
    <div class="container">
        <div class="clozBtn"></div>
        <div class="titleWrap">
            <div class="logo"></div>
            <div class="pinkTxt cTxt">驗證Email</div>
        </div>
        <p>最後一步了~ 加油!</p>
        <p>現在！請立即至您的信箱(<span class="userEmail">test@yahoo.com.tw</span>)收取驗證信函，驗證後即可立即享受親子天下各項會員福利！</p>
        <p class='f12'>若您沒有收到認證信，請<a href="#" class="pinkTxt">按此</a>重新寄送。</p>
        <p class="grayTxt f12">※ 提醒您，由於智邦郵件系統較常出現擋信狀態，請勿使用智邦相關郵件系統。
            <br> 或者到您的垃圾信箱找找。
            <br>
            <br>若您註冊的E-mail非(<span class="userEmail">test@yahoo.com.tw</span>)，請重新註冊。
        </p>
        <div class="pinkBtn">關閉視窗</div>
    </div>
</div>
<!-- 11. 步驟3 回到網站，驗證Email成功訊息 popup -->
<div id="pop_signIn_3" class="popPage hide">
    <div class="popBg"></div>
    <div class="container">
        <div class="clozBtn"></div>
        <div class="titleWrap">
            <div class="logo"></div>
            <div class="pinkTxt">恭喜您已經註冊完成！</div>
        </div>
        <div class="txt">現在立即設定您的家庭資料，可再享有10親子幣<i class="icon_redHeart"></i></div>
        <form id='pop_familyEdit' action="">
            <div class="chooseBox">
                <div class="c_tilte">我的性別</div>
                <div class="chooseWrap">
                    <input type="radio" name="p_gender" value="male" id='p_male'>
                    <label for="p_male">男</label>
                    <input type="radio" name="p_gender" value="female" id='p_female'>
                    <label for="p_female">女</label>
                </div>
                <div class="clear"></div>
            </div>
            <div class="chooseBox">
                <div class="c_tilte">小孩人數</div>
                <div class="chooseWrap">
                    <input type="radio" name="p_kidsNum" value="0" id='p_kid_0'>
                    <label for="p_kid_0">無小孩</label>
                    <input type="radio" name="p_kidsNum" value="1" id='p_kid_1'>
                    <label for="p_kid_1">1人</label>
                    <input type="radio" name="p_kidsNum" value="2" id='p_kid_2'>
                    <label for="p_kid_2">2人</label>
                    <input type="radio" name="p_kidsNum" value="3" id='p_kid_3'>
                    <label for="p_kid_3">3人</label>
                    <input type="radio" name="p_kidsNum" value="4" id='p_kid_4'>
                    <label for="p_kid_4">4人</label>
                    <input type="radio" name="p_kidsNum" value="5" id='p_kid_5'>
                    <label for="p_kid_5">5人</label>
                    <input type="radio" name="p_kidsNum" value="6" id='p_kid_6'>
                    <label for="p_kid_6">6人</label>
                </div>
                <div class="clear"></div>
            </div>
            <div class="dotLine"></div>
            <div class="childWrap">
                <div class="chooseBox kidBox hide kid_1">
                    <div class="c_tilte">老大</div>
                    <div class="chooseWrap">
                        <input type="radio" name="p_1_gender" value="male" id='p_1_male'>
                        <label for="p_1_male">男</label>
                        <input type="radio" name="p_1_gender" value="female" id='p_1_female'>
                        <label for="p_1_female">女</label>
                        <div class="clear"></div>
                        <div class="selectWrap yWrap">
                            <select class="year-select dropDown" id='p_1_year' name='p_1_year' form='pop_familyEdit'>
                            </select>
                        </div>
                        <div class="selectWrap mWrap">
                            <select class="month-select dropDown" id='p_1_month' name='p_1_month' form='pop_familyEdit'>
                            </select>
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="chooseBox kidBox hide kid_2">
                    <div class="c_tilte">老二</div>
                    <div class="chooseWrap">
                        <input type="radio" name="p_2_gender" value="male" id='p_2_male'>
                        <label for="p_2_male">男</label>
                        <input type="radio" name="p_2_gender" value="female" id='p_2_female'>
                        <label for="p_2_female">女</label>
                        <div class="clear"></div>
                        <div class="selectWrap yWrap">
                            <select class="year-select dropDown" id='p_2_year' name='p_2_year' form='pop_familyEdit'>
                            </select>
                        </div>
                        <div class="selectWrap mWrap">
                            <select class="month-select dropDown" id='p_2_month' name='p_2_month' form='pop_familyEdit'>
                            </select>
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="chooseBox kidBox hide kid_3">
                    <div class="c_tilte">老三</div>
                    <div class="chooseWrap">
                        <input type="radio" name="p_3_gender" value="male" id='p_3_male'>
                        <label for="p_3_male">男</label>
                        <input type="radio" name="p_3_gender" value="female" id='p_3_female'>
                        <label for="p_3_female">女</label>
                        <div class="clear"></div>
                        <div class="selectWrap yWrap">
                            <select class="year-select dropDown" id='p_3_year' name='p_3_year' form='pop_familyEdit'>
                            </select>
                        </div>
                        <div class="selectWrap mWrap">
                            <select class="month-select dropDown" id='p_3_month' name='p_3_month' form='pop_familyEdit'>
                            </select>
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="chooseBox kidBox hide kid_4">
                    <div class="c_tilte">老四</div>
                    <div class="chooseWrap">
                        <input type="radio" name="p_4_gender" value="male" id='p_4_male'>
                        <label for="p_4_male">男</label>
                        <input type="radio" name="p_4_gender" value="female" id='p_4_female'>
                        <label for="p_4_female">女</label>
                        <div class="clear"></div>
                        <div class="selectWrap yWrap">
                            <select class="year-select dropDown" id='p_4_year' name='p_4_year' form='pop_familyEdit'>
                            </select>
                        </div>
                        <div class="selectWrap mWrap">
                            <select class="month-select dropDown" id='p_4_month' name='p_4_month' form='pop_familyEdit'>
                            </select>
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="chooseBox kidBox hide kid_5">
                    <div class="c_tilte">老五</div>
                    <div class="chooseWrap">
                        <input type="radio" name="p_5_gender" value="male" id='p_5_male'>
                        <label for="p_5_male">男</label>
                        <input type="radio" name="p_5_gender" value="female" id='p_5_female'>
                        <label for="p_5_female">女</label>
                        <div class="clear"></div>
                        <div class="selectWrap yWrap">
                            <select class="year-select dropDown" id='p_5_year' name='p_5_year' form='pop_familyEdit'>
                            </select>
                        </div>
                        <div class="selectWrap mWrap">
                            <select class="month-select dropDown" id='p_5_month' name='p_5_month' form='pop_familyEdit'>
                            </select>
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="chooseBox kidBox hide kid_6">
                    <div class="c_tilte">老六</div>
                    <div class="chooseWrap">
                        <input type="radio" name="p_6_gender" value="male" id='p_6_male'>
                        <label for="p_6_male">男</label>
                        <input type="radio" name="p_6_gender" value="female" id='p_6_female'>
                        <label for="p_6_female">女</label>
                        <div class="clear"></div>
                        <div class="selectWrap yWrap">
                            <select class="year-select dropDown" id='p_6_year' name='p_6_year' form='pop_familyEdit'>
                            </select>
                        </div>
                        <div class="selectWrap mWrap">
                            <select class="month-select dropDown" id='p_6_month' name='p_6_month' form='pop_familyEdit'>
                            </select>
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
            <a href="#" class="pinkTxt">跳過下次再填</a>
            <input class="sendBtn" type="submit" value="確認">
        </form>
    </div>
</div>
<!-- 11. 感謝 popup -->
<div id="pop_thx" class="popPage hide">
    <div class="popBg"></div>
    <div class="container">
        <div class="clozBtn"></div>
        <div class="logo"></div>
        <div class="cTxt pinkTxt">謝謝您的填寫！</div>
        <div class="cTxt">您目前有<span class="pinkTxt"><span class="coinNum">310</span> 親子幣<i class="icon_redHeart"></i></span>
        </div>
        <div class="cTxt">可免費閱讀<span class="articleNum pinkTxt">31</span>篇雜誌文章！</div>
        <a href="#" class="pinkBtn">回首頁</a>
        <a href="#" class="pinkTxt">觀看我的點數</a>
    </div>
</div>
<!-- 12. 驗證email -->
<div id="pop_verifyEmail" class="popPage hide">
    <div class="popBg"></div>
    <div class="container">
        <div class="clozBtn"></div>
        <div class="popTitle">
            <img src="images/g/mainLogo.png" width='106' height='33' alt=""> Email驗證
        </div>
        <div class="txt">hi , <i class="memberName">%會員姓名%</i></div>
        <div class="txt">歡迎您加入親子天下會員！ 請點選以下按鍵，以完成註冊。
        </div>
        <div class="pinkBtn">驗證Email</div>
        <div class="grayTxt">若您無法點選上述連結，請複製並貼上以下網址至瀏覽器內即可。
            <br>
            <a class="emailUrl pinkTxt f10">https://www.pinterest.com/verify/?code=73fd4c130884924b770380a3cf2838f7</a>
        </div>
        <div class="p_footer">
            Copyright © 2015 All rights reserved. 親子天下版權所有。禁止擅自轉貼節錄
        </div>
    </div>
</div>
<!-- 07. 轉寄好友  -->
<div id="pop_shareToMail" class='popPage hide'>
    <div class="popBg"></div>
    <div class="container">
        <div class="clozBtn"></div>
        <div class="title">
            <div class="icon_mail"></div>
            <div class="pinkTxt">轉寄好友</div>
            <div class="clear"></div>
        </div>
        <form action="">
            <div class="inputWrap">
                <input type="text" name='userMail' placeHolder='您的Email'>
                <input type="text" name='f_mail' class='noBorder' placeHolder='朋友的Email(以逗號,隔開可寄多人）'>
            </div>
            <textarea name="shareTxt" id="shareTxt" class='inputWrap shareTxt' cols="30" rows="10">推薦您親子天下雜誌好文！</textarea>
            <input type="submit" class='pinkBtn' value="寄送">
        </form>
    </div>
</div>
<script>
$(document).ready(function() {

    initPop();

    $('#pop_familyEdit input[name="p_kidsNum"]').click(function() {
        var count = parseInt($(this).val(), 10);

        $('#pop_childWrap .kidBox').hide();

        for (var i = 1; i <= count; i++) {
            $('#pop_familyEdit .childWrap').find('.kid_' + i).fadeIn();
        }

        $('#pop_familyEdit .childWrap').slideDown();
    })
});
</script>
