
@mixin bg($pic-name)
	width: image-width("../images/#{$pic-name}")
	height: image-height("../images/#{$pic-name}")
	background: url("../images/#{$pic-name}")
	
=coverPic
	+background-size(cover)
	background-repeat: no-repeat
	background-position: 50% 50%
=containPic 
	+background-size(contain)
	background-repeat: no-repeat
	background-position: 50% 50%

@mixin hide-text
	text-indent: 100%
	white-space: nowrap
	overflow: hidden

@mixin inlineBlock_parent
	letter-spacing: -0.31em
	*letter-spacing: normal
	*word-spacing: -0.43em
	text-rendering: optimizespeed

=clearfix  
	&:before  
		content: ""  
		display: table  
	&:after  
		content: ""  
		display: table  
		clear: both  
	zoom: 1  

@mixin inlineBlock
	display: -moz-inline-stack
	display: inline-block
	vertical-align: top
	zoom: 1
	*display: inline
	letter-spacing: normal
	word-spacing: normal


@mixin bgScale100_forIE8($pic-name)
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/#{$pic-name}', sizingMethod='scale')
	-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/#{$pic-name}', sizingMethod='scale')"


//for IE8+
@mixin divGoVerticalCenter_forMom
	text-align: center
	&:before
		content: ''
		display: inline-block
		vertical-align: middle
		height: 100%

@mixin divGoVerticalCenter_forKid
	display: inline-block
	vertical-align: middle

	
@mixin btn($pic-name)
	width: image-width("../images/#{$pic-name}")
	height: image-height("../images/#{$pic-name}")/2
	background: url("../images/#{$pic-name}")
	cursor: pointer
	&:hover
		background-position: 0 -100%

@mixin halfDiv($width,$height)
	position: absolute
	width: $width
	height: $height
	left: 50%
	top: 50%
	margin-left: -$width/2
	margin-top: -$height/2