@charset "UTF-8"

// @mixin borderBox
// 	+box-sizing('border-box')

@mixin shadow
	+box-shadow(4px 4px 12px 4px rgba(20%,20%,40%,0.5))
@mixin limitTxt
	white-space: nowrap
	overflow: hidden
	-ms-text-overflow: ellipsis
	-o-text-overflow: ellipsis
	text-overflow: ellipsis


html,body
	width: 100%
	font-size: 115%
	position: absolute
	// font-family: Arial,Helvetica,"微軟正黑體","新細明體",sans-serif, "STHeiti Light", "STHeiti"
	font-family: Helvetica,Arial,"LiHei Pro",新細明體,PMingLiU,sans-serif // udn
	// font-family: Helvetica,Arial,sans-serif // apple daily

.hide
	display: none!important
	//+transition(0.6s)
//div
*
	+box-sizing(border-box)

.dp_b 
	display: block

.dp_ib
	display: inline-block
#mainContainer
	width: 100%
	margin: 0 auto
	margin-top: 45px
	padding: 10px 0
.blackBg
	position: fixed
	top: 0
	left: 0
	width: 100%
	height: 100%
	background-image: url("../images/g/black.png")

.clear
	clear: both!important
	display: block!important

.oneLineLimitTxt
	+limitTxt
.lh_175
	line-height: 1.75rem
.lh_125
	line-height: 1.25rem
.lh_115
	line-height: 1.15rem
.lh_1
	line-height: 1rem

.sr-only
	font-size: 0!important
	padding: 0!important
	margin: 0!important
	height: 0!important
	width: 0!important
	position: absolute!important

.wideBlock
	width: 320px
	margin: 0 auto
.mBox
	margin: 8px auto
	width: 310px
.pBox
	padding: 8px 12px
.rbDiv
	+border-radius(5px)
a
	text-decoration: none
	color: inherit
	&:hover
		text-decoration: underline
		color: inherit
.fullDiv
	position: relative
	top: 0
	left: 0
	width: 100%
	height: 100%
	display: inline-block
	//display: block
	&:hover
		text-decoration: none

.coverPic
	+background-size(cover)
	background-repeat: no-repeat
	background-position: 50% 50%
.containPic
	+background-size(contain)
	background-repeat: no-repeat
	background-position: 50% 50%


.checkboxWrap
	position: relative
	display: block
	margin: 15px 0
	label
		cursor: pointer
		min-height: 25px
		padding-left: 20px
		display: inline-block
		input[type='checkbox']
			position: absolute
			margin-left: -20px
			vertical-align: text-top
			margin-top: 6px
+keyframes('slidein')
	from
		margin-left: 20px
		+opacity(0)
	to
		margin-left: 0px
		+opacity(1)
+keyframes('fadeIn')
	from
		+opacity(0)
	to
		+opacity(1)


//header
#headerWrap
	position: absolute
	height: 45px
	width: 100%
	z-index: 999

	#header
		width: 100%
		height: 45px
		background-color: $mainColor1
		position: relative
		z-index: 30

		&.fixedHeader
			position: fixed
			top: 0
			#h_fixMenu
				display: block
				+animation(0.6s)
				+animation-name(slidein)
			#h_searchBtn
				display: none
			#h_loginBtn
				display: none
			#h_memberBox
				display: none
			#h_logo
				display: none

		#h_fixMenu
			display: none
			position: absolute
			top: 0
			left: 48px
			right: 0
			height: 45px
			line-height: 45px
			.h_menuBtn
				float: left
			.h_menuWrap
				overflow-x: scroll
				.h_fixMenuWrap
					width: 1400px
					li
						display: inline-block
						margin: 0 10px
						position: relative
						&.active
							&:after
								content: ''
								position: absolute
								width: 100%
								border-bottom: 2px solid #fff
								left: 0
								bottom: 3px
					.hf_loginBtn
						width: 70px



		#h_menuBtn
			position: absolute
			left: 12px
			top: 12px


		#h_searchBtn
			position: absolute
			left: 48px
			top: 12px

		#h_logo
			position: absolute
			left: 50%
			top: 50%
			margin-top: -12px
			margin-left: -40px
			&.cgmh
				background-image: none
				// white-space: nowrap
				// text-align: center
				width: 300px
				margin-left: -150px
				text-align: center
				.l1
					background: url('../images/g/mainLogo_cgmh_01.png') no-repeat 0 0
					background-size: 67px 25px
					width: 67px
					height: 25px
					display: inline-block
					vertical-align: text-top
				.l2
					background: url('../images/g/mainLogo_cgmh_02.png') no-repeat 0 0
					background-size: 16px 25px
					width: 16px
					height: 25px
					display: inline-block
					vertical-align: text-top
				.l3
					background: url('../images/g/mainLogo_cgmh_03.png') no-repeat 0 0
					background-size: 68px 25px
					width: 68px
					height: 25px
					display: inline-block
					vertical-align: text-top
		#h_loginBtn
			width: 50px
			position: absolute
			right: 5px
			top: 12px
		.h_memberBox
			position: absolute
			right: 5px
			top: 10px
			width: 80px
			// line-height: 14px
			.i_Bmember
				display: block
				// float: left
				margin-right: 5px
			.txtWrap
				// float: left
				position: absolute
				top: 0
				left: 25px
				line-height: 14px
				margin-top: -1px
				width: 40px

				.coinNum
					color: #fff100
				.f9
					color: white
	#menu
		z-index: 999
		position: absolute
		top: 35px
		left: 0
		width: 100%
		background-color: #FFF
		// +shadow
		// +transition(all 0.6s)
		&.fixedMenu
			position: fixed
		&.show
			+opacity(1)
			//+transition(all 0.6s)
		&.hide
			visibility: hidden
			+opacity(0)
			margin-top: -100px
			//+transition(all 0.6s)
		.menu_wrap
			position: absolute
			z-index: 19
			background-color: white

		.menu_tel
			width: 100%
			text-align: center
			padding: 20px 0
		.menuItem
			position: relative
			.greenBtn
				width: 100%
				text-align: left
				padding: 0 15px
				margin-bottom: 5px
				min-height: 40px
				line-height: 40px
				position: relative
				height: auto
			.mr_btn
				position: absolute
				width: 40px
				height: 40px
				right: 0
				top: 0
				cursor: pointer

				.arr
					margin-top: 15px
					margin-left: 15px
					background: url('../images/g/articleIcon.png') no-repeat -84px -5px
					background-size: 120px 101px
					width: 16px
					height: 9px

			.subNav
				background-color: #FFF
				overflow: hidden
				+opacity(0)
				display: block
				visibility: hidden
				max-height: 0
				+transition(all 0.4s)

				&.show
					max-height: 350px
					+opacity(1)
					visibility: visible
					+transition(all 0.8s)

				.gLine
					width: 100%
					height: 1px
					display: block
					background-color: $borderGray
					float: left

				.subNavItem
					float: left
					list-style-type: disc
					margin-left: 25px
					width: 40%
					min-height: 40px
					line-height: 40px
					padding-top: 5px
					color: #000
		.clozBtn
			padding: 20px 117px
			background-color: #e2e2e2
			text-align: center
			.gTxt
				display: inline-block
			.i_cloz
				display: inline-block
				margin-top: 3px
				vertical-align: text-top
				margin-top: 1px




//bg
.pBg
	background-color: #fbe6f2
//btn
@mixin btn($color)
	background-color: $color
	cursor: pointer
	height: 21px
	line-height: 21px
	color: white
	text-align: center
	width: 150px
	border: none
	display: block
	&:hover
		+opacity(0.95)
		text-decoration: none
		color: white
	&.bigBtn
		height: 30px
		line-height: 30px
		+border-radius(15px)
		width: 100%
	&.largeBtn
		height: 40px
		line-height: 40px
		+border-radius(20px)
		width: 100%


.pinkBtn
	+btn($mainColor1)

.greenBtn
	+btn($mainColor2)
.lgBtn
	+btn($lightGreen)
	color: #373737


@mixin lineBtn($color)
	margin-right: 10px
	margin-bottom: 10px
	width: 75px
	height: 28px
	+border-radius(14px)
	border: 1px solid $color
	cursor: pointer
	display: block
	text-align: center
	line-height: 28px
	color: $color
	&:hover
		background-color: $color
		color: white
	&.active
		background-color: $color
		color: white
.greenBorderBtn
	+lineBtn($mainColor2)
	&:hover
		background-color: #f8ffde
		color: $mainColor2

.pinkBorderBtn
	+lineBtn($mainColor1)


=line($color)
	width: 100%
	max-width: 310px
	margin: 0 auto
	display: block
	border-bottom: 1px solid $color

.grayLine
	+line($bdg )




@mixin lineBtn($color)
	height: 24px
	+border-radius(12px)
	border: 1px solid $color
	text-align: center
	line-height: 22px
	cursor: pointer
	color: $color
	&.active
		background-color: $color
		color: white
		text-decoration: none
	&:hover
		background-color: $color
		color: white
		text-decoration: none


.gLineBtn
	+lineBtn($mainColor2)

.pLineBtn
	+lineBtn($mainColor1)

.grayLineBtn
	+lineBtn(#bcbcb4)
	color: #727066

.gBd,.grayBd,.gBorder
	border: 1px solid $borderGray

//tag
@mixin tag($color)
	height: 23px
	//min-width: 65px
	padding: 0 15px
	font-size: 0.625rem
	color: white
	background-color: $color
	line-height: 23px
	text-align: center
	display: inline-block
	margin-right: 5px


.greenTag
	+tag($mainColor2)
.pinkTag
	+tag($mainColor1)
.grayTag
	+tag(#a8a8a8)
.oTag
	+tag(#ff7430)
//ad demo
@mixin ad
	margin: 0 auto



.ad_320x70_img
	width: 320px
	height: 70px
	margin: 0 auto
	+ad
.ad_320x50
	width: 320px
	height: 50px
	+ad
.ad_300x250
	width: 300px
	height: 250px
	+ad
.fix_b_ad
	position: fixed
	left: 50%
	bottom: 0
	z-index: 1000
	margin-left: -160px
	//height: 50px
//common lists
.c_dotList
	>*:not(:last-child)
		border-bottom: 1px dotted $dotColor
.c_borderList
	>*:not(:last-child)
		border-bottom: 1px solid $bdg


.c_txtAricleBox
	padding: 15px 0 20px
	border-bottom: 1px solid $bdg
	margin: 0 auto
	max-width: 296px
	.tab_title
		// font-size: 16px
	.tab_txt
		// font-size: 14px
		margin-top: 8px


.c_buyBookBox
	padding: 15px
	
	.lBox
		padding-right: 15px
		border-right: 1px dotted $dotColor
		float: left
		.picBox
			+containPic
			width: 95px
			height: 95px
	.rBox		
		overflow: hidden
		min-height: 95px
		padding-left: 15px

	.buyBtn
		display: block
		margin-top: 15px
		height: 30px
		line-height: 30px
		width: 100px


.c_roundPicWithTxtBox
	.picBox
		float: left
		margin-right: 10px
		width: 55px
		height: 55px
		overflow: hidden
		+border-radius(50%)
		display: block
		+coverPic
		&.noRound
			+border-radius(0px)

	.txtBox
		overflow: hidden
		min-height: 55px

.c_pageTagWrap
	+clearfix
	> *
		vertical-align: text-top

	.a_searchBar
		+border-radius(5px)
		border: 1px solid $borderGray
		// position: absolute
		position: relative
		// right: 0px
		// left: 88px
		// top: 4px

		float: right
		margin: 0
		padding: 0
		height: 28px
		line-height: 28px
		cursor: pointer
		display: inline-block
		.lgTxt
			border: none
			margin: 0
			// padding-left: 5px
			// padding-top: 4px
			padding-right: 35px
			padding-left: 5px
			vertical-align: text-top
			display: inline-block
			font-size: 11px
			// width: 170px
		.searchBtn
			position: absolute
			top: 0
			right: 0
			width: 30px
			height: 100%
			background-image: url("../images/g/searchIcon.png")
			background-position: 50% 50%
			border: none

.recommendRankBox
	width: 320px
	margin: 0 auto
.viewRankBox
	width: 320px
	margin: 0 auto
.articleBox
	min-height: 90px
	border-top: 1px dotted #7f7f7f
	padding: 10px 0 8px 0
	position: relative
	width: 296px
	margin: 0 auto
	.titleWrap
		.txtTitle
			float: left
			margin-right: 10px
		.sponsorTag
			float: left
			margin-right: 10px
			height: 16px
			line-height: 16px
			margin-top: 2px

	.txtTitle
		margin-bottom: 10px

	.classTag
		margin: -5px 0 5px 0
		display: block
		width: 100%

	.flag
		+bg('../images/g/flagBg.png')
		position: absolute
		right: 0
		top: -1px
		color: white
		text-align: center


	.lWrap
		float: left
		width: 88px
		.coverPic
			width: 88px
			height: 60px
	.rWrap
		float: left
		width: 206px
		padding: 0 0 0 10px
		.content
			padding-top: 0px
			line-height: 24px
		.btn
			margin-top: 10px

	.sponsorName
		position: absolute
		right: 10px
		bottom: 5px

	&.sponsor
		background-color: #f2f2f2

	&.voteItem
		.content
			padding: 0
		.coinInfoBtn
			margin-top: 10px


.titleBtn
	// width: 296px
	// position: relative
	// text-align: left
	// padding-left: 15px
	// height: 31px
	// line-height: 31px
	// margin-bottom: 10px
	font-size: 1.15rem
	width: 310px
	position: relative
	text-align: left
	padding-left: 15px
	height: 31px
	line-height: 31px
	margin: 10px auto
	// margin-bottom: 10px
	// font-size: 16px


	a
		display: block
		width: 100%
		height: 100%
	&:after
		content: ''
		position: absolute
		right: 10px
		top: 8px
		font-weight: bold
		background: url('../images/g/articleIcon.png') no-repeat -4px -34px
		background-size: 120px 101px
		width: 10px
		height: 17px
	&.without_arr
		&:after
			display: none
	.rTxt
		display: inline-block
		position: absolute
		top: 0
		right: 15px


.searchBar
	width: 256px
	height: 30px
	padding: 0 40px 0 15px
	line-height: 30px
	+border-radius(15px)
	position: relative
	margin: 20px auto
	input[type=text]
		border: 0
		width: 100%
		overflow: hidden
	.searchBtn
		position: absolute
		top: 5px
		right: 15px


.dicsList
	list-style-type: disc
	padding-left: 1.25rem
	li
		margin-bottom: 5px
.numList

	.listItem
		min-height: 60px
		border-bottom: 1px solid $borderGray
		width: 100%
		
		.l_num
			color: $mainColor1
			font-size: 2.125rem
			text-align: right
			width: 39px
			font-weight: bold
			margin-right: 10px
			display: block
			float: left
		.txt
			// float: left
			overflow: hidden
			// width: 240px
			min-height: 70px
			line-height: 20px
			padding: 17px 0

.picTxtList
	position: relative
	width: 320px
	overflow: hidden
	.listItem
		float: left
		margin: 0 16px 15px 0

		&.bItem
			width: 296px
			.coverPic
				height: 152px
			.containPic
				height: 152px

		&.mItem
			width: 140px
			.coverPic
				height: 85px
			.containPic
				height: 85px
		&.mgItem
			width: 140px
			.coverPic
				height: 168px
			.containPic
				height: 168px

		.coverPic
			width: 100%
		.txt
			margin-top: 5px
			width: 100%
			line-height: 16px

.parentOnlineBookStore
	width: 320px
	margin: 0 auto
	overflow: hidden
	margin-top: 15px

	.picTxtList
		overflow: visible
	.swiper-container
		width: 320px
		height: 250px
		.picTxtList
			.listItem
				.containPic
					height: 159px

.gBg
	background-color: #fffff1
.a_discussBox
	width: 320px
	margin: 20px auto
	position: relative
	margin-top: 25px
	padding: 10px
	.boxTitle
		margin-bottom: 5px

	.joinTalkBox
		border-top: 1px solid #000
		padding-top: 30px
		.picWrap
			height: 55px
			width: 55px
			+border-radius(50%)
			overflow: hidden
			float: left
		.lWrap
			//margin-left: 20px
			//float: left
			overflow: hidden
			padding-left: 20px
			textarea
				width: 100%
				height: 70px
				line-height: 20px
				padding: 10px 10px
				border: 1px solid $borderGray
			.t_name
				//margin-left: 20px
				margin-bottom: 10px
			.pinkBtn
				width: 150px
				height: 27px
				line-height: 27px
				+border-radius(5px)
				margin: 10px auto
	.talkNum
		margin-bottom: 10px

	.boxTitle
		font-size: 138.5%
	.tips
		position: absolute
		top: 0
		right: 0

	.talkList
		//height: 182px
		// padding-left: 10px
		padding-top: 5px
		//overflow-x: auto
		.talkItem
			margin-top: 15px
			.picWrap
				height: 55px
				width: 55px
				+border-radius(50%)
				overflow: hidden
				float: left

			.txtWrap
				//float: left
				//margin-left: 20px
				//width: 690px
				overflow: hidden
				padding-left: 10px
				min-height: 70px
				padding-top: 5px
				.t_time
					color: #9a9a9a
					margin-left: 10px
					font-size: 80%
				.content
					margin-top: 5px
					img
						width: 100px
						height: auto

	.talkBox
		background-color: #e6efc2
		padding: 8px
		.picWrap
			height: 63px
			width: 63px
			+border-radius(50%)
			overflow: hidden
			float: left
		form
			padding: 0 5px
			overflow: hidden
			position: relative
			margin-top: 5px
			input[type='text']
				height: 52px
				line-height: 52px
				padding: 0 15px
				width: 100%
				border: 1px solid $borderGray
			input[type='submit']
				width: 120px
				height: 35px
				float: right
				margin-top: 10px

	.talkList
		>.talkItem
			padding-bottom: 15px
			border-bottom: 1px solid #b1b1b1
		.talkItem
			position: relative

			.reportBtn
				// display: none
				// position: absolute
				// right: 0
				// top: 0px
			&:hover
				.reportBtn
					// display: block
			.txtWrap
				.t_commentBox
					margin-top: 5px
					.gHeart
						margin-right: 0
						margin-left: 5px
			.subTalkList
				.picWrap
					width: 26px
					height: 26px
					margin-top: 5px
				.talkItem
					.txtWrap
						border-left: 1px solid $borderGray
						margin-left: 40px
						padding: 0
						padding-left: 15px
				.talkBox
					padding: 0
					background: none
					margin-top: 15px
					overflow: auto
					input[type='text']
						// width: 500px


//留言貼圖
#ParentCommentPOImg
	position: relative
	width: 270px
	height: 90px
	float: left

	.bookWrap
		padding: 0
		width: 73%
		position: relative
		overflow: hidden
		margin: 0 auto

	.leftRightBtn
		position: absolute
		top: -20px
		left: 0px
		width: 100%
		.btn
			position: absolute
			width: 30px
			height: 30px
			top: 50px
			background-image: url("../images/g/postBtn.png")
			filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80)
			+opacity(0.8)
			cursor: pointer
			&:hover
				+opacity(1)
		.lBtn
			left: 0
		.rBtn
			right: 0
			background-position: -30px 0

	.commentimgList
		width: 9999px
		position: relative
		left: 0
		list-style: none


		.listItem
			width: 66px
			height: auto
			position: relative
			float: left
			list-style: none
			//filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60)
			//+opacity(0.6)
			//&:hover
			//	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60)
			//	+opacity(1)

			.containPic
				width: 60px
				height: auto
				margin: 0px auto

			.containAlt
				vertical-align: middle
				display: inline-block
				font-size: 12px
				margin-left: 20px
				margin-top: -25px

// .discussBox
// 	position: relative
// 	margin-top: 25px
// 	.boxTitle
// 		margin-bottom: 5px

// 	.joinTalkBox
// 		border-top: 1px solid #000
// 		padding-top: 30px
// 		.picWrap
// 			height: 63px
// 			width: 63px
// 			+border-radius(50%)
// 			overflow: hidden
// 			float: left
// 		.lWrap
// 			//margin-left: 20px
// 			//float: none
// 			overflow: hidden
// 			padding-left: 20px

// 			.t_name
// 				//margin-left: 20px
// 				margin-bottom: 10px
// 		textarea
// 			width: 100%
// 			height: 70px
// 			line-height: 20px
// 			padding: 10px 10px
// 			border: 1px solid $borderGray
// 			margin-top: 10px
// 		.pinkBtn
// 			width: 150px
// 			height: 27px
// 			line-height: 27px
// 			+border-radius(5px)
// 			margin: 10px auto
// 			margin-bottom: 15px
// 	.talkNum
// 		//font-size: 138.5%
// 		margin-bottom: 10px


// 	.tips
// 		position: absolute
// 		top: 7px
// 		right: 0

// 	.talkList
// 		//height: 182px
// 		padding-left: 10px
// 		padding-top: 5px
// 		//overflow-x: auto
// 		.talkItem
// 			margin-top: 15px
// 			.picWrap
// 				height: 63px
// 				width: 63px
// 				+border-radius(50%)
// 				overflow: hidden
// 				float: left




// 			.txtWrap
// 				//float: left
// 				//margin-left: 20px
// 				//width: 690px
// 				overflow: hidden
// 				padding-left: 20px
// 				min-height: 70px
// 				padding-top: 5px
// 				.t_time
// 					color: #9a9a9a
// 					//margin-left: 10px
// 					font-size: 80%
// 				.content
// 					margin-top: 5px

.swiper-pagination-bullet
	background-color: white
	border: 1px solid #000
.swiper-pagination-bullet-active
	background-color: black
	opacity: 0.2

.askListBox
	width: 320px
	margin: 0 auto
	overflow: hidden
.columnistBox
	width: 320px
	margin: 0 auto
	overflow: hidden
	.columnistList
		.pBox
			padding: 2px 12px
		.listItem
			//min-height: 115px
			.coverPic
				width: 55px
				height: 55px
				overflow: hidden
				+border-radius(50%)
				border: 2px solid $mainColor1
				float: left
				margin-top: 6px

			.txt
				width: 200px
				padding: 0 10px
				float: left
.pageNav
	text-align: center
	margin-bottom: 25px
	.pLineBtn
		width: 75px
		height: 24px
		line-height: 24px
		+border-radius(12px)
		display: inline-block
		margin-right: 10px

.relatedArticleBox
	.pBox
		position: relative
		.more
			position: absolute
			right: 12px
			top: 12px
	ul
		li
			list-style-type: disc
			min-height: 28px
			line-height: 16px
			margin-top: 5px
			margin-left: 25px
			padding: 5px 
		a
			line-height: 1.6

	.sponsor
		background-color: #f3f3f3
		font-size: 0.875rem


.viewRankBox
	.rBarList
		.listItem
			border-bottom: 1px dotted #7f7f7f
			min-height: 47px
			padding: 5px 0 5px 5px
			.icon_num
				line-height: 44px
				font-size: 2.125rem
				float: left
				display: block
				color: $mainColor1
				font-weight: bold
				margin-right: 8px
			a
				float: left
				display: block
				padding: 10px 0
				line-height: 1.6
				width: 85%

.recommendRankBox
	.recommendList
		.pBox
			padding: 4px 12px
		.listItem
			.tag
				width: 55px
				height: 55px
				+border-radius(50%)
				color: white
				padding: 10px 9px
				text-align: center
				float: left
				background-color: $mainColor1
				border: 1px solid #ff85be
				line-height: 17px
			.txt
				float: left
				width: 215px

.colunmistList
	.colunmistBox
		float: left
		width: 33%
		height: 155px

		.picWrap
			width: 75px
			height: 75px
			+border-radius(50%)
			overflow: hidden
			margin: 0 auto

		.c_area
			text-align: center
			color: $borderGray
			padding-top: 5px
		.c_name
			text-align: center


.shareBox
	padding: 20px 20px
	position: relative
	a
		display: block
		float: left

	.gLine
		margin: 0 10px
		width: 1px
		height: 45px
		background-color: $borderGray
		float: left
	.i_sLine
		margin-right: 10px
	.i_bMark
		margin-right: 10px
	.s_tWrap
		position: absolute
		left: 29px
		bottom: 15px
		text-align: center
		.i_sTxt
			display: inline-block
			vertical-align: text-top
			margin-top: 2px
		.i_counNum
			display: inline-block
			vertical-align: text-top
.lineBox
	width: 320px
	margin: 0 auto
	padding: 20px 20px
	position: relative
	a
		display: block
//font size+

.fwb
	font-weight: bold

.f1_15
	font-size: 1.15rem
.f8
	font-size: 0.500rem
.f9
	font-size: 0.563rem
.f10
	font-size: 0.625rem
.f11
	font-size: 0.688rem
.f12
	font-size: 0.75rem
.f13
	font-size: 0.813rem
.f14
	font-size: 0.875rem
.f15
	font-size: 0.938rem
.f16
	font-size: 1rem
.f18
	font-size: 1.125rem
.f19
	font-size: 1.188rem
.f24
	font-size: 1.50rem
.gTxt
	color: $mainColor2
.greenTxt
	color: $mainColor2
.pTxt
	color: $mainColor1
.grayTxt
	color: $mainGray
.lgTxt
	color: #939393
.dgTxt
	color: $darkGTxt
.bTxt
	color: #01aeb4
.blueTxt
	color: #0356c1
.blackTxt
	color: black
.oTxt
	color: #ff7430
.wTxt
	color: white
.mt_ss
	margin-top: 5px
.mb_ss
	margin-bottom: 5px

.mt_s
	margin-top: 15px
.mt_b
	margin-top: 30px
.mb_s
	margin-bottom: 15px
.mb_b
	margin-bottom: 30px

.mr_s
	margin-right: 5px
.ml_s
	margin-left: 5px
.ta_c
	text-align: center
.ta_l
	text-align: left
.ta_r
	text-align: right
.askBtn
	background: url('../images/g/askBtn.png') no-repeat 0 0
	background-size: 71px 51px
	width: 71px
	height: 51px
	position: fixed
	right: 5px
	top: 70%
	z-index: 50


.roundDiv
	+border-radius(5px)
