@charset "UTF-8"

.popPage
	// position: fixed
	// background-image: url("../images/g/black.png")
	// width: 100%
	// height: 100%
	// top: 0
	// left: 0
	// z-index: 9999
	// overflow: auto
	// position: fixed
	
	// .popBg
	// 	position: fixed
	// 	width: 100%
	// 	height: 100%
	// 	top: 0
	// 	left: 0
	// 	background-color: rgba(0, 0, 0, 0.7)

	.container
		position: absolute
		width: 300px
		padding: 40px 20px
		margin: 20px 10px
		background-color: white  
		+border-radius(8px)
		z-index: 9999

	
	.fbBtn
		background-image: url("../images/g/fbBtn.png")
		+background-size(contain)
		background-repeat: no-repeat
		width: 262px
		height: 43px

	.titleWrap
		text-align: center

		.logo 
			display: inline-block
			margin-bottom: 0

		.pinkTxt
			//font-size: 167%

	.logo
		background-image: url("../images/g/logo_106x33.png")
		+background-size(cover)
		width: 106px
		height: 33px
		margin: 0 auto 40px
		
	
	input[type=text],input[type=password]
		width: 100%
		height: 40px
		line-height: 40px
		border: none
		border-bottom: 1px solid $borderGray
		padding-left: 15px
			
	input[type=checkbox]
		margin-right: 5px
		vertical-align: sub

	input[type=submit]
		height: 40px
		margin-right: 5px
		vertical-align: sub

	.clozBtn
		position: absolute
		top: 10px
		right: 10px	
		width: 20px
		height: 20px
		background-image: url("../images/g/clozBtn.png")
		cursor: pointer

		&:hover 
			background-position: 0 -20px
	
	.inputWrap
		width: 100%
		+border-radius(8px)
		border: 1px solid $borderGray
		overflow: hidden
	
		input.noBorder
			border: none

	.pinkBtn
		height: 33px
		width: 100%
		//font-size: 116%
		line-height: 33px
		+border-radius(10px)

	
	.cTxt
		text-align: center
	.lTxt	
		text-align: left


#pop_loginBox
	
	.container
		// height: 438px
		// margin-top: -219px
		
		.cTxt
			margin-top: 30px
		input[name=account]
			background: url("../images/g/loginIcon.png") 0px 0px no-repeat
			padding-left: 15px
			height: 40px
		input[name=password]
			background: url("../images/g/loginIcon.png") 0px -35px no-repeat
			padding-left: 15px
			height: 40px
		input[type=checkbox]
			width: 20px
			height: 20px
			margin-top: 15px

		.inputWrap
			margin-top: 20px
			margin-bottom: 5px
		.pinkBtn
			margin-top: 20px
			margin-bottom: 5px
			height: 40px
		.otherStep
			text-align: center
			padding-top: 20px
#pop_signIn_1
	.container 
		// margin-top: -330px
		// height: 660px
	.pinkBtn
		width: 100%

	.txt
		margin: 30px auto 10px
		text-align: center
	.notice
		margin-top: 15px
	a 
		text-decoration: underline

#pop_noEmail
	.container
		// height: 285px
		// margin-top: -140px

		.txt
			//font-size: 116%
			text-align: center
			margin-top: 30px
			margin-bottom: 15px
		
		.pinkBtn
			margin-top: 10px
			width: 100%

#pop_signIn_2
	
	.container
		padding: 40px 40px
		// height: 491px
		// margin-top: -248px
		.logo
			margin-bottom: 5px

		p 
			margin-bottom: 20px
			//font-size: 116%
		.pinkBtn
			width: 200px
			margin: 27px auto 0
		.cTxt
			
			margin-bottom: 20px

#pop_thx
	
	.container
		// height: 285px
		// margin-top: -140px
		.logo
			margin-bottom: 5px
		.cTxt.pinkTxt
			//font-size: 123.1%
			margin-bottom: 20px
		.cTxt
			margin-top: 15px
		
		a 
			text-align: center
			float: right
			margin-top: 20px
			text-decoration: underline

		.pinkBtn
			margin-top: 30px
			height: 40px
			text-align: center
			text-decoration: none
#pop_signIn_3
	.container
		// height: 556px
		// margin-top: -256px
		padding: 40px 27px 20px

	.txt
		text-align: center
		margin: 15px 0px 20px 0px
		//font-size: 116%

	.dotLine
		margin-bottom: 15px



	.chooseBox
		margin-bottom: 10px

		.c_tilte
			float: left
			width: 68px
			//font-size: 116%

		.chooseWrap
			float: left
			width: 260px
			
			input[type=radio]
				display: none

			input[type=radio]+label
				width: 70px
				height: 30px
				line-height: 30px
				+border-radius(15px)
				color: $mainColor1
				border: 1px solid $mainColor1
				margin-right: 5px
				text-align: center
				float: left
				margin-bottom: 10px
				cursor: pointer
				
			input[type=radio]:checked + label
				border: 0
				background-color: $mainColor1
				color: white

	.sendBtn
		width: 120px
		height: 35px
		color: white 
		background-color: $mainColor1
		line-height: 35px
		text-align: center
		margin-left: 10px
		//font-size: 116%
		+border-radius(5px)
		margin-top: 30px
		display: inline-block
		cursor: pointer
		border: none

		&:hover 
			+opacity(0.8)
			text-decoration: none
		
	.childWrap
		max-height: 250px
		width: 100%
		overflow-y: auto
		display: none
		.chooseWrap
			width: 245px
	.btnWrap
		position: absolute
		bottom: 40px
	a 
		text-decoration: underline
		margin-left: 10px

	.pinkBtn
		display: inline-block
		width: 200px
		margin-left: 10px

	.selectWrap
		float: left
		height: 24px
		line-height: 24px
		margin-right: 5px
		+border-radius(12px)
		overflow: hidden
		border: 1px solid $mainColor1 
		position: relative         
		background: url('../images/g/dropDownIcon.png') no-repeat     
		background-position: center right 

		&.yWrap
			width: 120px
		&.mWrap 
			width: 73px

	.dropDown
		border: 0
		background: transparent
		-webkit-appearance: none
		padding-left: 8px

		&.year-select
			width: 148px

		&.month-select
			width: 101px

		&:focus 
			border: 0



#pop_verifyEmail
	.container 
		+border-radius(0px)
		padding: 0
		// margin-top: -222px
		.popTitle
			width: 100%
			height: 60px
			background-color: $mainColor1 
			color: white 
			padding: 12px 20px
			//font-size: 153.9%
			margin-bottom: 30px
		.txt	
			width: 200px
			//font-size: 116%
			text-align: left
			margin: 0px auto 20px
		.pinkBtn
			width: 200px
			margin: 0 auto 30px
			height: 40px
			line-height: 40px
		.grayTxt
			padding: 0 15px
			margin: 0 auto 20px
			text-align: center
		.emailUrl

		.p_footer
			background-color: #cecece
			padding: 10px 20px

#pop_shareToMail
	//font-size: 108%
	.container
		width: 300px
		//height: 400px
		background-color: white
		padding: 15px

		.title
			.icon_mail
				float: left
			.pinkTxt
				//font-size: 153.9%
				font-weight: bold
				float: left
				margin-top: 5px
				margin-left: 3px

		.inputWrap
			margin-top: 20px
			margin-bottom: 5px
		.shareTxt
			padding: 10px
			height: 150px
			margin-bottom: 15px