@charset "UTF-8"

// @mixin borderBox 
// 	+box-sizing('border-box')



$mainColor1: #e4007f
$mainColor2: #94b706
$lightGreen: #e6efc2
$darkGTxt: #7b9807
$mainGray: #626262
$borderGray: #adadad
$bgGray: #e7e7e7
$hoverColor: #f2f2f0
$txtColor1: #373737
$bdg: #adadad

$breakPoint: 1140px
$dotColor: #ABABAB 
@mixin limitTxt
	white-space: nowrap
	overflow: hidden
	-ms-text-overflow: ellipsis
	-o-text-overflow: ellipsis 
	text-overflow: ellipsis