/*mixin*/
@import compass/css3
@import mixin/layout
@import variable

.rankMenu
	padding: 8px 0

.tabWrap
	border-bottom: 3px solid $mainColor1
	.tab
		width: 20%
		background-color: #e8e8e8
		text-align: center
		height: 25px
		line-height: 25px
		float: left

		&:hover 
			background-color: $mainColor1
			color: white 
		&.active 
			background-color: $mainColor1
			color: white 
		
		