/*mixin*/
@import compass/css3
@import mixin/layout
@import variable




.articleTagWrap
	.sponsor
		display: inline-block
	position: relative
	// padding-top: 15px 
	+clearfix
	>*
		vertical-align: text-top
	.a_searchBar
		+border-radius(5px)
		border: 1px solid $borderGray 
		// position: absolute
		position: relative
		// right: 0px
		// left: 88px
		// top: 4px
		float: right
		margin: 0 
		padding: 0
		height: 28px
		cursor: pointer	
		display: inline-block
		.lgTxt
			border: none
			margin: 0
			// padding-left: 5px
			// padding-top: 4px
			padding-right: 35px
			padding-left: 5px
			vertical-align: text-top
			display: inline-block
			// width: 170px
		.searchBtn
			position: absolute
			top: 0
			right: 0
			width: 30px
			height: 100%
			background-image: url("../images/g/searchIcon.png")
			background-position: 50% 50%
			border: none
.infoWrap
	.period
		float: left
		display: block
	.author
		float: right
		display: block

.columnistInfoWrap
	
	.coverPic
		width: 55px
		height: 55px
		overflow: hidden
		+border-radius(50%)
		//border: 2px solid $mainColor1
		float: left
		margin-top: 6px

	.txt
		overflow: hidden
		padding: 10px
		min-height: 75px

.colunmist_rB
	.columnistInfoWrap
		.pinkBtn
			width: 100%
			+border-radius(15px)
	.pBox
		.area
			margin-right: 10px
		.author
			margin-right: 10px

.preWord
	color: #757575
.articleTitle
	width: 320px
	margin: 0 auto
	margin-top: 15px	
.infoWrap
	width: 320px
	margin: 0 auto
	margin-top: 5px
.articleWrap
	width: 320px
	margin: 0 auto
	p 
		padding: 10px 0
	a
		text-decoration: none
		color: #1860a8
		&:hover
			text-decoration: underline
			color: #1860a8
.articleTagWrap
	width: 320px
	margin: 0 auto
	&.mt_s
		margin-top: 15px	
.columnistInfoWrap
	width: 320px
	margin: 0 auto
	&.mt_s
		margin-top: 15px	
.likeBox
	width: 320px
	margin: 0 auto
	&.mt_s
		margin-top: 15px	
.shareBox
	width: 320px
	margin: 0 auto
	&.mt_s
		margin-top: 15px	
.voteBox
	width: 320px
	margin: 0 auto
	&.mt_s
		margin-top: 15px	
.relatedArticleBox
	width: 320px
	margin: 0 auto
	&.mt_s
		margin-top: 15px	
.viewRankBox
	width: 320px
	margin: 0 auto
	&.mt_s
		margin-top: 15px	
.discussBox
	width: 320px
	margin: 0 auto
	&.mt_s
		margin-top: 15px	
.fb_discussBox
	width: 320px
	margin: 0 auto
	&.mt_s
		margin-top: 15px	

.i_unLock
	margin: 0 auto
	margin-top: 15px

.voteBox
	overflow: hidden
	.icon_redHeart
		margin-left: 5px
	ul 
		width: 320px
		margin-top: 20px
		padding-left: 14px
		.listItem
			width: 95px
			margin: 0 5px 10px 0
			float: left
			.rate
				margin-right: 4px
			
.pointBox 
	background-color: #FBE6F2
	// width: 320px
	margin: 0 auto

	ul 
		list-style-type: disc
		padding-left: 15px
		margin: 10px 0

		a
			display: block


.mp3Box	
	background-color: #f2f2f0
	position: relative
	audio 
		width: 259px
		margin: 15px 0

	// .box_title
	// 	margin-bottom: 15px
	// 	font-size: 116%

	// .downLoadBox
		
	// 	margin-top: 30px
	// 	line-height: 28px
	// 	list-style-type: disc
	// 	margin-left: 25px

	// 	li 
	// 		height: 28px
	// 		margin-bottom: 10px
	// 	.a_name
	// 		display: inline-block
	// 		min-width: 150px
	// 		margin-right: 15px
	// 	.pinkBtn
	// 		+border-radius(5px)
	// 		height: 28px
	// 		width: 120px
	// 		line-height: 28px
	// 		display: inline-block
	// 		margin-right: 15px
			
	// 	.txt
	// 		display: inline-block

#r_keywordIconBox
	position: relative
	width: 320px
	height: 220px
	margin: auto

	.manList
		
		.listItem
			width: 25%
			height: 25%
			float: left
			cursor: pointer
			margin-top: 5px

			.picWrap
				width: 80%
				margin: auto
			
			.s_name
				font-size: 60%
				display: block
				text-align: center
				color: $mainGray

