/*mixin*/
@import compass/css3
@import mixin/layout
@import variable
div 
	+box-sizing(border-box)
.mBox
	//width: auto 
	width: 296px
	margin: 8px auto

.articleTagWrap
	.dib
		display: inline-block
		vertical-align: sub
	.faqListTitle
		// margin-left: 5px

.articleWrap
	margin: 0 auto
	width: 320px
.shareBox
	margin: 0 auto
	width: 320px
.qaWrap
	.qBox
		.qTitle
			&.grayTxt
				color: #373737
.askBox
	min-height: 120px
	margin-top: 15px
	.memberBox
		float: left
		width: 60px
		text-align: center

		.picWrap
			width: 55px
			height: 55px
			+border-radius(50%)
			overflow: hidden
			margin: 0px auto
		.m_info
			margin-top: 5px
			.editBtn
				margin-top: 5px
				a 
					&:hover 
						text-decoration: none
				.i_gEdit
					margin-top: 2px
	.a_articleBox
		overflow: hidden
		padding: 0
		padding-left: 10px
		border: none
		// min-height: 106px
		.atBox
			.articleTitle
				width: auto
				margin-top: 0
				line-height: 1.5rem
		.a_infobox
			margin-top: 5px

.answerBox
	padding: 10px
	background-color: #fffff1
	.a_content
		border-top: 1px solid #bcbcbc
		padding-top: 15px
	.mp3Box
		background-color: inherit
		audio
			margin: 5px 0
			width: 100%
	.pointBox
		background-color: inherit
		ul 
			padding-left: 20px
			li 
				margin-bottom: 5px
		// .atBox
		// 	.articleTitle
		// 		font-weight: normal
		// 		width: 520px
		// 		font-size: 138.5%
		// .dealWrap
		// 	.blackTxt
		// 		margin: 0 3px
		// 		&:hover 
		// 			color: #000
		// .mp3Box
		// 	border: none
		// 	background: none
		// 	margin-bottom: 0

		// .pointBox
		// 	border: none
		// 	background: none
		// 	margin-bottom: 0
.ansBtn
	width: 100%
.answerPop	
	position: relative
	.q_textarea
		width: 100%
		min-height: 150px	
	input[ type="text"]
		width: 100%
		display: block
	.bigBtn
		width: 100%
		height: 30px
		line-height: 30px
		text-align: center
		+border-radius(15px)

@media screen and (max-width: 481px)
	#mainContainer
		.askBox
			.articleBox
				width: 235px

@media screen and (min-width: 481px)
	.mBox 
		width: 296px
		margin: 8px auto