/*mixin*/
@import compass/css3
@import mixin/layout
@import variable

.bBigBtn
	width: 100%

.searchKeyword
	width: 100%
	height: 30px
	.searchAsk
		width: 85%
		height: 30px
		// margin-top: 5px
		padding: 2px 8px
	.searchBtn
		position: relative
		top: 3px
		// right: 0
		float: right
		width: 12%
		height: 30px
		background-image: url("../images/g/searchIcon.png")
		background-position: 50% 50%
		border: none

#mainContainer
	// padding-bottom: 45px
	// margin-top: 0
	// padding-top: 45px
	>.roundDiv
		+border-radius(10px)

.gBg
	background-color: #eaeaea
	
.wBg
	background-color: #FFF

#footer
	margin-top: 0
.pl_b
	padding-left: 62px
.filterBox
	
	.filterName
		float: left
		line-height: 30px
	.q_name
		display: block	
	.filterWrap
		margin-top: 15px
		margin-left: 10px
		overflow: hidden
		input[type=radio]
			display: none	
		input[type=radio]:checked + label
			background-color: $mainColor1 
			color: white
		input[type=checkbox]
			display: none	
		input[type=checkbox]:checked + label
			background-color: $mainColor1 
			color: white
		.redBtn
			float: left
			margin-left: 10px
			margin-bottom: 8px
			padding: 0 10px	
			height: 30px
			+border-radius(14px)
			border: 1px solid $mainColor1
			text-align: center
			line-height: 30px
			color: $mainColor1 
			position: relative
			cursor: pointer	
			
		
			// &:hover 
			// 	background-color: $mainColor1 
			// 	color: white
.editBox
	padding-bottom: 30px
	.gbd_input
		width: 100%
		height: 30px
		margin-top: 5px
		padding: 2px 8px

	.gbd_input_big
		min-height: 200px
		margin-top: 15px

	.grayBtn
		width: 100%
		padding: 8px 0
		text-align: center
		display: block
		background-color: #b6b6b6
		color: #fff
	.i_camara
		margin-top: -2px
		margin-right: 3px

	.pic_preview
		display: none
		border: 1px solid $borderGray
		overflow: hidden
		width: 100%
		position: relative
		&:hover 
			.deleBtnWrap
				display: block
		.deleBtnWrap
			// display: none
			position: absolute
			width: 100%
			height: 100%
			
			.deleBtn
				position: absolute
				right: -1px
				top: -1px
				cursor: pointer
				padding: 8px 10px 
				background-image: url("../images/g/black.png")
				+opacity(0.7)
				&:hover 
					+opacity(1)
				.i_delBtn
					margin-left: 5px


		img 
			vertical-align: bottom

	.relatedArticleBox
		ul 
			li 
				margin-top: 0	

		.bdt
			border-top: 1px dotted #ABABAB
			padding-top: 20px	

	.tdu
		border-bottom: 1px solid #bbb		
		display: inline-block	
.grayBorderBtn
	padding: 0 2px
	border: 1px solid $bdg
	+border-radius(5px)
	height: 25px
	display: block
	line-height: 24px
	text-align: center
	background-color: #FFF
	&.nobd	
		border: none

	&:hover 
		background-color: #dfdfdf
		text-decoration: none
	&.active 
		border: 1px solid #dfdfdf
		background-color: #dfdfdf
.nextBtnWrap
	text-align: center

	.noBtn
		display: inline-block
		vertical-align: text-top
	.yesBtn
		display: inline-block
		vertical-align: text-top
		+border-radius(15px)
		height: 30px
		line-height: 30px
		&.sBtn
			width: 120px	
	input[type="checkbox"]
		margin-top: 5px	
		vertical-align: text-top	
.askTip
	ol 
		list-style-type: decimal
		padding-left: 20px
		li 
			margin-top: 15px	

.searchFilterBox
	padding-right: 4px