/*mixin*/

@import compass/css3
@import mixin/layout
@import variable

#mainBanner
	width: 320px
	overflow: hidden
	margin: 0 auto
	position: relative
	.swiper-pagination
		position: absolute
		top: 0
		right: 5px
		bottom: auto
		width: auto
		left: auto
		.swiper-pagination-bullet
			margin: 0 3px
			background: url('../images/g/switchDot.png') no-repeat 0 -7px
			background-size: 6px 13px
			width: 6px
			height: 6px
			border: none
			+opacity(1)
		.swiper-pagination-bullet-active
			background: url('../images/g/switchDot.png') no-repeat 0 0
			background-size: 6px 13px
			width: 6px
			height: 6px
	.coverPic
		width: 320px
		height: 178px
	

.bk_booklistBox2
	padding: 10px 0
	.picWrap
		+containPic
		width: 100px
		height: 100px
		float: left
		display: block

		.seeMoreItem
			width: 100%
			height: 100%
			background-color: rgba(0, 0, 0, 0.3)
			line-height: 100px
			text-align: center
			color: white
			display: block

	.txtWrap
		padding: 15px 0 15px 10px
		overflow: hidden
		min-height: 100px
		display: block


.bk_booklistBox
	padding: 15px 0 20px
	border-bottom: 1px solid $bdg
	&.withoutBd
		border-bottom: none
	.blb_tag
		font-size: 15px
	.blb_title
		// font-size: 18px
		margin-top: 5px
	.blb_info
		font-size: 14px
		margin-top: 5px
	.blb_books
		margin-top: 15px
		.blb_book
			display: inline-block
			width: 90px
			height: 90px
			vertical-align: text-top
			+containPic
			.seeMoreItem
				width: 100%
				height: 100%
				background-color: rgba(0,0,0,0.3)
				line-height: 90px
				text-align: center
				color: white
.bk_filterBox
	border-bottom: 1px solid $bdg
	padding-bottom: 10px

	.i_bookSelect
		float: left
		margin-right: 10px
		margin-top: 5px
	.tagWrap
		overflow: hidden
		.grayLineBtn
			display: inline-block
			vertical-align: text-top
			padding: 0 15px
			height: 30px
			line-height: 30px
			margin: 0px 5px 5px 0
			+border-radius(15px)
.bk_bookBox
	padding: 15px 0 20px
	border-bottom: 1px dotted $dotColor
	&.withoutBd
		border-bottom: none
	.picBox
		width: 90px
		height: 90px
		display: inline-block
		vertical-align: text-top
	.txtBox
		width: 173px
		min-height: 90px
		display: inline-block
		vertical-align: text-top
		line-height: 1.15rem
		.infoBox
			display: block
			height: 17px
		.subinfo
			line-height: 1rem

		.starScore
			margin-top: 0
			display: inline-block
			vertical-align: text-top
			height: 20px

		.bk_icon
			display: inline-block
			vertical-align: text-top
			margin-top: 2px
	.colectionBtn
		display: inline-block
		vertical-align: text-top
		width: 30px
		&.active
			.i_collect
				background: url('../images/g/bookIcon.png') no-repeat -27px -24px
				background-size: 75px 75px
				width: 22px
				height: 27px
			// .lgTxt
				// display: none
		.i_collect
			margin: 0 auto
			display: block
		.lgTxt
			text-align: center
			padding-top: 2px
	.subTxtBox
		// line-height: 1.25rem
		display: block
.bk_searchBox
	+border-radius(15px)
	overflow: hidden
	.sb_tagWrap
		+clearfix
		.sb_tag
			text-align: center
			height: 40px
			float: left
			background-color: #dedede
			color: $mainGray
			line-height: 40px
			width: 50%
			font-size: 16px
			position: relative
			&.active
				background-color: #cccbcb
				color: $mainColor1
				&:after
					content: ''
					position: absolute
					bottom: -8px
					left: 50%
					margin-left: -8px
					width: 0
					height: 0
					border-left: 8px solid transparent
					border-right: 8px solid transparent
					border-top: 8px solid #cccbcb
	.sb_container
		background-color: #ebebeb
		.searchFilterForm
			padding: 25px 0
			.noteTxt
				// font-size: 12px
			.sb_searchBar
				+border-radius(5px)
				border: 1px solid $borderGray
				position: relative
				overflow: hidden
				width: 100%
				margin: 0
				padding: 0
				height: 28px
				line-height: 28px
				margin-bottom: 15px
				input[type="text"]
					border: none
					margin: 0
					width: 100%
					height: 100%
					display: block
					padding-right: 35px
					padding-left: 10px
					font-size: 13px

				.searchBtn
					position: absolute
					top: 0
					right: 0
					width: 30px
					height: 100%
					background-image: url("../images/g/searchIcon.png")
					background-position: 50% 50%
					border: none
			input[type="submit"]
				margin: 0 auto
				+border-radius(15px)
				height: 30px
				line-height: 30px
				font-size: 14px
				margin-top: 25px


.c_filterBox
	margin-bottom: 15px
	.filterName
		float: left
		// font-size: 14px
		padding-top: 1px
		margin-right: 5px
	.filterWrap
		// margin-top: 15px
		// margin-left: 10px
		// overflow: overlay
		// font-size: 12px
		overflow: hidden

		input[type=radio]
			display: none
		input[type=radio]:checked + label
			background-color: $mainColor1
			color: white
		input[type=checkbox]
			display: none
		input[type=checkbox]:checked + label
			background-color: $mainColor1
			color: white
		.redBtn
			float: left
			margin-right: 5px
			margin-bottom: 8px
			padding: 0 15px
			height: 30px
			+border-radius(15px)
			border: 1px solid $mainColor1
			text-align: center
			line-height: 30px
			color: $mainColor1
			position: relative
			cursor: pointer

		.noteTxt
			font-size: 10px


.starScore
	display: inline-block
	vertical-align: text-top
	margin-top: 2px
	&.bigStar
		margin-top: -1px
	li
		background: url('../images/g/bookIcon.png') no-repeat -20px -2px
		width: 14px
		height: 13px
		display: inline-block
		vertical-align: text-top

	&.s1
		li:nth-child(1)
			background: url('../images/g/bookIcon.png') no-repeat  -2px -2px
	&.s2
		li:nth-child(1),li:nth-child(2)
			background: url('../images/g/bookIcon.png') no-repeat  -2px -2px
	&.s3
		li:nth-child(1),li:nth-child(2),li:nth-child(3)
			background: url('../images/g/bookIcon.png') no-repeat  -2px -2px
	&.s4
		li:nth-child(1),li:nth-child(2),li:nth-child(3),li:nth-child(4)
			background: url('../images/g/bookIcon.png') no-repeat  -2px -2px
	&.s5
		li:nth-child(1),li:nth-child(2),li:nth-child(3),li:nth-child(4),li:nth-child(5),
			background: url('../images/g/bookIcon.png') no-repeat  -2px -2px
	&.bigStar
		li
			background: url('../images/g/bookIcon.png') no-repeat -38px -18px
			width: 30px
			height: 27px
			cursor: pointer
		&.s1
			li:nth-child(1)
				background: url('../images/g/bookIcon.png') no-repeat 0 -18px
		&.s2
			li:nth-child(1),li:nth-child(2)
				background: url('../images/g/bookIcon.png') no-repeat 0 -18px
		&.s3
			li:nth-child(1),li:nth-child(2),li:nth-child(3)
				background: url('../images/g/bookIcon.png') no-repeat 0 -18px
		&.s4
			li:nth-child(1),li:nth-child(2),li:nth-child(3),li:nth-child(4)
				background: url('../images/g/bookIcon.png') no-repeat 0 -18px
		&.s5
			li:nth-child(1),li:nth-child(2),li:nth-child(3),li:nth-child(4),li:nth-child(5),
				background: url('../images/g/bookIcon.png') no-repeat 0 -18px
.bookInfoBox
	padding: 10px 0
	border-bottom: 1px solid $bdg
	margin-top: -1px



	.evaluateBtn
		padding: 0 10px
		width: auto
		float: none
		display: inline-block
		vertical-align: text-top
		margin: 0
		margin-top: 3px
		+border-radius(5px)
	.bPic
		width: 100%
		height: 180px
		// +box-sizing(contain)
		// +containPic


	.txtWrap
		overflow: hidden
		min-height: 180px
		position: relative
		color: $txtColor1
		.pr_b
			padding-right: 60px
		.colectionBtn
			position: absolute
			right: 0
			top: 0
			width: 60px
			cursor: pointer
			.i_collect
				margin: 0 auto
			.lgTxt
				text-align: center
				display: none

			&:hover
				.lgTxt
					display: block
				.i_collect
					background: url('../images/g/bookIcon.png') no-repeat -88px -4px
			&.active
				.i_collect
					background: url('../images/g/bookIcon.png') no-repeat -55px -4px

		.recommendBox
			.lBox
				padding-right: 10px
				border-right: 1px solid $mainColor2
				margin-right: 10px
		.evaluateStarBox
			background-color: #ebebeb
			padding: 10px 15px 15px
			+border-radius(5px)
			display: inline-block
			.greenBtn
				display: inline-block
				vertical-align: text-top
				margin-top: 5px
				padding: 0 20px
				height: 28px
				line-height: 28px
				width: 80px

.whiteMaskTxtBox
	+clearfix
	&.active
		.r_txt
			height: auto
		.r_mask
			display: none
		.r_slideBtn
			display: none
	.r_slideBtn
		position: relative
		z-index: 10
		margin-top: 15px
		text-align: right
	position: relative
	.r_txt
		overflow: hidden
		height: 78px


	.r_mask
		width: 100%
		height: 31px
		background-image: url("../images/g/whiteUp.png")
		position: absolute
		left: 0
		bottom: 31px

.bk_recommendBox
	.recommendTxt
		position: relative
		padding-bottom: 15px
		&:not(:last-child)
			border-bottom: 1px dotted $dotColor

//相關資源 & mp3
.bk_resourceBox
	.titleBtn
		.classBtn
			text-align: center
			width: 45%
			display: inline-block
			vertical-align: top
.shareBox
	margin: 0 auto
	width: 320px

.bk_bookList_2
	// border-bottom: 1px dotted $dotColor
	// &.withoutBd
	// 	border-bottom: none
	.b_item
		display: inline-block
		vertical-align: text-top
		width: 49%
		padding: 10px 0


		.picBox
			height: 188px

		.txtBox
			padding: 5px


		.i_bDelete
			display: block
			margin: 15px auto

.articleTagWrap
	.sponsor
		display: inline-block
	position: relative
	// padding-top: 15px
	+clearfix
	>*
		vertical-align: text-top
	.a_searchBar
		+border-radius(5px)
		border: 1px solid $borderGray
		// position: absolute
		position: relative
		// right: 0px
		// left: 88px
		// top: 4px
		float: right
		margin: 0
		padding: 0
		height: 28px
		cursor: pointer
		display: inline-block
		.lgTxt
			border: none
			margin: 0
			// padding-left: 5px
			// padding-top: 4px
			padding-right: 35px
			padding-left: 5px
			vertical-align: text-top
			display: inline-block
			// width: 170px
		.searchBtn
			position: absolute
			top: 0
			right: 0
			width: 30px
			height: 100%
			background-image: url("../images/g/searchIcon.png")
			background-position: 50% 50%
			border: none
