/*mixin*/
@import compass/css3
@import mixin/layout
@import variable

.columnistBox
	.columnistList
		.listItem
			// .listTitle
			// 	font-weight: bold
			.fullDiv
				margin-top: 5px
			.coverPic
				border: none

			.txt
				position: relative

			.date
				position: absolute
				top: 0
				right: 0

.columnArticleList
	.listItem
		padding: 15px 0

		// .c_title
		// 	font-weight: bold
		.c_author
			float: left
			margin-top: 7px
		.c_date
			float: right
			margin-top: 10px