/*mixin*/
@import compass/css3
@import mixin/layout
@import variable


	
.errorPic
	+bg('g/errorPic.png') 
	
	margin: 20px auto

.pLineBtn
	margin-top: 20px
	width: auto
	height: 30px
	line-height: 27px
	+border-radius(15px)
	padding: 0 27px
	display: inline-block
	float: none
.linkListBox
	margin-top: 35px
	li 
		margin-top: 10px
.i_ghb
	margin-right: 7px
	vertical-align: text-top
	margin-top: 4px
