/*mixin*/
@import compass/css3
@import mixin/layout
@import variable

.memberMenu
	padding: 8px 0
.tabWrap
	border-bottom: 3px solid $mainColor1
	.tab
		width: 25%
		background-color: #e8e8e8
		text-align: center
		height: 25px
		line-height: 25px
		float: left


		&:hover 
			background-color: $mainColor1
			color: white 
		&.active 
			background-color: $mainColor1
			color: white 
	.moreWrap
		border: 1px solid $mainColor1
		border-top: 2px solid $mainColor1
		margin-bottom: -3px
		max-height: 0px
		overflow: hidden
		+transition(all .6s)
		li 
			height: 35px
			line-height: 35px
			margin: 0 15px
			border-bottom: 1px dotted $borderGray
			a 
				display: block
				width: 100%
				height: 100%

		li:last-child
			border: none

		&.show 
			max-height: 250px
			+transition(all .8s)
			


.emailBtn
	margin-top: 30px
	min-height: 34px
	height: auto
	+border-radius(17px)
	padding: 7px
	width: 296px
	.i_bWhiteArr
		float: left
		margin-right: 7px
	.txt
		float: left
		width: 250px
		text-align: left
.titleBtn
	margin-top: 30px

.m_followBox
	min-height: 115px
	border-top: none
	border-bottom: 1px solid $borderGray
	.lWrap
		.coverPic
			width: 80px
			height: 80px

	.cancelBtn
		position: absolute
		bottom: 15px
		right: 0
		height: 28px
		line-height: 28px
		width: 90px		
		+border-radius(14px)
.shareMailBox
	//background-color: black
	.mBox
		.title
			.icon_mail
				float: left
			.pinkTxt
				//font-size: 153.9%
				font-weight: bold
				float: left
				margin-top: 5px
				margin-left: 3px

		.inputWrap
			margin-top: 20px
			margin-bottom: 5px
		.shareTxt
			padding: 10px
			height: 150px
			margin-bottom: 15px
		button, input, select, textarea
			font-size: 14px
		.noticeList
			font-size: 14px
			ol li
				margin-left: 20px
				list-style-type: decimal
			.pinkNum
				float: left
	
	input[type=text],input[type=password]
		width: 100%
		height: 40px
		line-height: 40px
		border: none
		border-bottom: 1px solid $borderGray
		padding-left: 15px
			
	input[type=checkbox]
		margin-right: 5px
		vertical-align: sub

	input[type=submit]
		height: 40px
		margin-right: 5px
		vertical-align: sub
	
	.inputWrap
		width: 100%
		+border-radius(8px)
		border: 1px solid $borderGray
		overflow: hidden
	
		input.noBorder
			border: none

	.pinkBtn
		height: 33px
		width: 100%
		line-height: 33px
		+border-radius(10px)

.memberPage_title
	width: 296px
	border-bottom: 2px solid #c4b9b5
	position: relative
	margin-top: 15px
	padding: 5px 0
	&.withoutGLine
		&:after 
			display: none
	&:after
		content: ''
		width: 110px
		height: 2px
		background-color: #95b60f
		position: absolute
		left: 0
		bottom: -2px
	.rbd
		border-right: 1px solid $borderGray
		padding-right: 5px
		// margin-right: 5px
	.memberPage_title_subWrap
		.grLineTag:not(:last-child):after 
			content: ' |'
			color: #ababab
.m_infoBox
	margin-top: 30px

	.m_name
		float: left
		padding-right: 8px
		border-right: 1px solid $borderGray
		margin-right: 8px
	.m_coin
		float: left


	.m_email
		margin-top: 5px
	.txt
		.pTxt
			margin: 0 4px

.m_historyList
	.listItem
		margin-bottom: 15px
		.h_box
			margin-top: 10px
			background-color: #f4e9e5
			.lWrap
				float: left
				width: 215px
			.rWrap
				float: right

#m_familyEdit
	margin-top: 15px
	.chooseBox
		margin-bottom: 10px

		.c_tilte
			float: left
			width: 68px
			margin-right: 15px

		.chooseWrap
			float: left
			width: 205px
			
			input[type=radio]
				display: none

			input[type=radio]+label
				width: 60px
				height: 30px
				line-height: 30px
				+border-radius(15px)
				color: $mainColor1
				border: 1px solid $mainColor1
				margin-right: 5px
				text-align: center
				float: left
				margin-bottom: 10px
				cursor: pointer
				
			input[type=radio]:checked + label
				border: 0
				background-color: $mainColor1
				color: white
	.childWrap
		border-top: 1px solid $borderGray
		margin-top: 25px
		padding-top: 25px
		.chooseBox
			margin-bottom: 25px
	.sendBtn
		width: 296px 
		height: 36px
		color: white 
		background-color: $mainColor1
		line-height: 36px
		text-align: center
		+border-radius(18px)
		margin-top: 30px
		cursor: pointer
		border: none

		&:hover 
			+opacity(0.8)
			text-decoration: none
		
	
	.btnWrap
		position: absolute
		bottom: 40px
	a 
		text-decoration: underline
		margin-left: 10px

	.pinkBtn
		display: inline-block
		width: 200px
		margin-left: 10px

	.selectWrap
		float: left
		height: 24px
		line-height: 24px
		margin-right: 5px
		+border-radius(12px)
		overflow: hidden
		border: 1px solid $mainColor1 
		position: relative         
		background: url('../images/g/dropDownIcon.png') no-repeat     
		background-position: center right 

		&.yWrap
			width: 120px
		&.mWrap 
			width: 73px

	.dropDown
		border: 0
		background: transparent
		-webkit-appearance: none
		padding-left: 8px

		&.year-select
			width: 148px

		&.month-select
			width: 101px

		&:focus 
			border: 0


.m_bookMarkList
	.listItem
		position: relative
		border-bottom: 1px solid $borderGray
		padding: 15px 12px
		.txt
			width: 240px
			display: block

		.i_bDelete
			position: absolute
			top: 50%
			margin-top: -10px
			right: 15px

.m_copyBtn
	width: 294px
	height: 34px
	line-height: 34px
	+border-radius(17px)

.rfriendBox
	p 
		margin-bottom: 35px
		line-height: 25px 

.shareBtnWrap
	text-align: center
	margin-top: 15px
	.s_btn
		margin-right: 5px
		display: inline-block

.edmBox
	.greenBtn
		height: 27px
		line-height: 27px
		margin-top: 15px


.m_book_list
	border-bottom: 1px dotted $dotColor
	.mbl_item
		display: inline-block
		vertical-align: text-top
		width: 32%
		
		
		.picBox
			height: 90px
		.txtBox
			margin: 5px 0
			min-height: 55px
		.i_bDelete
			display: block
			margin: 15px auto