/*mixin*/
@import compass/css3
@import mixin/layout
@import variable
.seeMoreContentBtn
	margin-left: 15px

.columnistInfoBox
	.coverPic
		width: 245px
		height: 264px
		margin: 0 auto

	.c_info
		margin-top: 15px

		.c_area
			float: left
			margin-right: 20px
		.c_name
			float: left
	.pinkBtn
		width: 60%
		height: 25px
		line-height: 25px
		margin: 15px auto

.articleTxtBox
	border-top: 1px solid $borderGray
	padding: 15px 0

	.a_title
		margin-top: 10px

	.txt
		margin-top: 10px
		line-height: 14px