/*mixin*/
@import compass/css3
@import mixin/layout
@import variable

.orangeTag
	padding: 0 15px
.videoList
	width: 320px
	margin: 0 auto
	ul 
		width: 320px
	.listItem
		width: 150px
		height: 205px
		border: 1px solid $borderGray
		margin: 15px 10px 0px 0px
		position: relative
		float: left
		padding: 10px 10px 0px 10px 
		.titleWrap
			position: absolute
			top: 10px
			.list_title
				background-color: $mainColor2
			.s_txt
				color: $borderGray
				display: inline-block
				line-height: 24px
		.date
			color: $borderGray
			margin-bottom: 5px
		h1
			font-size: 80%
			line-height: 24px
			margin-bottom: 10px
		.desc_txt 
			line-height: 24px
			margin-top: 5px
			color: $mainGray
			height: 60px
		.time_txt
			line-height: 24px
			color: #C2C2C2
			font-size: 70%
			margin-top: 5px
		.picWrap
			width: 130px
			height: 70px
			overflow: hidden
			.play_icon
				position: absolute
				margin: auto
				top: 0
				left: 0
				right: 0
				bottom: 0
				width: 50px
				height: 50px
				+opacity(0.6)
		.greenBorderBtn
			width: 226px
			left: 15px
			font-size: 116%
		.pinkBorderBtn
			width: 226px
			left: 15px
			font-size: 116%
		&.test 
			.titleWrap
				.list_title
					background-color: #01aeb4
		&.bigItem 
			width: 535px
			h1 
				height: 40px
			.container
				margin-top: 15px
				.lWrap	
					float: left
					width: 226px
				.rWrap
					float: left
					margin-left: 35px
					.datCalendarBox
						width: 226px
						height: 179px
						background-color: #cccccc
						+border-radius(10px)
						margin-top: 20px
						position: relative
						overflow: visible
						padding-top: 40px
						margin-bottom: 15px
						.container
							width: 200px
							height: 127px
							margin: 0px auto 
							background-color: white
							padding: 10px
							.txt	 
								font-size: 116%
								font-weight: bold
							.f_big
								font-size: 138%
							.count
								text-align: center
								.dayCount
									font-weight: bold
									font-size: 568%
						.lt
							width: 40px
							height: 50px
							border: 10px solid white
							position: absolute
							top: -20px
							left: 40px
							background-color: #cccccc
						.rt
							width: 40px
							height: 50px
							border: 10px solid white
							position: absolute
							top: -20px
							right: 40px
							background-color: #cccccc
	
@media screen and (max-width: $breakPoint)
	.videoList
		width: 320px
		margin: 0 auto
		ul 
			width: 320px